
<div>
    <h2><span translate="polsoftApp.userPassword.detail.title">User Password</span> {{vm.userPassword.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="polsoftApp.userPassword.password">Password</span></dt>
        <dd>
            <span>{{vm.userPassword.password}}</span>
        </dd>
        <dt><span translate="polsoftApp.userPassword.createdDate">Created Date</span></dt>
        <dd>
            <span>{{vm.userPassword.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span translate="polsoftApp.userPassword.user">User</span></dt>
        <dd>
            {{vm.userPassword.userId}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="user-password-detail.edit({id:vm.userPassword.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
