
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLogindataLabel" translate="polsoftApp.logindata.home.createOrEditLabel">Create or edit a Logindata</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.logindata.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.logindata.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="polsoftApp.logindata.failedAttempts" for="field_failedAttempts">Failed Attempts</label>
            <input type="number" class="form-control" name="failedAttempts" id="field_failedAttempts"
                    ng-model="vm.logindata.failedAttempts"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="polsoftApp.logindata.lastActiveDate" for="field_lastActiveDate">Last Active Date</label>
                <div class="input-group">
                    <input id="field_lastActiveDate" type="text" class="form-control" name="lastActiveDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.logindata.lastActiveDate" is-open="vm.datePickerOpenStatus.lastActiveDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastActiveDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label translate="polsoftApp.logindata.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.logindata.userId" ng-options="user.id as user. for user in vm.users"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
