
<div>
    <h2><span translate="polsoftApp.logindata.detail.title">Logindata</span> {{vm.logindata.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="polsoftApp.logindata.failedAttempts">Failed Attempts</span></dt>
        <dd>
            <span>{{vm.logindata.failedAttempts}}</span>
        </dd>
        <dt><span translate="polsoftApp.logindata.lastActiveDate">Last Active Date</span></dt>
        <dd>
            <span>{{vm.logindata.lastActiveDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span translate="polsoftApp.logindata.user">User</span></dt>
        <dd>
            {{vm.logindata.user}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="logindata-detail.edit({id:vm.logindata.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
