
<form name="editForm" role="form" novalidate ng-submit="vm.save(vm.addUser)">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserPermissionLabel" translate="form.addNewUser">Create or edit a User Permission</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label translate="form.selectUser" for="field_user">User</label>
            <select class="form-control width-360 ng-pristine ng-valid ng-not-empty ng-touched" id="field_user" name="user" ng-model="vm.addUser.userId" ng-options="user.login as user.login for user in vm.users"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group" ng-show="vm.addUser.userId">
           <div class="row">
						<div class="col-sm-6">
							<strong>Permissions</strong>
							<div class="checkbox">
								<label>Hide</label>
							</div>
							<div class="checkbox">
								<label>Acknowledge Alarms </label>
							</div>
							<div class="checkbox disabled">
								<label>Apply Alarms</label>
							</div>
						</div>
						<div class="col-sm-6">
							<strong>Yes/No</strong>

							<br>
							<label> <input type="checkbox" value="" ng-model="vm.addUser.permissions[2].granting" class="checkbox_permitions"></label><br>
							<label> <input type="checkbox" value="" ng-model="vm.addUser.permissions[1].granting" class="checkbox_permitions"></label><br>
							<label><input type="checkbox" value="" ng-model="vm.addUser.permissions[0].granting" class="checkbox_permitions"></label>
						</div>
					</div>
        </div>
      

        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
