
<form role="form">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserPermissionLabel" translate="global.form.Selectdevice">Select device to link</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="table-responsive">
			<table class="jh-table table table-striped">
				<thead>
					<tr>
						<th><span translate="global.field.id">ID</span></th>
						<th><span translate="polsoftApp.device.name">Name</span></th>
						<th><span translate="polsoftApp.device.detail.title">Device</span></th>
						<th></th>
					</tr>
				</thead>
       <tbody>
					<tr ng-repeat="device in vm.devices track by device.id" ng-click="vm.linkDevice(device.id)">
						<td><a ui-sref="device-detail({id:device.id})">{{device.id}}</a></td>
						<td>{{device.name}}</td>
						<td>{{device.deviceId}}</td>
					</tr>
				</tbody>
			</table>

        </div>
        
        
    </div>
    <div class="modal-footer">
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Link</span>
        </button>
    </div>
</form>
