<div class="row" style="margin-top: 20px">
	<div ng-if="vm.isAuthenticated()">
		<div class="col-md-4">
			<div class="panel panel-default treeHeightFixLM">
				<div class="panel-heading">
					<h3 class="panel-title">
						<i class="fa fa-long-arrow-right fa-fw"></i> Locations
					</h3>
				</div>
				<div class="panel-body">
					<div>
						<div id="tree">
							<label>NATCO PHARMA LTD</label>
							<abn-tree tree-data="my_data" tree-control="my_tree" expand-level="3" on-select="my_tree_handler(branch)" icon-expand="fa fa-chevron-right"
							 icon-collapse="fa fa-chevron-down" nomulti-select="true">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8" ng-if="selectedLocation">
			<ul class="nav nav-tabs">
				<li role="presentation" ng-class="{active: selectedTab=='devices'}"><a href ng-click="changeTab('devices')">Devices</a></li>
				<li role="presentation" ng-class="{active: selectedTab=='permissions'}"><a href ng-click="changeTab('permissions')">Permissions</a></li>
				<li role="presentation" ng-class="{active: selectedTab=='alarm'}"><a href ng-click="changeTab('alarm')">Alarms</a></li>
				<li role="presentation" ng-class="{active: selectedTab=='units'}"><a href ng-click="changeTab('units')">Units</a></li>

				<!-- <li role="presentation"
					ng-class="{active: selectedTab=='channelHistory'}"><a href
					ng-click="changeTab('channelHistory')">Linked Channels</a></li> -->
			</ul>

			<div ng-if="selectedTab=='permissions'">
				<button ng-if="selectedLocation" style="float: right" type="button" id="chartBtn" class="btn" ui-sref="locationmanager.new({location:selectedLocation})"
				 ui-sref-active="active" has-permission='{"level":"CREATE","resource":"LOCATION_MANAGER", "authority":"Administrator", "disableForPermission":true}'>Add
					User</button>
				<br> <br>

				<uib-accordion close-others="oneAtATime">
					<div uib-accordion-group class="panel-default" ng-repeat="(key, data) in groups">
						<uib-accordion-heading>
							<div>{{key}}</div>
						</uib-accordion-heading>
						<div class="row">
							<div class="col-sm-5">
								<strong>Permissions</strong>
								<div class="checkbox">
									<label>Hide</label>
								</div>
								<div class="checkbox">
									<label>Acknowledge Alarms </label>
								</div>
								<div class="checkbox disabled">
									<label>Apply Alarms</label>
								</div>
							</div>
							<div class="col-sm-5">
								<strong>Yes/No</strong> <br><label>
							<input type="checkbox" ng-model="data[0].granted" value=""
								class="checkbox_permitions" ui-sref-active="active"
				 has-permission='{"level":"EDIT","resource":"LOCATION_MANAGER", "authority":"Administrator", "disableForPermission":true}'>
				  </label><br>
								<label> <input
								type="checkbox" ng-model="data[1].granted" value=""
								class="checkbox_permitions" ui-sref-active="active"
				 has-permission='{"level":"EDIT","resource":"LOCATION_MANAGER", "authority":"Administrator", "disableForPermission":true}'>
				 </label><br>
								<label><input
								type="checkbox" ng-model="data[2].granted" value=""
								class="checkbox_permitions" ui-sref-active="active"
				 has-permission='{"level":"EDIT","resource":"LOCATION_MANAGER", "authority":"Administrator", "disableForPermission":true}'>
				  </label><br>
							</div>
							<div class="col-sm-12">
								<button style="float: right;" type="button" id="chartBtn" class="btn" ng-click="updatePermitions({'permissions':data},key)"
								 ui-sref-active="active" has-permission='{"level":"CREATE","resource":"LOCATION_MANAGER", "authority":"Administrator", "disableForPermission":true}'>Apply</button>
								<button style="float: right; margin-right: 10px;" type="button" id="chartBtn" class="btn" ng-click="removeUser({ 'permissions':data},key)"
								 ui-sref-active="active" has-permission='{"level":"CREATE","resource":"LOCATION_MANAGER", "authority":"Administrator", "disableForPermission":true}'>Remove</button>
							</div>
						</div>
					</div>
				</uib-accordion>
			</div>
			<div ng-if="selectedTab =='alarm'">
					<button  type="button" class="btn" style="float:right;margin-top:-15px">
						<a href="#/alarms/template" style="color:rgb(51, 51, 51);" role="button">Manage Alarm Templates</a>
					</button>

				<div class="alert-sticky fadein" role="alert" ng-if="serverError" ng-class="{'alert-sticky-admin': (pagePath() == 'admin'), 'show': (serverError)} ">
					<div class="container">
						<p class="pull-left"> <span class="error" ng-if="serverError">Error: </span> {{serverError}}
							<span class="success" ng-if="serverMessage">Success:  </span> {{serverMessage}}</p>
						<p class="pull-right"><a ng-click="serverError = false" class="icon-close close-alert" href="#"></a></p>

					</div>
				</div>
				<form name="editForm" role="form" novalidate ng-submit="vm.save()" style="display: inline;">

					<div class="check1">
						<span>Alarm Template</span>
						<select ng-change="getAlarmTemplate(templateName)" ng-model="templateName" ng-options="alarmtemplate.name for alarmtemplate in alarmtemplates"
						 ng-show="showSelect">
								</select>
						<label ng-show="!showSelect">{{alarmtemplates[0].name}}</label>
						
						<button type="button" class="btn" ng-click="deleteAlarmTemplate()" ng-show="vm.alarmtemplate.id">Remove</button>
						
						<button type="submit" class="btn">Save</button>
						<!-- <button  type="button" id="chartBtn" class="btn"  ui-sref-active="active"></button> -->

						
						

					</div>

					<div ng-show="vm.alarmtemplate.id" class="locationManager">
						<section>
							<div class="container">
								<!-- div class="buttons">
								<button type="button" ng-click="clearId()">New</button>
								<button type="button" ng-click="deleteAlarmTemplate()">Delete</button>
								<button type="submit">Save</button>
							</div> 
								<div class="check2">
									<label class="control-label" translate="polsoftApp.alarmtemplate.ackrequired" for="field_ackrequired">Acknowledgement required</label>									<input type="checkbox" name="ackrequired" id="field_ackrequired" ng-model="vm.alarmtemplate.ackrequired"> Yes/No
								</div>
								<div class="check3">
									<label class="control-label" translate="polsoftApp.alarmtemplate.commentsrequired" for="field_commentsrequired">Comments Required</label>									<input type="checkbox" name="commentsrequired" id="field_commentsrequired" ng-model="vm.alarmtemplate.commentsrequired">									Yes/No
								</div> -->

								<h4>Condition</h4>
								<!-- <input type="checkbox" checked="true"> Logical input state
								<div class="cond_tion">
									<label class="control-label" translate="polsoftApp.alarmtemplate.logicalmeasurepoint" for="field_logicalmeasurepoint">Measure Point</label>									<select ng-model="vm.alarmtemplate.logicalmeasurepoint">
									<option checked="true">Select</option>
									<option ng-repeat="measurePoint in measurePoints">{{measurePoint.name}}</option>
								</select>
								</div>
								<div class="cond_tion1">
									<label class="control-label" translate="polsoftApp.alarmtemplate.logicaldefaultvalue" for="field_logicaldefaultvalue">Default value</label>									<select ng-model="vm.alarmtemplate.logicaldefaultvalue">
									<option checked="true">Select</option>
									<option ng-repeat="defaultValue in defaultValues">{{defaultValue.name}}</option>
								</select>

								</div> -->
								<input type="checkbox" name="activetimechecked" id="field_activetimechecked" ng-model="vm.alarmtemplate.activetimechecked">								Active Time<br>

								<div ng-if="vm.alarmtemplate.activetimechecked" class="active_time" ng-repeat="schedulars in vm.alarmtemplate.alarmtemplateschedulars">

									<div class="day" style="line-height: 100px;width: 20%;">
										<input type="checkbox" name="day" id="field_day" ng-model="schedulars.checked">
										<span>{{schedulars.day}}</span>
									</div>
									<span>From : </span>
									<!--<input type="text" class="time" name="starttime" ng-model="schedulars.starttime" is-open="vm.datePickerOpenStatus.starttime">-->
									<!--{{date}}-->
									<datetimepicker hour-step="hourStep" minute-step="minuteStep" ng-model="schedulars.starttime" hidden-date="true" name="datetimepickerFrom{{$index}}"
									 show-spinners="true" show-meridian="false" />


									<span class="to">To : </span>
									<!--{{dateTo}}-->
									<!--<input type="text" class="time" name="endtime" ng-model="schedulars.endtime" is-open="vm.datePickerOpenStatus.endtime">-->

									<datetimepicker hour-step="hourStep" minute-step="minuteStep" ng-model="schedulars.endtime" hidden-date="true" name="datetimepickerTo{{$index}}"
									 show-spinners="true" show-meridian="false" />

								</div>
							</div>
						</section>
						<section class="trigger">
							<div class="container">
								<h4>Trigger Set-1 (Default)</h4>
								<br> <input type="checkbox" name="day" id="field_day" ng-model="vm.alarmtemplate.trigger1warning.clicked"><span>
								Warning</span><br>
								<div class="limit" ng-if="vm.alarmtemplate.trigger1warning.clicked">
									<div class="high">
										<label class="control-label" translate="polsoftApp.alarmtemplatelimit.highlimit" for="field_highlimit">High Limit</label>
									</div>
									<input type="text" name="highlimit" id="field_highlimit" ng-model="vm.alarmtemplate['trigger1warning'].highlimit"><br>
									<div class="high">
										<label class="control-label" translate="polsoftApp.alarmtemplatelimit.lowlimit" for="field_lowlimit">Low Limit</label>
									</div>
									<input type="text" name="lowlimit" id="field_lowlimit" ng-model="vm.alarmtemplate['trigger1warning'].lowlimit"><br>
									<div class="high">
										<label class="control-label" translate="polsoftApp.alarmtemplatelimit.roc" for="field_roc">ROC</label>
									</div>
									<input type="text" name="roc" id="field_roc" ng-model="vm.alarmtemplate['trigger1warning'].roc"><br>
									<!-- <div class="high">
										<label class="control-label" translate="polsoftApp.alarmtemplatelimit.schedular" for="field_schedular">Shedular</label>
									</div>
									<input type="text" name="schedular" id="field_schedular" ng-model="vm.alarmtemplate['trigger1warning'].schedular"><br>
									<div class="high">
										<label class="control-label" translate="polsoftApp.alarmtemplatelimit.delay" for="field_delay">Delay</label>
									</div>
									<input type="text" name="delay" id="field_delay" ng-model="vm.alarmtemplate['trigger1warning'].delay"><br>
									 -->
									<div>

										<!-- <div class="checkbox">
											<input type="checkbox" name="email1" ng-model="vm.alarmtemplate['trigger1warning'].email" style="width:30px"><span>
								Email</span><input required placeholder="Email address" class="input_alram_template" type="text" ng-if="vm.alarmtemplate['trigger1warning'].email"
											 ng-model="vm.alarmtemplate['trigger1warning'].emailids" value=""><br>

										</div>
 -->
										<div class="checkbox">
											<input type="checkbox" name="sms1" ng-model="vm.alarmtemplate['trigger1warning'].sms" style="width:30px"><span>
								SMS</span><input type="text" required class="input_alram_template" ng-if="vm.alarmtemplate['trigger1warning'].sms"
											 ng-model="vm.alarmtemplate['trigger1warning'].mobilenumbers" value="" placeholder="Mobile number"><br>
										</div>
									</div>
								</div>

								<input type="checkbox" ng-model="vm.alarmtemplate.trigger1Alarm.clicked"><span>
								Alarm</span><br>
								<div class="limit" ng-if="vm.alarmtemplate.trigger1Alarm.clicked">
									<div class="high">
										<label class="control-label" translate="polsoftApp.alarmtemplatelimit.highlimit" for="field_highlimit">High Limit</label>
									</div>
									<input type="text" name="highlimit" id="field_highlimit" ng-model="vm.alarmtemplate['trigger1Alarm'].highlimit"><br>
									<div class="high">
										<label class="control-label" translate="polsoftApp.alarmtemplatelimit.lowlimit" for="field_lowlimit">Low Limit</label>
									</div>
									<input type="text" name="lowlimit" id="field_lowlimit" ng-model="vm.alarmtemplate['trigger1Alarm'].lowlimit"><br>
									<div class="high">
										<label class="control-label" translate="polsoftApp.alarmtemplatelimit.roc" for="field_roc">ROC</label>
									</div>
									<input type="text" name="roc" id="field_roc" ng-model="vm.alarmtemplate['trigger1Alarm'].roc"><br>
									<!-- <div class="high">
										<label class="control-label" translate="polsoftApp.alarmtemplatelimit.schedular" for="field_schedular">Shedular</label>
									</div>
									<input type="text" name="schedular" id="field_schedular" ng-model="vm.alarmtemplate['trigger1Alarm'].schedular"><br>
									<div class="high">
										<label class="control-label" translate="polsoftApp.alarmtemplatelimit.delay" for="field_delay">Delay</label>
									</div>
									<input type="text" name="delay" id="field_delay" ng-model="vm.alarmtemplate['trigger1Alarm'].delay"><br>
									<div class="high">
										<label class="control-label" translate="polsoftApp.alarmtemplatelimit.action" for="field_action">Action</label>
									</div>
									<br> -->
									
									<div>

									<!-- 	<div class="checkbox">
											<input type="checkbox" name="email1" ng-model="vm.alarmtemplate['trigger1Alarm'].email" style="width:30px"><span>
								Email</span><input required placeholder="Email address" class="input_alram_template" type="text" ng-if="vm.alarmtemplate['trigger1Alarm'].email"
											 ng-model="vm.alarmtemplate['trigger1Alarm'].emailids" value=""><br>

										</div>
 -->
										<div class="checkbox">
											<input type="checkbox" name="sms1" ng-model="vm.alarmtemplate['trigger1Alarm'].sms" style="width:30px"><span>
								SMS</span><input type="text" required class="input_alram_template" ng-if="vm.alarmtemplate['trigger1Alarm'].sms"
											 ng-model="vm.alarmtemplate['trigger1Alarm'].mobilenumbers" value="" placeholder="Mobile number"><br>
										</div>
									</div>
								</div>
							</div>
						</section>

						<section class="trigger">
							<div class="container">
								<h4>Trigger Set-2 (If beyond Active or Condition time not Default)
								</h4>
								<br> <input type="checkbox" ng-model="vm.alarmtemplate['trigger2warning'].clicked"><span>
								Warning</span><br>
								<div class="limit" ng-if="vm.alarmtemplate['trigger2warning'].clicked">
									<div class="high">
										<label class="control-label" translate="polsoftApp.alarmtemplatelimit.highlimit" for="field_highlimit">High Limit</label>
									</div>
									<input type="text" name="highlimit" id="field_highlimit" ng-model="vm.alarmtemplate['trigger2warning'].highlimit"><br>
									<div class="high">
										<label class="control-label" translate="polsoftApp.alarmtemplatelimit.lowlimit" for="field_lowlimit">Low Limit</label>
									</div>
									<input type="text" name="lowlimit" id="field_lowlimit" ng-model="vm.alarmtemplate['trigger2warning'].lowlimit"><br>
									<div class="high">
										<label class="control-label" translate="polsoftApp.alarmtemplatelimit.roc" for="field_roc">ROC</label>
									</div>
									<input type="text" name="roc" id="field_roc" ng-model="vm.alarmtemplate['trigger2warning'].roc"><br>
									<!-- <div class="high">
										<label class="control-label" translate="polsoftApp.alarmtemplatelimit.schedular" for="field_schedular">Shedular</label>
									</div>
									<input type="text" name="schedular" id="field_schedular" ng-model="vm.alarmtemplate['trigger2warning'].schedular"><br>
									<div class="high">
										<label class="control-label" translate="polsoftApp.alarmtemplatelimit.delay" for="field_delay">Delay</label>
									</div>
									<input type="text" name="delay" id="field_delay" ng-model="vm.alarmtemplate['trigger2warning'].delay"><br>
									 -->
									<div>

										<!-- <div class="checkbox">
											<input type="checkbox" name="email1" ng-model="vm.alarmtemplate['trigger2warning'].email" style="width:30px"><span>
								Email</span><input required placeholder="Email address" class="input_alram_template" type="text" ng-if="vm.alarmtemplate['trigger2warning'].email"
											 ng-model="vm.alarmtemplate['trigger2warning'].emailids" value=""><br>

										</div> -->

										<div class="checkbox">
											<input type="checkbox" name="sms1" ng-model="vm.alarmtemplate['trigger2warning'].sms" style="width:30px"><span>
								SMS</span><input type="text" required class="input_alram_template" ng-if="vm.alarmtemplate['trigger2warning'].sms"
											 ng-model="vm.alarmtemplate['trigger2warning'].mobilenumbers" value="" placeholder="Mobile number"><br>
										</div>
									</div>

								</div>

								<input type="checkbox" ng-model="vm.alarmtemplate['trigger2Alarm'].clicked"><span>
								Alarm</span><br>
								<div class="limit" ng-if="vm.alarmtemplate['trigger2Alarm'].clicked">
									<div class="high">
										<label class="control-label" translate="polsoftApp.alarmtemplatelimit.highlimit" for="field_highlimit">High Limit</label>
									</div>
									<input type="text" name="highlimit" id="field_highlimit" ng-model="vm.alarmtemplate['trigger2Alarm'].highlimit"><br>
									<div class="high">
										<label class="control-label" translate="polsoftApp.alarmtemplatelimit.lowlimit" for="field_lowlimit">Low Limit</label>
									</div>
									<input type="text" name="lowlimit" id="field_lowlimit" ng-model="vm.alarmtemplate['trigger2Alarm'].lowlimit"><br>
									<div class="high">
										<label class="control-label" translate="polsoftApp.alarmtemplatelimit.roc" for="field_roc">ROC</label>
									</div>
									<input type="text" name="roc" id="field_roc" ng-model="vm.alarmtemplate['trigger2Alarm'].roc"><br>
								<!-- 	<div class="high">
										<label class="control-label" translate="polsoftApp.alarmtemplatelimit.schedular" for="field_schedular">Shedular</label>
									</div>
									<input type="text" name="schedular" id="field_schedular" ng-model="vm.alarmtemplate['trigger2Alarm'].schedular"><br>
									<div class="high">
										<label class="control-label" translate="polsoftApp.alarmtemplatelimit.delay" for="field_delay">Delay</label>
									</div>
									<input type="text" name="delay" id="field_delay" ng-model="vm.alarmtemplate['trigger2Alarm'].delay"><br>
									<div class="high">
										<label class="control-label" translate="polsoftApp.alarmtemplatelimit.action" for="field_action">Action</label>
									</div>
									<br> -->
									
									<div>

										<!-- <div class="checkbox">
											<input type="checkbox" name="email1" ng-model="vm.alarmtemplate['trigger2Alarm'].email" style="width:30px"><span>
								Email</span><input required placeholder="Email address" class="input_alram_template" type="text" ng-if="vm.alarmtemplate['trigger2Alarm'].email"
											 ng-model="vm.alarmtemplate['trigger2Alarm'].emailids" value=""><br>

										</div>
 -->
										<div class="checkbox">
											<input type="checkbox" name="sms1" ng-model="vm.alarmtemplate['trigger2Alarm'].sms" style="width:30px"><span>
								SMS</span><input type="text" required class="input_alram_template" ng-if="vm.alarmtemplate['trigger2Alarm'].sms"
											 ng-model="vm.alarmtemplate['trigger2Alarm'].mobilenumbers" value="" placeholder="Mobile number"><br>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</form>
			</div>

			<div ng-if="selectedTab =='devices'">
				<div ng-if="linkedChanels.dchannelId !=null">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Location Name</th>
								<th>Device Id</th>
								<th>Device Name</th>
								<th>Channel Id</th>
								<th>Channel Name</th>
								<th></th>

							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{linkedChanels.name}}</td>
								<td>{{linkedChanels.deviceid}}</td>
								<td> {{linkedChanels.devicename}}</td>
								<td>{{linkedChanels.dchannelId}}</td>
								<td>{{linkedChanels.channelName}}</td>
								<td><button style="float: right" type="button" id="chartBtn" class="btn" ng-click="unlinkDevice(channel.id)" ui-sref-active="active"
									 has-permission='{"level":"CREATE","resource":"LOCATION_MANAGER", "authority":"Administrator", "disableForPermission":true}'>Unlink
										Channel</button></td>

							</tr>
						</tbody>
					</table>
				</div>
				<div>
					<uib-accordion close-others="oneAtATime">
						<div uib-accordion-group class="panel-default" ng-repeat="data in allDevices">
							<uib-accordion-heading>
								<div ng-click="getChannelsForDevice(data.id)">{{data.id}} {{data.name}}
								</div>
							</uib-accordion-heading>

							<div class="row divDevicesFix" ng-click="$event.stopPropagation();$event.preventDefault();">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>Channel Id</th>
											<th>Name</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="channel in deviceChannels | orderBy:natural('name')">
											<td>{{channel.id}}</td>
											<td>{{channel.name}}</td>
											<td><button ng-if="linkedChanels.dchannelId == null" style="float: right" type="button" id="chartBtn" class="btn"
												 ng-click="linkDevice(channel.id,channel.deviceId,data.name)" ui-sref-active="active" has-permission='{"level":"CREATE","resource":"LOCATION_MANAGER", "authority":"Administrator", "disableForPermission":true}'>Link Channel</button></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</uib-accordion>
				</div>
			</div>
			<div ng-if="selectedTab =='units'">
				<div class="checkunit">
					<span>Unit</span>
					<select ng-model="vm.unit" ng-options="value for (key, value) in units">
					</select>
					<button class="btn" style="margin-left:10px" ng-click="linkUnit()">Save</button>
					
				</div>
			</div>
		</div>
	</div>
</div>