
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLocationLabel" translate="polsoftApp.location.home.createOrEditLabel">Create or edit a Location</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.location.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.location.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="polsoftApp.location.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.location.name" ng-disabled="vm.location.id!=null"/>
        </div>
        <div class="form-group">
            <label class="control-label" translate="polsoftApp.location.leaf" for="field_leaf">Leaf</label>
            <input type="checkbox" class="form-control" name="leaf" id="field_leaf"
                    ng-model="vm.location.leaf" ng-disabled="vm.location.id!=null"/>
        </div>

        <div class="form-group">
            <label translate="polsoftApp.location.parent" for="field_parent">Parent</label>
            <select class="form-control" id="field_parent" name="parent" ng-model="vm.location.parentId" ng-options="location.id as location.name for location in vm.locations" 
             ng-disabled="vm.location.id!=null"          >
                <option value=""></option>
            </select>
        </div>
      <!--   <div class="form-group">
            <label translate="polsoftApp.location.dchannel" for="field_dchannel">Dchannel</label>
            <select class="form-control" id="field_dchannel" name="dchannel" ng-model="vm.location.dchannelId" ng-options="dchannel.id as dchannel.id for dchannel in vm.dchannels | orderBy:'id'"
            ng-disabled="vm.location.id!=null" >
                <option value=""></option>
            </select>
        </div> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
