
<div>
    <h2><span translate="polsoftApp.location.detail.title">Location</span> {{vm.location.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="polsoftApp.location.name">Name</span></dt>
        <dd>
            <span>{{vm.location.name}}</span>
        </dd>
        <dt><span translate="polsoftApp.location.leaf">Leaf</span></dt>
        <dd>
            <span>{{vm.location.leaf}}</span>
        </dd>
        <dt><span translate="polsoftApp.location.parent">Parent</span></dt>
        <dd>
            <a ui-sref="location-detail({id:vm.location.parentId})">{{vm.location.parentId}}</a>
        </dd>
        <dt><span translate="polsoftApp.location.dchannel">Dchannel</span></dt>
        <dd>
            <a ui-sref="dchannel-detail({id:vm.location.dchannelId})">{{vm.location.dchannelId}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="location-detail.edit({id:vm.location.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
