<div>
    <h2 translate="polsoftApp.location.home.title">Locations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="location.new" ui-sref-active="active"
				 has-permission='{"level":"CREATE","resource":"locations", "authority":"Administrator", "disableForPermission":true}'>
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="polsoftApp.location.home.createLabel">
                        Create new Location
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'polsoftApp.location.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="col-md-3">

		<abn-tree tree-data="treeData" icon-leaf = "fa fa-thermometer-half" tree-control="my_tree"
								 expand-level="3">
	</div>
	<div class="col-md-9">
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="polsoftApp.location.name">Name</span></th>
                    <th><span translate="polsoftApp.location.leaf">Leaf</span></th>
                    <th><span translate="polsoftApp.location.parent">Parent</span></th>
                    <th><span translate="polsoftApp.location.dchannel">Dchannel</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="location in vm.locations track by location.id">
                    <td><a ui-sref="location-detail({id:location.id})">{{location.id}}</a></td>
                    <td>{{location.name}}</td>
                    <td>{{location.leaf}}</td>
                    <td>
                        <a ui-sref="location-detail({id:location.parentId})">{{location.parentId}}</a>
                    </td>
                    <td>
                        <a ui-sref="dchannel-detail({id:location.dchannelId})">{{location.dchannelId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="location-detail({id:location.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <!--<span class="hidden-xs hidden-sm" translate="entity.action.view"></span>-->
                            </button>
                            <button type="submit"
                                    ui-sref="location.edit({id:location.id})"
                                    class="btn btn-primary btn-sm" ui-sref-active="active"
				 has-permission='{"level":"EDIT","resource":"LOCATION", "authority":"Administrator", "disableForPermission":true}'>
                                <span class="glyphicon glyphicon-pencil"></span>
                                <!--<span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>-->
                            </button>
                 
                            <button type="submit" ng-hide="location.hasData"
                                    ui-sref="location.delete({id:location.id})"
                                    class="btn btn-danger btn-sm" ui-sref-active="active"
				 has-permission='{"level":"DELETE","resource":"LOCATION", "authority":"Administrator", "disableForPermission":true}'>
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <!--<span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>-->
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
