
<div>
    <h2><span translate="polsoftApp.userPermission.detail.title">User Permission</span> {{vm.userPermission.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="polsoftApp.userPermission.permission">Permission</span></dt>
        <dd>
            <span>{{vm.userPermission.permission}}</span>
        </dd>
        <dt><span translate="polsoftApp.userPermission.name">Name</span></dt>
        <dd>
            <span>{{vm.userPermission.name}}</span>
        </dd>
        <dt><span translate="polsoftApp.userPermission.user">User</span></dt>
        <dd>
            {{vm.userPermission.userId}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="user-permission-detail.edit({id:vm.userPermission.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
