
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserPermissionLabel" translate="polsoftApp.userPermission.home.createOrEditLabel">Create or edit a User Permission</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.userPermission.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.userPermission.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="polsoftApp.userPermission.permission" for="field_permission">Permission</label>
            <input type="number" class="form-control" name="permission" id="field_permission"
                    ng-model="vm.userPermission.permission"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="polsoftApp.userPermission.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.userPermission.name"
                     />
        </div>

        <div class="form-group">
            <label translate="polsoftApp.userPermission.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.userPermission.userId" ng-options="user.id as user.id for user in vm.users"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
