
<div style="width: 75%;">
	<div style="text-align: center;" class="account-wall">
		<h1 class="login-title" translate="login.title">
			Sign in
			<h4></h4>
		</h1>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="alert alert-danger" ng-show="vm.authenticationError"
				translate="login.messages.error.authentication">
				<strong>Failed to sign in!</strong> Please check your credentials
				and try again.
			</div>
			<div class="alert alert-danger" ng-show="vm.userDeactivated"
				translate="login.messages.error.deactivated">
				<strong>Failed to sign in!</strong> Please check your credentials
				and try again.
			</div>
			<div class="alert alert-danger" ng-show="vm.userSessionExists">
				<strong>User session</strong> already exists.
			</div>
			<div class="alert alert-danger" ng-show="vm.userSessionExceeded">
				<strong>Failed to sign in!</strong>, max sessions reached.
			</div>
			<div class="alert alert-danger" ng-show="vm.UserloggedinIPNotAllowed">
				<strong>Failed to sign in!</strong> user not allowed to login from
				this IP Address
			</div>
			<div class="alert alert-danger" ng-show="vm.additionaMessage">
				<strong>Failed to sign in!</strong> {{vm.additionaMessage}}
			</div>
		</div>
		<table class="col-md-8 col-md-offset-2">
			<tr>
				<td>
					<div class="col-md-8 col-md-offset-2">
						<form class="form-signin" role="form" name="loginForm"
							autocomplete="off" action="entry" method="post">
							<div style="display: none">
								<input type="password" />
							</div>
							<div class="form-group">
								<label for="username" translate="login.form.username">Login</label>
								<input required type="text" class="form-control" id="username"
									placeholder="{{'login.form.username.placeholder' | translate}}"
									ng-model="vm.username" autocomplete="off">
							</div>
							<div class="form-group">
								<label for="password" translate="login.form.password">Password</label>
								<input required type="password"
									class="form-control password_hide" id="password"
									placeholder="{{'login.form.password.placeholder' | translate}}"
									ng-model="vm.password" readonly autocomplete="off"
									style="-webkit-text-security: disc;"
									onfocus="this.removeAttribute('readonly');" />
							</div>
						</form>
					</div>
				</td>
			</tr>

			<tr>
				<td align="middle">
					<button type="submit" class="btn btn-primary"
						translate="login.form.button"
						ng-click="vm.login($event,loginForm)" ng-disabled="vm.isLoginInProgress">Sign in</button>
				</td>
			</tr>

		</table>
	</div>
</div>
<div></div>

