<div>
    <h2 translate="polsoftApp.reportTemplate.home.title">Report Templates</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="report-template.new" ui-sref-active="active"
				 has-permission='{"level":"CREATE","resource":"report-template", "authority":"Administrator", "disableForPermission":true}'>
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="polsoftApp.reportTemplate.home.createLabel">
                        Create new Report Template
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'polsoftApp.reportTemplate.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="polsoftApp.reportTemplate.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="settings"><span translate="polsoftApp.reportTemplate.settings">Settings</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="reportTemplate in vm.reportTemplates track by reportTemplate.id">
                    <td><a ui-sref="report-template-detail({id:reportTemplate.id})">{{reportTemplate.id}}</a></td>
                    <td>{{reportTemplate.name}}</td>
                    <td>{{reportTemplate.settings}}</td>
                    <td>
                    	<input type="datetime-local" ng-model="reportTemplate.fromDate"/>
                    	<input type="datetime-local" ng-model="reportTemplate.toDate"/>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                           <!--  <button type="submit" ui-sref-active="active"
				 has-permission='{"level":"VIEW","resource":"report-template", "authority":"Administrator", "disableForPermission":true}'
                                    ui-sref="report-template-detail({id:reportTemplate.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button> -->
                            <button type="submit"
                                    ui-sref="report-template.edit({id:reportTemplate.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <!-- <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span> -->
                            </button>
                            <button type="submit" ui-sref-active="active"
				 has-permission='{"level":"DELETE","resource":"report-template", "authority":"Administrator", "disableForPermission":true}'
                                    ui-sref="report-template.delete({id:reportTemplate.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <!-- <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span> -->
                            </button>
                             <a  ng-click='vm.download(reportTemplate)' class="btn btn-danger btn-sm" >
                                <span class="glyphicon glyphicon-download-alt"></span>
                                <!-- <span class="hidden-xs hidden-sm" translate="entity.action.download"></span> -->
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
