
<div>
    <h2><span translate="polsoftApp.reportTemplate.detail.title">Report Template</span> {{vm.reportTemplate.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="polsoftApp.reportTemplate.name">Name</span></dt>
        <dd>
            <span>{{vm.reportTemplate.name}}</span>
        </dd>
        <dt><span translate="polsoftApp.reportTemplate.settings">Settings</span></dt>
        <dd>
            <span>{{vm.reportTemplate.settings}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="report-template-detail.edit({id:vm.reportTemplate.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
