<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myReportTemplateLabel" translate="polsoftApp.reportTemplate.home.createOrEditLabel">Create or edit a Report Template</h4>
    </div>
    <div class="modal-body">
    <jhi-alert></jhi-alert>
        <div class="form-group" ng-show="vm.reportTemplate.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" ng-model="vm.reportTemplate.id" readonly />
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-long-arrow-right fa-fw"></i> Locations
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div>
                            <div id="tree">
                                <label>NATCO PHARMA LTD</label>
                                <abn-tree tree-data="my_data" tree-control="my_tree" expand-level="3" on-select="my_tree_handler(branch)" icon-expand="fa fa-chevron-right"
                                    icon-collapse="fa fa-chevron-down" selected-locations-count="vm.reportTemplate.locations.length"   limit-locations="10" selected-location-ids="vm.reportTemplate.locations">
                                    
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" ng-if="vm.reportTemplate.locations.length">
                <label class="control-label" translate="polsoftApp.reportTemplate.templatename" for="field_settings">Template Name</label>
                <input type="text" class="form-control" name="templateName" id="field_templateName" ng-model="vm.reportTemplate.name" placeholder="Report Name"/><br>
                <label class="control-label" translate="polsoftApp.reportTemplate.sampling" for="field_settings">Sampling Interval</label>
                <br>
                <input class="form-control" type="number" onKeyPress="if(this.value.length==2) return false;" ng-model="vm.reportTemplate.samplingData" value="" style="width:90px"
                    required ng-maxlength="3" >
                <select class="form-control" id="template" name="template" ng-model="vm.reportTemplate.timeFrame" style="margin-top: -34px;margin-left: 96px; width: 110px;"
                    required>
                     <!--<option value=""></option>-->
                    <option value="Minutes">Minutes</option>
                    <option value="Hours">Hours</option>
                 </select>
                <br/>
                <label class="control-label" for="field_settings">Report Duration(Minutes)</label>
                <input type="number" class="form-control" name="reportDuration" id="reportDuration" ng-model="vm.reportTemplate.reportDuration" placeholder="Report Duration"/><br>
                <label class="control-label" for="sendEmail">Send Email</label>
                <input type="checkbox"  name="sendEmail" id="field_sendEmail"
                    ng-model="vm.reportTemplate.sendEmail"/>
                <br/>
				<label class="control-label" translate="polsoftApp.reportTemplate.users" for="users" ng-show="vm.reportTemplate.sendEmail">users</label>
				<select class="form-control" id="users" name="users" ng-model="vm.reportTemplate.users" 
						style="margin-top: -30px;margin-left: 55px; width: 110px;" multiple ng-options="user for user in vm.emailUsers" ng-show="vm.reportTemplate.sendEmail">
                </select>
                <br/>    
				<label class="control-label" translate="polsoftApp.reportTemplate.owner" for="owner">Owner</label>
				<select class="form-control" id="owner" name="owner" ng-model="vm.reportTemplate.owner" 
						style="margin-top: -30px;margin-left: 55px; width: 110px;" ng-options="user for user in vm.emailUsers">
                </select>
            </div>
        </div>
        <div class="form-group">
            <!--<label class="control-label" translate="polsoftApp.reportTemplate.settings" for="field_settings">Settings</label>-->
            <input style="opacity: 0;" readonly type="text" class="form-control" name="settings" id="field_settings" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>