
<div>
    <h2><span translate="polsoftApp.channelAlarm.detail.title">Channel Alarm</span> {{vm.channelAlarm.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="polsoftApp.channelAlarm.low">Low</span></dt>
        <dd>
            <span>{{vm.channelAlarm.low}}</span>
        </dd>
        <dt><span translate="polsoftApp.channelAlarm.high">High</span></dt>
        <dd>
            <span>{{vm.channelAlarm.high}}</span>
        </dd>
        <dt><span translate="polsoftApp.channelAlarm.lowLow">Low Low</span></dt>
        <dd>
            <span>{{vm.channelAlarm.lowLow}}</span>
        </dd>
        <dt><span translate="polsoftApp.channelAlarm.highHigh">High High</span></dt>
        <dd>
            <span>{{vm.channelAlarm.highHigh}}</span>
        </dd>
        <dt><span translate="polsoftApp.channelAlarm.dchannel">Dchannel</span></dt>
        <dd>
            <a ui-sref="dchannel-detail({id:vm.channelAlarm.dchannelId})">{{vm.channelAlarm.dchannelId}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="channel-alarm-detail.edit({id:vm.channelAlarm.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
