<div>
    <h2 translate="polsoftApp.channelAlarm.home.title">Channel Alarms</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="channel-alarm.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="polsoftApp.channelAlarm.home.createLabel">
                        Create new Channel Alarm
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'polsoftApp.channelAlarm.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="polsoftApp.channelAlarm.low">Low</span></th>
                    <th><span translate="polsoftApp.channelAlarm.high">High</span></th>
                    <th><span translate="polsoftApp.channelAlarm.lowLow">Low Low</span></th>
                    <th><span translate="polsoftApp.channelAlarm.highHigh">High High</span></th>
                    <th><span translate="polsoftApp.channelAlarm.dchannel">Dchannel</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="channelAlarm in vm.channelAlarms track by channelAlarm.id">
                    <td><a ui-sref="channel-alarm-detail({id:channelAlarm.id})">{{channelAlarm.id}}</a></td>
                    <td>{{channelAlarm.low}}</td>
                    <td>{{channelAlarm.high}}</td>
                    <td>{{channelAlarm.lowLow}}</td>
                    <td>{{channelAlarm.highHigh}}</td>
                    <td>
                        <a ui-sref="dchannel-detail({id:channelAlarm.dchannelId})">{{channelAlarm.dchannelId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="channel-alarm-detail({id:channelAlarm.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="channel-alarm.edit({id:channelAlarm.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="channel-alarm.delete({id:channelAlarm.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
