
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myChannelAlarmLabel" translate="polsoftApp.channelAlarm.home.createOrEditLabel">Create or edit a Channel Alarm</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.channelAlarm.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.channelAlarm.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="polsoftApp.channelAlarm.low" for="field_low">Low</label>
            <input type="number" class="form-control" name="low" id="field_low"
                    ng-model="vm.channelAlarm.low"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="polsoftApp.channelAlarm.high" for="field_high">High</label>
            <input type="number" class="form-control" name="high" id="field_high"
                    ng-model="vm.channelAlarm.high"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="polsoftApp.channelAlarm.lowLow" for="field_lowLow">Low Low</label>
            <input type="number" class="form-control" name="lowLow" id="field_lowLow"
                    ng-model="vm.channelAlarm.lowLow"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="polsoftApp.channelAlarm.highHigh" for="field_highHigh">High High</label>
            <input type="number" class="form-control" name="highHigh" id="field_highHigh"
                    ng-model="vm.channelAlarm.highHigh"
                     />
        </div>

        <div class="form-group">
            <label translate="polsoftApp.channelAlarm.dchannel" for="field_dchannel">Dchannel</label>
            <select class="form-control" id="field_dchannel" name="dchannel" ng-model="vm.channelAlarm.dchannelId" ng-options="dchannel.id as dchannel.id for dchannel in vm.dchannels"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
