<div>
    <h2 translate="polsoftApp.template.home.title">Templates</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="template.new" has-permission='{"level":"CREATE","resource":"TEMPLATE", "authority":"Administrator"}'>
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="polsoftApp.template.home.createLabel">
                        Create new Template
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right">
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'polsoftApp.template.home.search' | translate }}">
                        <span class="input-group-btn width-min">
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="polsoftApp.template.templateName">Template Name</span></th>
                    <th><span translate="polsoftApp.template.thresholds">Thresholds</span></th>
                    <th><span translate="polsoftApp.template.emails">Emails</span></th>
                    <th><span translate="polsoftApp.template.sms">Sms</span></th>
                    <th><span translate="polsoftApp.template.acknowledgeWithComment">Acknowledge With Comment</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="template in vm.templates track by $index">
                    <td><a ui-sref="template-detail({id:template.id})">{{template.id}}</a></td>
                    <td>{{template.templateName }}</td>
                    <td>
                        <div ng-repeat="(key, value) in template.thresholds">
                            <div> {{ value.thresholdName }} </div>
                        </div>
                    </td>

                    <td>
                        <div ng-repeat="(key, value) in template.emails">
                            <div> {{ value.value }} </div>
                        </div>
                    </td>

                    <td>
                        <div ng-repeat="(key, value) in template.sms">
                            <div> {{ value.value }} </div>
                        </div>
                    </td>

                    <td>{{template.acknowledgeWithComment}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" ui-sref="template-detail({id:template.id})" class="btn btn-info btn-sm" has-permission='{"level":"VIEW","resource":"TEMPLATE", "authority":"Administrator"}'>
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit" ui-sref="template.edit({id:template.id})" class="btn btn-primary btn-sm" has-permission='{"level":"EDIT","resource":"TEMPLATE", "authority":"Administrator"}'>
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit" ui-sref="template.delete({id:template.id})" class="btn btn-danger btn-sm" has-permission='{"level":"DELETE","resource":"TEMPLATE", "authority":"Administrator"}'>
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
