<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTemplateLabel" translate="polsoftApp.template.home.createOrEditLabel">Create or edit a Template</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.template.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.template.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="polsoftApp.template.templateName" for="field_templateName">Template Name</label>
            <input type="text" class="form-control" name="templateName" id="field_templateName"
                    ng-model="vm.template.templateName"
                    required />
            <div ng-show="editForm.templateName.$invalid">
                <p class="help-block"
                    ng-show="editForm.templateName.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="polsoftApp.template.thresholds" for="field_thresholds">Thresholds</label>
        </div>
        <multiselect ng-model="vm.template.thresholds" id="field_thresholds" options="vm.getThresholds" id-prop="id" display-prop="thresholdName">
        </multiselect>

        <div class="form-group">
            <label class="control-label" for="from_email">Emails To:</label>
            <js-tag js-tag-options="vm.jsTagOptionsForEMAIL"></js-tag>
        </div>

        <div class="form-group">
            <label class="control-label" for="from_sms">SMS To:</label>
            <js-tag js-tag-options="vm.jsTagOptionsForSMS"></js-tag>
        </div>

        <div class="form-group">
            <label class="control-label" translate="polsoftApp.template.acknowledgeWithComment" for="field_acknowledgeWithComment">Acknowledge With Comment</label>
            <input type="checkbox" class="form-control" name="acknowledgeWithComment" id="field_acknowledgeWithComment"
                    ng-model="vm.template.acknowledgeWithComment"
                     />
            <div ng-show="editForm.acknowledgeWithComment.$invalid">
                <p class="help-block"
                    ng-show="editForm.acknowledgeWithComment.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>