
<div>
    <h2><span translate="polsoftApp.template.detail.title">Template</span> {{vm.template.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="polsoftApp.template.templateName">Template Name</span></dt>
        <dd>
            <span>{{vm.template.templateName}}</span>
        </dd>
        <dt><span translate="polsoftApp.template.thresholds">Thresholds</span></dt>
        <dd>
            <span>{{vm.template.thresholds}}</span>
        </dd>
        <dt><span translate="polsoftApp.template.sms">Sms</span></dt>
        <dd>
            <span>{{vm.template.sms}}</span>
        </dd>
        <dt><span translate="polsoftApp.template.emails">Emails</span></dt>
        <dd>
            <span>{{vm.template.emails}}</span>
        </dd>
        <dt><span translate="polsoftApp.template.acknowledgeWithComment">Acknowledge With Comment</span></dt>
        <dd>
            <span>{{vm.template.acknowledgeWithComment}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="template-detail.edit({id:vm.template.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
