<div>
	<div class="hideWhenPrint">
		<h2 translate="polsoftApp.alarms.home.title">Alarms</h2>
		<!-- <a class="button" href="#/alarms/template"> Add New AlarmTemplate </a> -->
		<jhi-alert></jhi-alert>
	</div>
	<div class="row">
		<div class="col-md-8 hideWhenPrint">

			<div class="row">
				<div class="col-md-8">
					<h5 translate="polsoftApp.alarms.filter.title">Filter by date</h5>
				</div>
				<div class="col-md-4" id="printName" style="display:none">
					<h5>Printed By: {{vm.account.login}}</h5>
				</div>
			</div>

			<p class="input-group">
				<span class="input-group-addon" translate="polsoftApp.alarms.filter.from">from</span>
				<datetimepicker hour-step="hourStep" minute-step="minuteStep" ng-model="vm.fromDate" show-meridian="showMeridian" date-format="{{format}}"
				 date-options="dateOptions" date-disabled="disabled(date, mode)" datepicker-append-to-body="false" readonly-date="false"
				 disabled-date="false" hidden-time="true" hidden-date="false" name="datetimepicker1" show-spinners="true" readonly-time="false"
				 date-opened="datepickers.dtFrom" show-button-bar="false" min-date="minDate" max-date="maxDate" date-ng-click="toggleOpenDatePicker($event,'dtFrom')"
				 ng-change="vm.onChangeDate()"/>

				<span class="input-group-addon" translate="polsoftApp.alarms.filter.to">to</span>
				<datetimepicker hour-step="hourStep" minute-step="minuteStep" ng-model="vm.toDate" show-meridian="showMeridian" date-format="{{format}}"
				 date-options="dateOptions" date-disabled="disabled(date, mode)" datepicker-append-to-body="false" readonly-date="false"
				 disabled-date="false" hidden-time="true" hidden-date="false" name="datetimepicker2" show-spinners="true" readonly-time="false"
				 date-opened="datepickers.dtTo" show-button-bar="false" min-date="minDate" max-date="maxDate" date-ng-click="toggleOpenDatePicker($event,'dtTo')"
				 ng-change="vm.onChangeDate()" />

			</p>
		</div>
		<div class="col-md-4 hideWhenPrint" style="text-align: right; margin-top: 30px;">
			<button ng-click="vm.print()" class="btn btn-primary"><i class="fa fa-print" aria-hidden="true"></i></button>
		</div>
	</div>
	<div class="container-fluid hideWhenPrint">
		<div class="row">
			<div class="col-xs-4 no-padding-left">
				<!--  <button class="btn btn-primary" ui-sref="alarms.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="polsoftApp.alarms.home.createLabel">
                        Create new Alarms
                    </span>
                </button> -->
			</div>
			<div class="col-xs-8 no-padding-right">
				<form name="searchForm" class="form-inline">
					<div class="input-group pull-right">
						<input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'polsoftApp.alarms.home.search' | translate }}">
						<span class="input-group-btn width-min">
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
						</button>
						</span>
						<span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
						</button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
	<br />
	<div class="table-responsive">
		<table class="jh-table table table-striped" id="alrmsTable">
			<thead>
				<tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
					<th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="type"><span translate="polsoftApp.alarms.severity">Severity</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="description"><span translate="polsoftApp.alarms.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="duration"><span translate="polsoftApp.alarms.duration">Duration</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="generated"><span translate="polsoftApp.alarms.created">Timestamp</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="source"><span translate="polsoftApp.alarms.source">Location</span> <span class="glyphicon glyphicon-sort"></span></th>
					<!--<th jh-sort-by="action"><span translate="polsoftApp.alarms.action">Action</span> <span class="glyphicon glyphicon-sort"></span></th-->
					<!--<th jh-sort-by="comments"><span translate="polsoftApp.alarms.comments">Comments</span> <span class="glyphicon glyphicon-sort"></span></th-->
					<!--<th jh-sort-by="username"><span translate="polsoftApp.alarms.username">Username</span> <span class="glyphicon glyphicon-sort"></span></th-->
					<th jh-sort-by="status"><span translate="polsoftApp.alarms.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
				</tr>
			</thead>
			<tbody>
				<tr id="alarmData.id" class="clickableRow" data-ng-repeat="alarmData in vm.alarms track by alarmData.id"
				 title="Click to toggle collapse/expand day summaries for this store." ng-click="expanded1=false;showAlramDetails(alarmData)">
				<td>{{alarmData.id}}</td>
				<td> 
					<div ng-if="alarmData.status == 'active' || alarmData.status == 'active acknowledged'">
					<span ng-show="{{alarmData.severity=='alarm'}}" class="label label-danger">{{alarmData.severity}}</span>
					<span ng-show="{{alarmData.severity=='warning'}}" class="label label-warning">{{alarmData.severity}}</span>
					<span ng-show="{{alarmData.severity=='-'}}" class="label label-danger">Alert</span>
					<i ng-show="{{alarmData.acknowledged}}" class="fa fa-check" aria-hidden="true"></i>
					</div>
					<div ng-if="alarmData.status == 'inactive' || alarmData.status == 'inactive acknowledged'">
					<span ng-show="{{alarmData.severity=='alarm'}}" class="label label-success">{{alarmData.severity}}</span>
					<span ng-show="{{alarmData.severity=='warning'}}" class="label label-success">{{alarmData.severity}}</span>
					<span ng-show="{{alarmData.severity=='-'}}" class="label label-success">Alert</span>
					<i ng-show="{{alarmData.acknowledged}}" class="fa fa-check" aria-hidden="true"></i>
					</div>
				</td>
					<td>{{alarmData.description}}</td>
					<td ng-if="alarmData.status.indexOf('active') == 0"><minutes-ago start-time="alarmData.generated"></minutes-ago></td>
					<td ng-if="alarmData.status.indexOf('active') != 0">{{alarmData.duration}}</td>
					<td>{{alarmData.generated | date:'medium'}}</td>
					<td>{{alarmData.source}}</td>
					<!--<td>{{alarms.action}}</td-->
					<!--<td>{{alarms.comments}}</td-->
					<!--<td>{{alarms.username}}</td-->
					<td>{{alarmData.status}}</td>
				</tr>
				
			</tbody>
		</table>
	</div>
		<div class="audit_print_page">
		<table class="jh-table table table-striped table-bordered" id="alrmsTablePrint" style="display:none;">
			<thead>
					<tr>
						<td colspan="7" width="100%">
							<img src="content/images/Natco.png" style="width: 200px; height:90px; float: right;" />
								<p style="text-align: center;">
								  <span style="font-size: 15px;"> <strong> M/s NATCO PHARMA LIMITED</strong></span><br/>
								<span style="font-size:12px; padding-left:2.5em;"> <strong>NAGARJUNA SAGAR </strong></span><br/>
								<span style="font-size: 15px;"><strong>AUDIT RECORD SHEET</strong></span></p>
						</td>
					</tr>
					<tr>
							<td colspan="7" width="100%">
								<b><span style="font-size: 12px; padding-left:10px">Printed By </span> <span style="padding-left:2px;">:</span>
											<span class="data" style="font-size:14px;">{{vm.account.login}}</span>
											<span style="font-size:12px ;padding-left:38em;">Date &amp; Time From </span><span style="padding-left:2px;">: </span>
											<span  style="font-size:14px;">{{vm.fromDate | date:'medium'}}</span><br />
											 <span style="font-size: 12px; padding-left:10px;">Report Date &amp; Time</span><span style="padding-left:2px;">:</span>
											 <span th:text="{{vm.fromDate}}" style="font-size:14px;"></span>
											 
											<!-- <span style="font-size:12px;">Temperature</span> -->
											<!-- <span style="font-size: 12px; padding-left:10px;">Department</span><span style="padding-left:15.5px">:</span> -->
											<span style="font-size: 12px; padding-left:38em;">To</span><span style="padding-left:3px;">: </span>
											<span  style="font-size:14px;">{{vm.toDate | date:'medium'}}</span><br />
											<!-- <span style="font-size: 12px; padding-left:10px;"> UserName </span><span style="padding-left:20.5px;">:</span>
											 <span th:text="${userName}" style="font-size:13px;"></span><br /> -->
											<!-- <span style="font-size:12px; padding-left:44.6em;">Report Date &amp; Time </span><span style="padding-left:3px;">:</span>
											<span th:text="{{vm.fromDate}}" style="font-size:14px;"></span><br/> -->
											 
										</b>
							</td>
						</tr>
				<tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">	
					<th><span translate="polsoftApp.alarms.id">Id</span></th>
					<th><span translate="polsoftApp.alarms.severity">Severity</span></th>
					<th><span translate="polsoftApp.alarms.description">Description</span></th>
					<th><span translate="polsoftApp.alarms.duration">Duration</span></th>
					<th><span translate="polsoftApp.alarms.created">Timestamp</span></th>
					<th><span translate="polsoftApp.alarms.source">Location</span></th>
					<th><span translate="polsoftApp.alarms.status">Status</span></th>
				</tr>
			</thead>
			<tbody>
			
				<tr data-ng-repeat="alarms in vm.alarms track by alarms.id" ng-if="!alarms.delay" id="alarms.id" class="clickableRow" title="Click to toggle collapse/expand day summaries for this store."
				 ng-click="expanded = !expanded">
				 	<td>{{alarms.id}}</td>
				 	<td>{{alarms.severity}}</td>
					<td>{{alarms.description}}</td>
					<td>{{alarms.duration}}</td>
					<td>{{alarms.created | date:'short'}}</td>
					<td>{{alarms.source}}</td>
					<td>{{alarms.status}}</td>
				</tr>				
			</tbody>
			<tfoot class="footer">
                    <tr>
                        <td colspan="11"><span style="padding-left: 10px; font-size:12px;">Remarks :</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="11">
                            <b><span style="padding-left:5px; font-size:12px;">Verified By : </span>
                                        <span style="padding-left: 58em; font-size:12px;">Reviewed By : </span><br /> 
                                        <span style="padding-left: 3.3em; font-size:12px;">Date : </span>
                                        <span style="padding-left: 61.5em; font-size:12px;">Date : </span>
                                        <span style="padding-left: 58.5em;"></span>
                                    </b>
                        </td>
                    </tr>
                </tfoot>
		</table>
		</div>

	<div class="text-center hideWhenPrint">
		<jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
		<ul uib-pagination total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></ul>
	</div>

	<div style="position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 9050;display:none" id="exampleModal" ng-show="showAlramData">
		<div class="modal-dialog" style="width: 640px;" role="document">{{showAlramData}}{{vm.selectedAlarmData.ackrequired}}
			<div class="modal-content">
				<div class="modal-header">
					<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
					<h4 class="modal-title" id="exampleModalLabel">Alarm Details</h4>
				</div>
				<div class="modal-body" style="height: 450px;overflow-y: auto;">
					<div>
						<div class="main_div">
							<div class="left_form">
								<p>
									<span>User :</span> {{vm.account.login}}
								</p>
								<p>
									<span>Begin :</span> {{vm.selectedAlarmData.generated | date:'dd/MM/yyyy HH:mm:ss'}}
								</p>
								<p>
									<span>End :</span> {{vm.selectedAlarmData.ended | date:'dd/MM/yyyy HH:mm:ss'}}
								</p>
								<p>
									<span> Duration:</span>
									<span ng-if="vm.selectedAlarmData.status.indexOf('active') == 0"><minutes-ago start-time="vm.selectedAlarmData.generated"></minutes-ago></span>
									<span ng-if="vm.selectedAlarmData.status.indexOf('active') != 0"> {{vm.selectedAlarmData.duration}} </span>
								</p>
								<p>
									<span>Status :</span> {{vm.selectedAlarmData.status}}
								</p>
								<p>
									<span>Acknowledgement :</span> {{vm.selectedAlarmData.acknowledged | date:'dd/MM/yyyy HH:mm:ss'}}
								</p>
								<p>
									<span ng-if="!!(vm.selectedAlarmData.acknowledged)"> Action taken : {{vm.selectedAlarmData.action}} </span>
								</p>
								<p>
									<span ng-if="!!(vm.selectedAlarmData.acknowledged)"> Comments : {{vm.selectedAlarmData.comments}} </span> 
								</p>
							</div>
							<div class="right_form">
								<strong>Details</strong>
								<p>
									<span>Channel Name :</span> {{vm.selectedAlarmData.alarmdata.split(',')[0]}} 
								</p>
								<p>
									<span>Serial No :</span> {{vm.selectedAlarmData.alarmdata.split(',')[1]}}
								</p>
							</div>
							<section>
								<div class="buttons" style="float: right;">
									<button type="button" id="chartBtn" class="btn" ng-click="expanded1 = !expanded1" ng-show="!vm.selectedAlarmData.acknowledged"
									ui-sref-active="active" has-permission='{"level":"CREATE","resource":"ALARMS", "authority":"Administrator", "disableForPermission":true}'>Acknowledge</button>
									 <button type="button" id="chartBtn" class="btn" ng-click="showAlramData = !showAlramData">Close</button>
								</div>
							</section>
						</div>
						<hr/>
						<div ng-show="expanded1" class="Acknowledgement">
							<table>
								<!-- <tr>
									<th colspan="2">Acknowledge</th>
								</tr> -->
								<tr>
									<td>Action taken :</td>
									<td><input type="text" name="action" id="field_action" ng-model="vm.selectedAlarmData.action" />
									</td>
								</tr>
								<tr>
									<td>Comments :</td>
									<td><input type="text" ng-model="vm.selectedAlarmData.comments"></td>
								</tr>
								<!-- <tr>
									<td> -->
									<section>
								<div class="buttons" style="float: right;">
										<button type="button" id="chartBtn" class="btn" ng-click="vm.acknolwdge(vm.selectedAlarmData);expanded1 = !expanded1">Save</button>
										<button type="button" id="chartBtn" class="btn" ng-click="expanded1 = !expanded1">Close</button>
									</div>
									</section>
									<!-- </td>
								</tr> -->
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>