<div class="alert-sticky fadein" role="alert" ng-if="serverError" ng-class="{'alert-sticky-admin': (pagePath() == 'admin'), 'show': (serverError)} ">
	<div class="container">
		<p class="pull-left"><!--  <span class="error" ng-if="serverError"></span> {{serverError}} -->
			<span class="success" ng-if="serverMessage">Success:  </span> {{serverMessage}}</p>
		<p class="pull-right">
			<a ng-click="serverError = false" class="icon-close close-alert" href="#"></a>
		</p>

	</div>
</div>
<form name="addTemplateForm" role="form" ng-submit="vm.save(addTemplateForm)" data-toggle="validator">
	<section>
		<div class="container" style="margin-top:20px">

			<div class="check1" ng-if="alarmtemplates.length">
				<span>Select Existing Template</span>

				<select ng-change="getAlarmTemplate(templateName)" ng-model="templateName" ng-options="alarmtemplate.name for alarmtemplate in alarmtemplates">
								</select>

			</div>
			<div>
				<p ng-if="alarmtemplates.length==0">
					Sorry No Alrarm Templates Found.
				</p>

				<button type="button" ng-click="createNewTemplate()" class="btn">Create New</button>
			</div>
		</div>
		<!--<div class="buttons" style="text-align:left">
							</div>-->
	</section>

	<div ng-show="vm.alarmtemplate.id || vm.alarmtemplate.newObject" style="margin-top: 20px;">
		<section>
			<div class="container">
				<div class="high">
					<label class="control-label" translate="polsoftApp.alarmtemplate.name" for="field_highlimit">Name </label>
					<input type="text" name="highlimit" id="field_highlimit" ng-model="vm.alarmtemplate.name" required><br>
				</div>
			<!-- 	<div class="check2">
					<label class="control-label" translate="polsoftApp.alarmtemplate.ackrequired" for="field_ackrequired">Acknowledgement required</label>					<input type="checkbox" name="ackrequired" id="field_ackrequired" ng-model="vm.alarmtemplate.ackrequired"> Yes/No
				</div>
				<div class="check3">
					<label class="control-label" translate="polsoftApp.alarmtemplate.commentsrequired" for="field_commentsrequired">Comments Required</label>					<input type="checkbox" name="commentsrequired" id="field_commentsrequired" ng-model="vm.alarmtemplate.commentsrequired">					Yes/No
				</div> -->

				<h4>Condition</h4>
				<!--<input type="checkbox" checked="true" ng-model="vm.alarmtemplate.Logical_input"> Logical input state
				<div class="cond_tion" ng-if="vm.alarmtemplate.Logical_input">
					<label class="control-label" translate="polsoftApp.alarmtemplate.logicalmeasurepoint" for="field_logicalmeasurepoint">Measure Point</label>
					<select ng-model="vm.alarmtemplate.logicalmeasurepoint">
									<option checked="true">Select</option>
									<option ng-repeat="measurePoint in measurePoints">{{measurePoint.name}}</option>
								</select>
				</div>-->
				<!--<div class="cond_tion1" ng-if="vm.alarmtemplate.Logical_input">
					<label class="control-label" translate="polsoftApp.alarmtemplate.logicaldefaultvalue" for="field_logicaldefaultvalue">Default value</label>
					<select ng-model="vm.alarmtemplate.logicaldefaultvalue">
									<option checked="true">Select</option>
									<option ng-repeat="defaultValue in defaultValues">{{defaultValue.name}}</option>
								</select>

				</div>-->
				
				<input type="checkbox" name="activetimechecked" id="field_activetimechecked" ng-model="vm.alarmtemplate.activetimechecked">				Active Time<br>

				<div ng-if="vm.alarmtemplate.activetimechecked" class="active_time" ng-repeat="schedulars in vm.alarmtemplate.alarmtemplateschedulars">

					<div class="day" style="    line-height: 100px;">
						<input type="checkbox" name="day" id="field_day" ng-model="schedulars.checked">
						<span>{{schedulars.day}}</span>
					</div>
					<span>From :</span>
					<!--<input type="text" class="time" name="starttime" ng-model="schedulars.starttime" is-open="vm.datePickerOpenStatus.starttime">-->
					<!--{{date}}-->
					<datetimepicker hour-step="hourStep" minute-step="minuteStep" ng-model="schedulars.starttime" hidden-date="true" name="datetimepickerFrom{{$index}}"
					 show-spinners="true" show-meridian="false" />


					<span class="to">To :</span>
					<!--{{dateTo}}-->
					<!--<input type="text" class="time" name="endtime" ng-model="schedulars.endtime" is-open="vm.datePickerOpenStatus.endtime">-->

					<datetimepicker hour-step="hourStep" minute-step="minuteStep" ng-model="schedulars.endtime" hidden-date="true" name="datetimepickerTo{{$index}}"
					 show-spinners="true" show-meridian="false" />

				</div>
			</div>
		</section>
		<section class="trigger">
			<div class="container">
				<h4>Trigger Set-1 (Default)</h4>
				<input type="checkbox" name="day" id="field_day" ng-model="vm.alarmtemplate.trigger1warning.clicked"><span>
								Warning</span><br>
				<div class="limit" ng-if="vm.alarmtemplate.trigger1warning.clicked">
					<div class="high">
						<label class="control-label" translate="polsoftApp.alarmtemplatelimit.highlimit" for="field_highlimit">High Limit</label>
					</div>
					<input type="text" required name="highlimit" id="field_highlimit" ng-model="vm.alarmtemplate['trigger1warning'].highlimit"><br>
					<div class="high">
						<label class="control-label" translate="polsoftApp.alarmtemplatelimit.lowlimit" for="field_lowlimit">Low Limit</label>
					</div>
					<input type="text" required name="lowlimit" id="field_lowlimit" ng-model="vm.alarmtemplate['trigger1warning'].lowlimit"><br>
					<div class="high">
						<label class="control-label" translate="polsoftApp.alarmtemplatelimit.roc" for="field_roc">Hysteresis</label>
					</div>
					<input type="text" required name="roc" id="field_roc" ng-model="vm.alarmtemplate['trigger1warning'].roc"><br>
					<!-- <div class="high">
						<label class="control-label" translate="polsoftApp.alarmtemplatelimit.schedular" for="field_schedular">Shedular</label>
					</div>
					<input type="text" name="schedular" id="field_schedular" ng-model="vm.alarmtemplate['trigger1warning'].schedular"><br>
					<div class="high">
						<label class="control-label" translate="polsoftApp.alarmtemplatelimit.delay" for="field_delay">Delay</label>
					</div>
					<input type="text" name="delay" id="field_delay" ng-model="vm.alarmtemplate['trigger1warning'].delay"><br> 
					<div class="high">
						<label class="control-label" translate="polsoftApp.alarmtemplatelimit.action" for="field_action">Action</label>
					</div>

					<br>  -->
					<div>

						<!-- <div class="checkbox">
							<input type="checkbox" name="email1" ng-model="vm.alarmtemplate['trigger1warning'].email" style="width:30px"><span>
								Email</span><input required placeholder="Email address" class="input_alram_template" type="text" ng-if="vm.alarmtemplate['trigger1warning'].email"
							 ng-model="vm.alarmtemplate['trigger1warning'].emailids" value=""><br>

						</div> -->

						<div class="checkbox">
							<input type="checkbox" name="sms1" ng-model="vm.alarmtemplate['trigger1warning'].sms" style="width:30px"><span>
								SMS</span><input type="text" required class="input_alram_template mobileNo" ng-if="vm.alarmtemplate['trigger1warning'].sms"
							 ng-model="vm.alarmtemplate['trigger1warning'].mobilenumbers" value="" placeholder="Mobile number"><br>
						</div>
					</div> 

				</div>

				<input type="checkbox" ng-model="vm.alarmtemplate.trigger1Alarm.clicked"><span>
								Alarm</span><br>
				<div class="limit" ng-if="vm.alarmtemplate.trigger1Alarm.clicked">
					<div class="high">
						<label class="control-label" translate="polsoftApp.alarmtemplatelimit.highlimit" for="field_highlimit">High Limit</label>
					</div>
					<input type="text" required name="highlimit" id="field_highlimit" ng-model="vm.alarmtemplate['trigger1Alarm'].highlimit"><br>
					<div class="high">
						<label class="control-label" translate="polsoftApp.alarmtemplatelimit.lowlimit" for="field_lowlimit">Low Limit</label>
					</div>
					<input type="text" required name="lowlimit" id="field_lowlimit" ng-model="vm.alarmtemplate['trigger1Alarm'].lowlimit"><br>
					<div class="high">
						<label class="control-label" translate="polsoftApp.alarmtemplatelimit.roc" for="field_roc">ROC</label>
					</div>
					<input type="text" required name="roc" id="field_roc" ng-model="vm.alarmtemplate['trigger1Alarm'].roc"><br>
					<!-- <div class="high">
						<label class="control-label" translate="polsoftApp.alarmtemplatelimit.schedular" for="field_schedular">Shedular</label>
					</div>
					<input type="text" name="schedular" id="field_schedular" ng-model="vm.alarmtemplate['trigger1Alarm'].schedular"><br>
					<div class="high">
						<label class="control-label" translate="polsoftApp.alarmtemplatelimit.delay" for="field_delay">Delay</label>
					</div>
					<input type="text" name="delay" id="field_delay" ng-model="vm.alarmtemplate['trigger1Alarm'].delay"><br> 
					<div class="high">
						<label class="control-label" translate="polsoftApp.alarmtemplatelimit.action" for="field_action">Action</label>
					</div>

					<br> -->
					<div>

					<!-- 	<div class="checkbox">
							<input type="checkbox" name="email2" ng-model="vm.alarmtemplate['trigger1Alarm'].email" style="width:30px"><span>
								Email</span> <input required placeholder="Email address" class="input_alram_template" type="email" ng-if="vm.alarmtemplate['trigger1Alarm'].email"
							 ng-model="vm.alarmtemplate['trigger1Alarm'].emailids" value=""><br>

						</div> -->

						<div class="checkbox">
							<input type="checkbox" name="sms2" ng-model="vm.alarmtemplate['trigger1Alarm'].sms" style="width:30px"><span>
								SMS</span><input type="tel" required class="input_alram_template mobileNo" ng-if="vm.alarmtemplate['trigger1Alarm'].sms" ng-model="vm.alarmtemplate['trigger1Alarm'].mobilenumbers"
							 value="" placeholder="Mobile number"><br>

						</div>


					</div>
					<!-- <select name="action" id="field_action" ng-model="vm.alarmtemplate['trigger1Alarm'].action">
									<option>Email</option>
									<option>SMS</option>
									<option>WhatsApp</option>
									<option>twitter</option>
								</select> -->
				</div>
			</div>
		</section>

		<section class="trigger">
			<div class="container">
				<h4>Trigger Set-2 (If beyond Active or Condition time not Default)
				</h4>
				<input type="checkbox" ng-model="vm.alarmtemplate['trigger2warning'].clicked"><span>
								Warning</span><br>
				<div class="limit" ng-if="vm.alarmtemplate['trigger2warning'].clicked">
					<div class="high">
						<label class="control-label" translate="polsoftApp.alarmtemplatelimit.highlimit" for="field_highlimit">High Limit</label>
					</div>
					<input type="text" required name="highlimit" id="field_highlimit" ng-model="vm.alarmtemplate['trigger2warning'].highlimit"><br>
					<div class="high">
						<label class="control-label" translate="polsoftApp.alarmtemplatelimit.lowlimit" for="field_lowlimit">Low Limit</label>
					</div>
					<input type="text" required name="lowlimit" id="field_lowlimit" ng-model="vm.alarmtemplate['trigger2warning'].lowlimit"><br>
					<div class="high">
						<label class="control-label" translate="polsoftApp.alarmtemplatelimit.roc" for="field_roc">ROC</label>
					</div>
					<input type="text" required name="roc" id="field_roc" ng-model="vm.alarmtemplate['trigger2warning'].roc"><br>
					<!-- <div class="high">
						<label class="control-label" translate="polsoftApp.alarmtemplatelimit.schedular" for="field_schedular">Shedular</label>
					</div>
					<input type="text" name="schedular" id="field_schedular" ng-model="vm.alarmtemplate['trigger2warning'].schedular"><br>
					<div class="high">
						<label class="control-label" translate="polsoftApp.alarmtemplatelimit.delay" for="field_delay">Delay</label>
					</div>
					<input type="text" name="delay" id="field_delay" ng-model="vm.alarmtemplate['trigger2warning'].delay"><br>  
					<div class="high">
						<label class="control-label" translate="polsoftApp.alarmtemplatelimit.action" for="field_action">Action</label>
					</div>
					<br> -->
					<div>

						<!-- <div class="checkbox">
							<input type="checkbox" name="email3" ng-model="vm.alarmtemplate['trigger2warning'].email" style="width:30px"><span>
								Email</span><input required placeholder="Email address" class="input_alram_template" type="email" ng-if="vm.alarmtemplate['trigger2warning'].email"
							 ng-model="vm.alarmtemplate['trigger2warning'].emailAddress" value=""><br>

						</div> -->

						<div class="checkbox">
							<input type="checkbox" name="sms3" ng-model="vm.alarmtemplate['trigger2warning'].sms" style="width:30px"><span>
								SMS</span><input type="tel" required class="input_alram_template mobileNo" ng-if="vm.alarmtemplate['trigger2warning'].sms"
							 ng-model="vm.alarmtemplate['trigger2warning'].mobileNo" value="" placeholder="Mobile number"><br>

						</div>
					</div>  
				</div>

				<input type="checkbox" ng-model="vm.alarmtemplate['trigger2Alarm'].clicked"><span>
								Alarm</span><br>
				<div class="limit" ng-if="vm.alarmtemplate['trigger2Alarm'].clicked">
					<div class="high">
						<label class="control-label" translate="polsoftApp.alarmtemplatelimit.highlimit" for="field_highlimit">High Limit</label>
					</div>
					<input type="text" required name="highlimit" id="field_highlimit" ng-model="vm.alarmtemplate['trigger2Alarm'].highlimit"><br>
					<div class="high">
						<label class="control-label" translate="polsoftApp.alarmtemplatelimit.lowlimit" for="field_lowlimit">Low Limit</label>
					</div>
					<input type="text" required name="lowlimit" id="field_lowlimit" ng-model="vm.alarmtemplate['trigger2Alarm'].lowlimit"><br>
					<div class="high">
						<label class="control-label" translate="polsoftApp.alarmtemplatelimit.roc" for="field_roc">ROC</label>
					</div>
					<input type="text" required name="roc" id="field_roc" ng-model="vm.alarmtemplate['trigger2Alarm'].roc"><br>
					<!-- <div class="high">
						<label class="control-label" translate="polsoftApp.alarmtemplatelimit.schedular" for="field_schedular">Shedular</label>
					</div>
					<input type="text" name="schedular" id="field_schedular" ng-model="vm.alarmtemplate['trigger2Alarm'].schedular"><br>
					<div class="high">
						<label class="control-label" translate="polsoftApp.alarmtemplatelimit.delay" for="field_delay">Delay</label>
					</div>
					<input type="text" name="delay" id="field_delay" ng-model="vm.alarmtemplate['trigger2Alarm'].delay"><br>  
					<div class="high">
						<label class="control-label" translate="polsoftApp.alarmtemplatelimit.action" for="field_action">Action</label>
					</div> 
					<br> -->
					<div>
						<!-- <div class="checkbox">
							<input type="checkbox" name="email4" ng-model="vm.alarmtemplate['trigger2Alarm'].email" style="width:30px"><span>
								Email</span> <input required placeholder="Email address" class="input_alram_template" type="email" ng-if="vm.alarmtemplate['trigger2Alarm'].email"
							 ng-model="vm.alarmtemplate['trigger2Alarm'].emailAddress" value=""><br>
						</div> -->
						<div class="checkbox">
							<input type="checkbox" name="sms4" ng-model="vm.alarmtemplate['trigger2Alarm'].sms" style="width:30px"><span>
								SMS</span><input type="tel" required class="input_alram_template mobileNo" ng-if="vm.alarmtemplate['trigger2Alarm'].sms" ng-model="vm.alarmtemplate['trigger2Alarm'].mobileNo"
							 value="" placeholder="Mobile number"><br>
						</div>
					</div> 
				</div>
			</div>
		</section>
		<div style="text-align:right;width:60%;padding:20px">
			<button type="button" class="btn" ng-click="deleteAlarmTemplate()" ng-show="vm.alarmtemplate.id">Delete</button>
			<button type="submit" class="btn" ng-disabled="(!vm.alarmtemplate.trigger1warning.clicked) && (!vm.alarmtemplate.trigger1Alarm.clicked) && (!vm.alarmtemplate['trigger2warning'].clicked) &&
			(!vm.alarmtemplate['trigger2Alarm'].clicked)" ng-show="vm.alarmtemplate.id || vm.alarmtemplate.newObject" style="width: 108px;">Save</button>
		</div>
	</div>
</form>