
<div>
    <h2><span translate="polsoftApp.alarms.detail.title">Alarms</span> {{vm.alarms.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="polsoftApp.alarms.type">Type</span></dt>
        <dd>
            <span>{{vm.alarms.type}}</span>
        </dd>
        <dt><span translate="polsoftApp.alarms.description">Description</span></dt>
        <dd>
            <span>{{vm.alarms.description}}</span>
        </dd>
        <dt><span translate="polsoftApp.alarms.duration">Duration</span></dt>
        <dd>
            <span>{{vm.alarms.duration}}</span>
        </dd>
        <dt><span translate="polsoftApp.alarms.created">Created</span></dt>
        <dd>
            <span>{{vm.alarms.created | date:'medium'}}</span>
        </dd>
        <dt><span translate="polsoftApp.alarms.source">Source</span></dt>
        <dd>
            <span>{{vm.alarms.source}}</span>
        </dd>
        <dt><span translate="polsoftApp.alarms.action">Action</span></dt>
        <dd>
            <span>{{vm.alarms.action}}</span>
        </dd>
        <dt><span translate="polsoftApp.alarms.comments">Comments</span></dt>
        <dd>
            <span>{{vm.alarms.comments}}</span>
        </dd>
        <dt><span translate="polsoftApp.alarms.username">Username</span></dt>
        <dd>
            <span>{{vm.alarms.username}}</span>
        </dd>
        <dt><span translate="polsoftApp.alarms.status">Status</span></dt>
        <dd>
            <span>{{vm.alarms.status}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="alarms-detail.edit({id:vm.alarms.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
