
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myReportsLabel" translate="polsoftApp.reports.home.ReportDetails">Report Details</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
      <table class="table table-hover">
					 <thead>
                        <tr>
                            <th style="text-transform: capitalize;">Date</th>
                            <th style="text-transform: capitalize;" ng-repeat="location in tableColums">{{location}}</th>
                            <!--<th  style="text-transform: capitalize;">Value(Temp)</th>-->


                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="valueObj in tabledata">
                            <td ng-repeat="(key, value) in valueObj">{{key==0?(value | date:'yyyy-MM-dd HH:mm:ss'):(value.toFixed(2))}}</td>

                            <!--<td>{{valueObj.toFixed(2)}}</td>-->
                        </tr>

                    </tbody>

				</table>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.close">Close</span>
        </button>
       
    </div>
</form>
