<div style="margin-top:20px;margin-left:-10px">
    <jhi-alert></jhi-alert>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-long-arrow-right fa-fw"></i> Locations
                </h3>
            </div>
            <div class="panel-body">
                <div>
                    <div id="tree">
                        <label>HETERO LTD</label>
                        <abn-tree tree-data="my_data" tree-control="my_tree" expand-level="3" on-select="my_tree_handler(branch)" icon-expand="fa fa-chevron-right"
								icon-collapse="fa fa-chevron-down">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="col-md-6" style=" margin-top: -20px;" ng-if="selectedLocation">
        <ul class="nav nav-tabs">
            <li role="presentation" ng-class="{active: showManually }"><a href ng-click="changeTab(true)">Manually</a></li>
            <!--<li role="presentation" ng-class="{ active: !showManually }"><a href ng-click="changeTab(false)">Automatically</a></li>-->
        </ul>


        <div ng-if="showManually">
            <form data-toggle="validator" name="reportForm" ng-submit="generatePdf(reportForm)">
                <h4 style="text-align:center;    font-weight: bold;">Filter Per Date</h4>
                <div class="row">
                    <div class="col-sm-5" style="text-align:right;font-weight:bold">

                        <div class="reports_lable">
                            <label>Select the report template:</label>
                        </div>
                        <div class="reports_lable">
                            <label>Sampling Interval:</label>
                        </div>
                        <div class="reports_lable">
                            <label>From :</label>
                        </div>
                        <div class="reports_lable" style="margin-top: 65px;">
                            <label>To:</label>
                        </div>
                    </div>
                    <div class="col-sm-7">

                        <label class="reports_input">
                    <select class="form-control" id="template" name="template" ng-model="vm.reportData.template" style="width: 165px;" required>
                     <!--<option value=""></option>-->
                <option value="1">Template 1</option>
                 <option value="2">Template 2</option>
               </select>
                </label><br>
                        <label class="reports_input">
                   <input type="number" onKeyPress="if(this.value.length==3) return false;" ng-model="vm.reportData.samplingData" value="" style="width:50px" required ng-maxlength="3">  
                   <select class="form-control" id="template" name="template" ng-model="vm.reportData.timeFrame" style="margin-top: -30px;margin-left: 55px; width: 110px;" required>
                     <!--<option value=""></option>-->
                    <option value="1">Minutes</option>
                    <option value="2">Hours</option>
                    <option value="2">Days</option>
                    </select>
                </label></br>
                        <div class="reports_input">
                            <p class="input-group" style="width:370px; margin-top: -30px;">

                                <!--<input type="text" class="form-control" datetime-picker="dd MMM yyyy HH:mm" ng-model="vm.reportData.fromDate" is-open="isFromOpen" ng-change="changeData(vm.reportData.fromDate,vm.reportData.toDate)"
					 ng-blur="blurDatePicker(vm.reportData.fromDate,vm.reportData.toDate)" required/>
					<span class="input-group-btn">
       				 <button type="button" id="fromDate" class="btn btn-default" ng-click="openCalendar($event,'first')"><i class="fa fa-calendar"></i></button>
    				</span>-->
                                <datetimepicker hour-step="hourStep" minute-step="minuteStep" ng-model="vm.reportData.fromDate" show-meridian="showMeridian"
                                    date-format="{{format}}" date-options="dateOptions" date-disabled="disabled(date, mode)"
                                    datepicker-append-to-body="false" readonly-date="false" disabled-date="false" hidden-time="false"
                                    hidden-date="false" name="datetimepicker3" show-spinners="true" readonly-time="false" date-opened="datepickers.dtFrom"
                                    show-button-bar="false" min-date="minDate" max-date="maxDate" date-ng-click="toggleOpenDatePicker($event,'dtFrom')"
                                    ng-change="changeData(vm.reportData.fromDate,vm.reportData.toDate)" />
                            </p>

                        </div>
                        <br>
                        <div class="reports_input" style="margin-top: 45px;">
                            <p class="input-group" style="width:370px;">

                                <!--<input type="text" id=" toDate" class="form-control" datetime-picker="dd MMM yyyy HH:mm" ng-model="vm.reportData.toDate" is-open="isToOpen"
					 ng-change="changeData(fromDate,toDate)" ng-blur="blurDatePicker(vm.reportData.fromDate,vm.reportData.toDate)" required/>
					<span class="input-group-btn">
       					 <button type="button" class="btn btn-default" ng-click="openCalendar($event,'last')"><i class="fa fa-calendar"></i></button>
    					</span>-->

                                <datetimepicker hour-step="hourStep" minute-step="minuteStep" ng-model="vm.reportData.toDate" show-meridian="showMeridian"
                                    date-format="{{format}}" date-options="dateOptions" date-disabled="disabled(date, mode)"
                                    datepicker-append-to-body="false" readonly-date="false" disabled-date="false" hidden-time="false"
                                    hidden-date="false" name="datetimepicker4" show-spinners="true" readonly-time="false" date-opened="datepickers.dtTo"
                                    show-button-bar="false" min-date="minDate" max-date="maxDate" date-ng-click="toggleOpenDatePicker($event,'dtTo')"
                                    ng-change="changeData(vm.reportData.fromDate,vm.reportData.toDate)" />

                            </p>
                        </div>

                    </div>
                </div>
                <div style="text-align:center">
                    <button type="submit" style="margin-top:50px; margin-left: 15px;" type="button" id="chartBtn" class="btn">Generate PDF</button>
                </div>
                <div class="alert alert-danger" ng-if="noDataAvailble" style="margin: 40px;">
                    <strong>Alert!</strong> No Data Available for the Selected dates.
                </div>
            </form>
        </div>

        <div ng-if="!showManually">
            <form novalidate name="report_automatic_Form" ng-submit="saveData(report_automatic_Form)">
                <h4 style="text-align:center;    font-weight: bold;"></h4>
                <div class="row">
                    <div class="col-sm-6" style="text-align:right;font-weight:bold">

                        <div class="reports_lable">
                            <label>Name of the Report:</label>
                        </div>
                        <div class="reports_lable">
                            <label>Report Owner:</label>
                        </div>
                        <div class="reports_lable">
                            <label>Timezone :</label>
                        </div>
                        <div class="reports_lable">
                            <label>PDF Font:</label>
                        </div>
                        <div class="reports_lable">
                            <label>Sceduled Generation:</label>
                        </div>
                        <div class="reports_lable">
                            <label>Automatic Generate and Email:</label>
                        </div>
                        <div class="reports_lable">
                            <label>Send to Email Address:</label>
                        </div>

                        <div class="reports_lable">
                            <label>Send to Group:</label>
                        </div>
                        <div class="reports_lable">
                            <label>Automatic Generate and Save:</label>
                        </div>
                        <div class="reports_lable">
                            <label>Save To:</label>
                        </div>

                        <div class="reports_lable" style="margin-top: 65px;">
                            <label>Start Generating:</label>
                        </div>
                        <div class="reports_lable" style="margin-top: 65px;">
                            <label>End Generating:</label>
                        </div>
                        <div class="reports_lable" style="margin-top: 40px;">
                            <label>Frequency:</label>
                        </div>
                        <div class="reports_lable" style="margin-top: 30px;">
                            <label>Report Format:</label>
                        </div>
                    </div>
                    <div class="col-sm-6">

                        <label class="reports_input">
                   <input type="text" ng-model="vm.automaticReportData.nameOftheReport" value="" required>  
                     </label>
                        <br>
                        <label class="reports_input">
                    <select class="form-control" id="template" name="reportOwner" ng-model="vm.automaticReportData.reportOwner" style="width: 155px;" required>
                     <option value=""></option>
                <option value="1">Owner 1</option>
                 <option value="2">Owner 2</option>
               </select>
                </label><br>
                        <label class="reports_input">
                    <select class="form-control" id="template" name="timeZone" ng-model="vm.automaticReportData.timeZone" style="width: 155px;" required>
                     <option value=""></option>
                <option value="1">Timezone 1</option>
                 <option value="2">Timezone 2</option>
               </select>
                </label><br>
                        <label class="reports_input">
                    <select class="form-control" id="template" name="pdfFont" ng-model="vm.automaticReportData.pdfFont" style="width: 155px;" required>
                     <option value=""></option>
                <option value="1">Pdf font Name 1</option>
                 <option value="2">Pdf font Name 2</option>
               </select>
                </label><br>

                        <label class="reports_input">
                    <input type="checkbox" ng-model="vm.automaticReportData.value1" style="width: 21px;height: 21px;">
                </label><br>

                        <label class="reports_input">
                    <input type="checkbox" ng-model="vm.automaticReportData.value1" style="width: 21px;height: 21px;">
                </label><br>

                        <label class="reports_input">
                    <select class="form-control" id="template" name="sendToEmail" ng-model="vm.automaticReportData.sendToEmail" style="width: 155px;" required>
                     <option value=""></option>
                <option value="1">sendToEmail 1</option>
                 <option value="2">sendToEmail 2</option>
               </select>
                </label><br>

                        <label class="reports_input">
                    <select class="form-control" id="template" name="sendToGroup" ng-model="vm.automaticReportData.sendToGroup" style="width: 155px;" required>
                     <option value=""></option>
                <option value="1">sendToGroup 1</option>
                 <option value="2">sendToGroup 2</option>
               </select>
                </label><br>
                        <label class="reports_input">
                    <input type="checkbox" ng-model="vm.automaticReportData.value1" style="width: 21px;height: 21px;">
                </label><br>
                        <label class="reports_input" style="padding-bottom: 35px;">
                   <input type="text" ng-model="vm.automaticReportData.saveTo" value="" required >  
                     </label>
                        <br>
                        <div class="reports_input">
                            <p class="input-group" style="width:370px; margin-top: -10px;">

                                <datetimepicker hour-step="hourStep" minute-step="minuteStep" ng-model="vm.automaticReportData.startGenerating" show-meridian="showMeridian"
                                    date-format="{{format}}" date-options="dateOptions" date-disabled="disabled(date, mode)"
                                    datepicker-append-to-body="false" readonly-date="false" disabled-date="false" hidden-time="false"
                                    hidden-date="false" name="datetimepicker5" show-spinners="true" readonly-time="false" date-opened="datepickers.dtFromStart"
                                    show-button-bar="false" min-date="minDate" max-date="maxDate" date-ng-click="toggleOpenDatePicker($event,'dtFromStart')"
                                />
                            </p>

                        </div>
                        <br>
                        <div class="reports_input" style="margin-top: 45px;">
                            <p class="input-group" style="width:370px;">
                                <datetimepicker hour-step="hourStep" minute-step="minuteStep" ng-model="vm.automaticReportData.endGenerating" show-meridian="showMeridian"
                                    date-format="{{format}}" date-options="dateOptions" date-disabled="disabled(date, mode)"
                                    datepicker-append-to-body="false" readonly-date="false" disabled-date="false" hidden-time="false"
                                    hidden-date="false" name="datetimepicker6" show-spinners="true" readonly-time="false" date-opened="datepickers.endGenerating"
                                    show-button-bar="false" min-date="minDate" max-date="maxDate" date-ng-click="toggleOpenDatePicker($event,'endGenerating')"
                                />

                            </p>
                        </div>
                        <br>
                        <label class="reports_input" style="margin-top: 60px;">
                   <input type="number" ng-model="vm.automaticReportData.samplingData" value="" style="width:40px" required>  
                   <select class="form-control" id="template" name="template" ng-model="vm.automaticReportData.timeFrame" style="margin-top: -30px;margin-left: 50px; width: 105px;" required>
                     <option value=""></option>
                    <option value="1">Minutes,</option>
                    <option value="2">Hours</option>
                    <option value="2">Days</option>
                    </select>
                </label><br>


                        <label class="reports_input">
                    <select class="form-control" id="template" name="sendToGroup" ng-model="vm.automaticReportData.reportFormat" style="width: 155px;" required>
                     <option value=""></option>
                     <option value="1">reportFormat 1</option>
                     <option value="2">reportFormat 2</option>
                    </select>
                </label>

                    </div>
                </div>
                <div style="text-align:center">
                    <button type="submit" style="margin-top:50px; margin-left: 15px;" type="button" id="chartBtn" class="btn">Save</button>
                </div>
                <div class="alert alert-danger" ng-if="noDataAvailble" style="margin: 40px;">
                    <strong>Alert!</strong>Saved
                </div>
            </form>
        </div>
    </div>

    <div id="mydiv_loader_div" class="mydiv_loader">
    <img src="app/home/ajax-loader.gif" class="ajax-loader"/>
</div>