<div>
    <h2 translate="sessions.title" translate-values="{username: '{{vm.account.login}}'}">Active sessions for [<b>{{vm.account.login}}</b>]</h2>

    <div class="alert alert-success" ng-show="vm.success" translate="sessions.messages.success">
        <strong>Session invalidated!</strong>
    </div>
    <div class="alert alert-danger" ng-show="vm.error" translate="sessions.messages.error">
        <strong>An error has occured!</strong> The session could not be invalidated.
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="sessions.table.useragent">User agent</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="session in vm.sessions">                    
                    <td>{{session}}</td>                    
                    <td>
                        <button type="submit"
                                class="btn btn-primary"
                                ng-click="vm.invalidate(session.series)" translate="sessions.table.button">
                                 Invalidate
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
