
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDeviceLabel" translate="polsoftApp.device.home.createOrEditLabel">Create or edit a Device</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.device.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.device.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="polsoftApp.device.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.device.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="polsoftApp.device.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                    ng-model="vm.device.type"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="polsoftApp.device.settings" for="field_settings">Settings</label>
            <input type="text" class="form-control" name="settings" id="field_settings"
                    ng-model="vm.device.settings"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="polsoftApp.device.status" for="field_status">Status</label>
            <input type="checkbox" class="form-control" name="status" id="field_status"
                    ng-model="vm.device.status"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="polsoftApp.device.lastRefresh" for="field_lastRefresh">Last Refresh</label>
                <div class="input-group">
                    <input id="field_lastRefresh" type="text" class="form-control" name="lastRefresh" datetime-picker="{{dateformat}}" ng-model="vm.device.lastRefresh" is-open="vm.datePickerOpenStatus.lastRefresh"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastRefresh')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="polsoftApp.device.serial" for="field_serial">Serial</label>
            <input type="text" class="form-control" name="serial" id="field_serial"
                    ng-model="vm.device.serial"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="polsoftApp.device.ipAddress" for="field_serial">Ip Address</label>
            <input type="text" class="form-control" name="serial" id="field_serial"
                    ng-model="vm.device.ipAddress"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="polsoftApp.device.location" for="field_location">Locations</label>
            <input type="text" class="form-control" name="location" id="field_location"
                    ng-model="vm.device.location"
                     />
        </div>

        <div class="form-group">
            <label translate="polsoftApp.device.block" for="field_block">Block</label>
            <select class="form-control" id="field_block" name="block" ng-model="vm.device.blockId" ng-options="block.id as block.id for block in vm.blocks"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
