<div class="row">

	<div>
		<div class="container-fluid" style="margin-top: 20px;">			
			<jhi-alert></jhi-alert>
			<div>
				<div class="col-xs-4 no-padding-left">
					<button class="btn btn-primary" ui-sref="device.new" ui-sref-active="active"
				 has-permission='{"level":"CREATE","resource":"DEVICE", "authority":"Administrator", "disableForPermission":true}'>
						<span class="glyphicon glyphicon-plus"></span> <span
							class="hidden-xs" translate="polsoftApp.device.home.createLabel">
							Create new Device </span>
					</button>
				</div>
			</div>
		</div>
		<br />
		<div class="container-fluid" >

			<uib-accordion close-others="oneAtATime">
				<div uib-accordion-group class="panel-default" heading="" ng-repeat="device in vm.devices track by device.id">
<uib-accordion-heading>
<div>{{device.id}}   {{device.name}}  </div>
							
<div class="btn-group flex-btn-group-container" style="float:right;margin-top: -24px;">
								
								<button type="submit" ng-click="$event.stopPropagation();$event.preventDefault();editDevice({id:device.id})" class="btn btn-primary btn-sm" ui-sref-active="active"
				 has-permission='{"level":"EDIT","resource":"DEVICE", "authority":"Administrator", "disableForPermission":true}'>
									<span class="glyphicon glyphicon-pencil"></span> <span
										class="hidden-xs hidden-sm"></span>
								</button>
								<button type="submit" ng-click="$event.stopPropagation();$event.preventDefault();deleteDevice({id:device.id})" class="btn btn-danger btn-sm" ui-sref-active="active"
				 has-permission='{"level":"DELETE","resource":"DEVICE", "authority":"Administrator", "disableForPermission":true}'>
									<span class="glyphicon glyphicon-remove-circle"></span> <span
										class="hidden-xs hidden-sm"></span>
								</button>
							</div>
</uib-accordion-heading>

					<div class="row" ng-click="$event.stopPropagation();$event.preventDefault();">

						<dl class="dl-horizontal jh-entity-details">
							<dt><span translate="polsoftApp.device.name">Name</span></dt>
							<dd>
								<span>{{device.name}}</span>
							</dd>
							<dt><span translate="polsoftApp.device.type">Type</span></dt>
							<dd>
								<span>{{device.type}}</span>
							</dd>
							<!-- <dt><span translate="polsoftApp.device.settings">Settings</span></dt>
							<dd>
								<span>{{device.settings}}</span>
							</dd> -->
							<dt><span translate="polsoftApp.device.status">Status</span></dt>
							<dd>
								<span>{{device.status}}</span>
							</dd>
							<!-- <dt><span translate="polsoftApp.device.lastRefresh">Last Refresh</span></dt>
							<dd>
								<span>{{device.lastRefresh | date:'medium'}}</span>
							</dd> -->
							<dt><span translate="polsoftApp.device.serial">Serial</span></dt>
							<dd>
								<span>{{device.serial}}</span>
							</dd>
							<dt><span >IP Address</span></dt>
							<dd>
								<span>{{device.ipAddress}}</span>
							</dd>
							<dt><span translate="polsoftApp.device.location">Location</span></dt>
							<dd>
								<span>{{device.location}}</span>
							</dd>
							<dt><span>Device Sync</span></dt>
						<dd>
							<span>{{device.channelsLinked}}</span> <br>
							<span>{{device.deviceConfig}}</span> <br>
							<span>{{device.alarmsLinked}}</span> <br>
						</dd>
						<dt><span>Data Link</span></dt>
						<dd>
						<div class="progress" style="width: 10%">
								<div class="progress-bar progress-bar-striped  {{device.dataLinked}}"
									role="progressbar" aria-valuenow="100" aria-valuemin="0"
									aria-valuemax="100" style="width: 100%">									
								</div>
								</div>
								</dd>
						<dt>						
					
						<dd><span>						
						
							</div>
							</span>
						</dd>

					</dl>
					</div>

				</div>
			</uib-accordion>
		</div>
	</div>
</div>