
<div>
    <h2><span translate="polsoftApp.device.detail.title">Device</span> {{vm.device.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="polsoftApp.device.name">Name</span></dt>
        <dd>
            <span>{{vm.device.name}}</span>
        </dd>
        <dt><span translate="polsoftApp.device.type">Type</span></dt>
        <dd>
            <span>{{vm.device.type}}</span>
        </dd>
        <dt><span translate="polsoftApp.device.settings">Settings</span></dt>
        <dd>
            <span>{{vm.device.settings}}</span>
        </dd>
        <dt><span translate="polsoftApp.device.status">Status</span></dt>
        <dd>
            <span>{{vm.device.status}}</span>
        </dd>
        <!-- <dt><span translate="polsoftApp.device.lastRefresh">Last Refresh</span></dt>
        <dd>
            <span>{{vm.device.lastRefresh | date:'medium'}}</span>
        </dd> -->
        <dt><span translate="polsoftApp.device.serial">Serial</span></dt>
        <dd>
            <span>{{vm.device.serial}}</span>
            
        </dd>
        <dt><span translate="polsoftApp.device.location">Location</span></dt>
        <dd>
            <span>{{vm.device.location}}</span>
        </dd>
        <dt><span translate="polsoftApp.device.block">Block</span></dt>
        <dd>
            <a ui-sref="block-detail({id:vm.device.blockId})">{{vm.device.blockId}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="device-detail.edit({id:vm.device.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
