<form name="editForm" class="form-inline" novalidate
	ng-submit="vm.save()">
	
	 <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBlockLabel">Create or edit a Block</h4>
        
    </div>
    <div class="modal-body">
		<div class="panel panel-default">
			<div class="panel-body" style="background-color: white;">
				<ul class="nav nav-tabs">
					<li role="presentation" ng-class="{active: vm.isSet(1) }"><a
						href ng-click="vm.setTab(1)">Basic</a></li>
					<li role="presentation" ng-class="{ active: vm.isSet(2) }"><a
						href ng-click="vm.setTab(2)"> <span
							class="glyphicon glyphicon-wrench"></span> Settings
					</a></li>
					<!-- <li role="presentation" ng-class="{ active: vm.isSet(3) }"><a
						href ng-click="vm.setTab(3)">Card Parameters</a></li> -->
					<!-- <li role="presentation" ng-class="{ active: vm.isSet(3) }"><a
						href ng-click="vm.setTab(3)"><span
							class="glyphicon glyphicon-transfer"></span>AnalogCard</a></li> -->
						
					<li role="presentation" ng-class="{ active: vm.isSet(4) }"><a
						href ng-click="vm.setTab(4)"><span
							class="glyphicon glyphicon-transfer"></span>Card1</a></li>
							
					<li role="presentation" ng-class="{ active: vm.isSet(5) }"><a
						href ng-click="vm.setTab(5)"><span
							class="glyphicon glyphicon-transfer"></span>Card2</a></li>
							
					<li role="presentation" ng-class="{ active: vm.isSet(6) }"><a
						href ng-click="vm.setTab(6)"><span
						class="glyphicon glyphicon-transfer"></span>Card3</a></li>
						
					<li role="presentation" ng-class="{ active: vm.isSet(7) }"><a
						href ng-click="vm.setTab(7)"><span
							class="glyphicon glyphicon-transfer"></span>Card4</a></li>
				</ul>
				<div class="tab-content">
					<div ng-show="vm.isSet(1)">
						<ng-include src="'app/entities/device/settings/basics.html'"></ng-include>
					</div>
					<div ng-show="vm.isSet(2)">
						<ng-include src="'app/entities/device/settings/settings.html'"></ng-include>
					</div>
					<div ng-show="vm.isSet(3)">
						<ng-include src="'app/entities/device/settings/analogcard.html'"></ng-include>
					</div>
					<div ng-show="vm.isSet(4)">
						<ng-include src="'app/entities/device/settings/card1.html'"></ng-include>
					</div>
					<div ng-show="vm.isSet(5)">
						<ng-include src="'app/entities/device/settings/card2.html'"></ng-include>
					</div>
					<div ng-show="vm.isSet(6)">
						<ng-include src="'app/entities/device/settings/card3.html'"></ng-include>
					</div>
					<div ng-show="vm.isSet(7)">
						<ng-include src="'app/entities/device/settings/card4.html'"></ng-include>
					</div>
				</div>
		</div>
	</div>
	<div>
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-click="vm.clear()">
						<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
							translate="entity.action.cancel" class="ng-scope">Cancel</span>
					</button>
					<button type="submit"
						ng-disabled="editForm.$invalid || vm.isSaving"
						class="btn btn-primary" disabled="disabled">
						<span class="glyphicon glyphicon-save"></span>&nbsp;<span
							translate="entity.action.save" class="ng-scope">Save</span>
					</button>
				</div>
</div>
</form>