<div class="tab-pane fade active in margin-30">
	<p></p>
	<br>
	<div class="row">
			<label class="control-label col-sm-3" translate="polsoftApp.device.location"
			for="field_name">Location</label>
			<div class="col-sm-9">
				<input type="text" class="form-control width-360" name="location"
				id="field_location" ng-model="vm.device.location"/>
			</div>
		</div>
		<!-- <div class="row">
			<label class="control-label  col-sm-3" for="field_location">Interval</label>
			<div class="col-sm-9">
				<select ng-model="vm.device.settings.basics.interval" class="form-control width-360">
					<option ng-repeat="x in vm.intervals" value="{{x}}">{{x}}</option>
				</select>
			</div>
		</div> -->

		<div class="row">
				<label class="control-label  col-sm-3">Time Out(In Minutes)</label>
					<div class="col-sm-9 width-60">
						<h-number value="vm.device.settings.basics.timeout" min="1" max="30"
						step="1" change="onChanged()"></h-number>
					</div>
			</div>
			<div class="row">
				<label class="control-label  col-sm-3"
				for="field_rs485address">RS485 Address</label>
					<div class="col-sm-9">
						<input type="text" class="form-control width-360" name="rs485address"
						id="field_rs485address" ng-model="vm.device.settings.basics.rs485address"/>
					</div>
			</div>

			<div class="row">
				<label class="control-label  col-sm-3"
				for="field_rs485address">User</label>
					<div class="col-sm-9">
						<input type="text" class="form-control width-360" name="rs485address"
						id="field_rs485address" ng-model="vm.device.settings.basics.user"/>
					</div>
			</div>
	<div class="row">
		<label class="control-label  col-sm-3">Scanrate</label>
		<div class="col-sm-9">
			<h-number value="vm.device.settings.a1params.scanrate" min="1"
				max="30" step="1" change="onChanged()"></h-number>
		</div>
	</div>
	<div class="row">
    <label class="control-label  col-sm-3">Max cards</label>
      <div class="col-sm-9">
        <h-number value="vm.device.settings.a1params.maxcards" min="1"
          max="4" step="1" change="onChanged()"></h-number>
      </div>
  </div>
    <div class="row">
    <label class="control-label  col-sm-3">Password</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="password"
          id="field_password"
          ng-model="vm.device.settings.a1params.password" />
      </div>
    </div>
  <div class="row">
    <label class="control-label  col-sm-3">Lograte</label>    
      <div class="col-sm-9">
        <h-number value="vm.device.settings.a1params.lograte" min="1"
          max="30" step="1" change="onChanged()"></h-number>
      </div>
  </div>
</div>