<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<!-- {{channel.id}} -->
			</div>
			<div class="panel-body">
				<div>
					{{channel.value}}
					<!-- <a ui-sref="options.channels.channel.detail.more({id: channel.id})">{{channel.value}}</a> -->
				</div>
				<!-- <a ui-sref="channels.channel({id: channel.id})">{{channel}}</a> -->
			</div>
		</div>
		<!-- <a ui-sref="options.channels.channel.detail.more({id: channel.id})">{{channel}}</a> -->
	</div>
	<div class="col-md-12">
		<ui-view></ui-view>
	</div>
</div>