<div class="row">
	<div class="col-md-3">
		<abn-tree tree-data="my_data" tree-control="my_tree" on-select="my_tree_handler(branch)" expand-level="1">
		</abn-tree>
	</div>
	<div class="col-md-3">
		<div class="" >
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Type</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="channel in channels">
						<td>{{$index + 1}}</td>
						<td><a ui-sref="options.channels.channel({id: channel.id})">{{channel.value}}</a></td>
						<td>Type</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-6">
		<ui-view></ui-view>
	</div>
</div>