<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Info</th>
                    <th>
                        <button type="button"  class="btn btn-primary" ng-click="saveTheAlarm()">
                        <span class="glyphicon glyphicon-save"></span>
                        <span class="hidden-xs hidden-sm"> Save</span>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ID</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Serial Number</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Device</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Last Refresh</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Settings</th>
                    <th></th>
                </tr>
                <tr>
                    <td>Name</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Regulation status</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Comment</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Details</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Group(s)</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Alarm</th>
                    <th></th>
                </tr>
                <tr>
                    <td>Mode</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="radio" name="alarmRadio" ng-model="alarmRadio" value="off" ng-click='newValue(alarmRadio)'>
                        <label for="off" class="switch-label switch-label-off">
                            Off
                        </label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="radio" name="alarmRadio" ng-model="alarmRadio" value="measuringPoint" ng-click='newValue(alarmRadio)'>
                        <label for="measuringPoint" class="switch-label switch-label-on">
                            Measuring point
                        </label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="radio" name="alarmRadio" ng-model="alarmRadio" value="alarmScheme" ng-click='newValue(alarmRadio)'>
                        <label for="alarmScheme" class="switch-label switch-label-on">
                            Alarm Scheme
                        </label>
                    </td>
                </tr>
                <tr>
                    <td colspan=2>
                        <div ng-show="alarmRadio == 'off'">
                            Alarm Off
                        </div>
                        <div ng-show="alarmRadio == 'measuringPoint'">
                            <div>
                                
                                <form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                        ng-click="vm.clear()">&times;</button>
                                        <h4 class="modal-title" id="myThresholdLabel" translate="polsoftApp.threshold.home.createOrEditLabel">Create or edit a Threshold</h4>
                                    </div>
                                    <div class="modal-body">
                                        <jhi-alert-error></jhi-alert-error>
                                        <div class="form-group" ng-show="vm.threshold.id">
                                            <label for="id" translate="global.field.id">ID</label>
                                            <input type="text" class="form-control" id="id" name="id"
                                            ng-model="vm.threshold.id" readonly />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" translate="polsoftApp.threshold.thresholdName" for="field_thresholdName">Threshold Name</label>
                                            <input type="text" class="form-control" name="thresholdName" id="field_thresholdName"
                                            ng-model="vm.threshold.thresholdName"
                                            required />
                                            <div ng-show="editForm.thresholdName.$invalid">
                                                <p class="help-block"
                                                    ng-show="editForm.thresholdName.$error.required" translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label translate="polsoftApp.threshold.parameter" for="field_parameter">User</label>
                                            <select class="form-control" id="field_parameter" name="parameter" ng-model="vm.threshold.parameter" ng-options="param.id as param.name for param in vm.params">
                                                <option value="" required></option>
                                            </select>
                                            <!-- <label class="control-label" translate="polsoftApp.threshold.parameter" for="field_parameter">Parameter</label>
                                            <input type="text" class="form-control" name="parameter" id="field_parameter"
                                            ng-model="vm.threshold.parameter"
                                            required /> -->
                                            <div ng-show="editForm.parameter.$invalid">
                                                <p class="help-block"
                                                    ng-show="editForm.parameter.$error.required" translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label translate="polsoftApp.threshold.severity" for="field_severity">Severity</label>
                                            <select class="form-control" id="field_severity" name="parameter" ng-model="vm.threshold.severity" ng-options="param.id as param.name for param in vm.severities">
                                                <option value="" required></option>
                                            </select>
                                            <!-- <label class="control-label" translate="polsoftApp.threshold.severity" for="field_severity">Severity</label>
                                            <input type="text" class="form-control" name="severity" id="field_severity"
                                            ng-model="vm.threshold.severity"
                                            required /> -->
                                            <div ng-show="editForm.severity.$invalid">
                                                <p class="help-block"
                                                    ng-show="editForm.severity.$error.required" translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" translate="polsoftApp.threshold.value" for="field_value">Value</label>
                                            <input type="number" class="form-control" name="value" id="field_value"
                                            ng-model="vm.threshold.value"
                                            required />
                                            <div ng-show="editForm.value.$invalid">
                                                <p class="help-block"
                                                    ng-show="editForm.value.$error.required" translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                                <p class="help-block"
                                                    ng-show="editForm.value.$error.number" translate="entity.validation.number">
                                                    This field should be a number.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" translate="polsoftApp.threshold.lowerLimitAlarm" for="field_lowerLimitAlarm">Lower Limit Alarm</label>
                                            <input type="number" class="form-control" name="lowerLimitAlarm" id="field_lowerLimitAlarm"
                                            ng-model="vm.threshold.lowerLimitAlarm"
                                            required />
                                            <div ng-show="editForm.lowerLimitAlarm.$invalid">
                                                <p class="help-block"
                                                    ng-show="editForm.lowerLimitAlarm.$error.required" translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                                <p class="help-block"
                                                    ng-show="editForm.lowerLimitAlarm.$error.number" translate="entity.validation.number">
                                                    This field should be a number.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" translate="polsoftApp.threshold.upperLimitAlarm" for="field_upperLimitAlarm">Upper Limit Alarm</label>
                                            <input type="number" class="form-control" name="upperLimitAlarm" id="field_upperLimitAlarm"
                                            ng-model="vm.threshold.upperLimitAlarm"
                                            required />
                                            <div ng-show="editForm.upperLimitAlarm.$invalid">
                                                <p class="help-block"
                                                    ng-show="editForm.upperLimitAlarm.$error.required" translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                                <p class="help-block"
                                                    ng-show="editForm.upperLimitAlarm.$error.number" translate="entity.validation.number">
                                                    This field should be a number.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" translate="polsoftApp.threshold.lowerLimitWarning" for="field_lowerLimitWarning">Lower Limit Warning</label>
                                            <input type="number" class="form-control" name="lowerLimitWarning" id="field_lowerLimitWarning"
                                            ng-model="vm.threshold.lowerLimitWarning"
                                            required />
                                            <div ng-show="editForm.lowerLimitWarning.$invalid">
                                                <p class="help-block"
                                                    ng-show="editForm.lowerLimitWarning.$error.required" translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                                <p class="help-block"
                                                    ng-show="editForm.lowerLimitWarning.$error.number" translate="entity.validation.number">
                                                    This field should be a number.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" translate="polsoftApp.threshold.upperLimitWarning" for="field_upperLimitWarning">Upper Limit Warning</label>
                                            <input type="number" class="form-control" name="upperLimitWarning" id="field_upperLimitWarning"
                                            ng-model="vm.threshold.upperLimitWarning"
                                            required />
                                            <div ng-show="editForm.upperLimitWarning.$invalid">
                                                <p class="help-block"
                                                    ng-show="editForm.upperLimitWarning.$error.required" translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                                <p class="help-block"
                                                    ng-show="editForm.upperLimitWarning.$error.number" translate="entity.validation.number">
                                                    This field should be a number.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" translate="polsoftApp.threshold.warningEnabled" for="field_warningEnabled">Warning Enabled</label>
                                            <input type="checkbox" class="form-control" name="warningEnabled" id="field_warningEnabled"
                                            ng-model="vm.threshold.warningEnabled"
                                            />
                                            <div ng-show="editForm.warningEnabled.$invalid">
                                                <p class="help-block"
                                                    ng-show="editForm.warningEnabled.$error.required" translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" translate="polsoftApp.threshold.alarmEnabled" for="field_alarmEnabled">Alarm Enabled</label>
                                            <input type="checkbox" class="form-control" name="alarmEnabled" id="field_alarmEnabled"
                                            ng-model="vm.threshold.alarmEnabled"
                                            />
                                            <div ng-show="editForm.alarmEnabled.$invalid">
                                                <p class="help-block"
                                                    ng-show="editForm.alarmEnabled.$error.required" translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" translate="polsoftApp.threshold.warningHysteresis" for="field_warningHysteresis">Warning Hysteresis</label>
                                            <input type="number" class="form-control" name="warningHysteresis" id="field_warningHysteresis"
                                            ng-model="vm.threshold.warningHysteresis"
                                            required />
                                            <div ng-show="editForm.warningHysteresis.$invalid">
                                                <p class="help-block"
                                                    ng-show="editForm.warningHysteresis.$error.required" translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                                <p class="help-block"
                                                    ng-show="editForm.warningHysteresis.$error.number" translate="entity.validation.number">
                                                    This field should be a number.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" translate="polsoftApp.threshold.alarmHysteresis" for="field_alarmHysteresis">Alarm Hysteresis</label>
                                            <input type="number" class="form-control" name="alarmHysteresis" id="field_alarmHysteresis"
                                            ng-model="vm.threshold.alarmHysteresis"
                                            required />
                                            <div ng-show="editForm.alarmHysteresis.$invalid">
                                                <p class="help-block"
                                                    ng-show="editForm.alarmHysteresis.$error.required" translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                                <p class="help-block"
                                                    ng-show="editForm.alarmHysteresis.$error.number" translate="entity.validation.number">
                                                    This field should be a number.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" translate="polsoftApp.threshold.alarmDelay" for="field_alarmDelay">Alarm Delay</label>
                                            <input type="number" class="form-control" name="alarmDelay" id="field_alarmDelay"
                                            ng-model="vm.threshold.alarmDelay"
                                            required />
                                            <div ng-show="editForm.alarmDelay.$invalid">
                                                <p class="help-block"
                                                    ng-show="editForm.alarmDelay.$error.required" translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                                <p class="help-block"
                                                    ng-show="editForm.alarmDelay.$error.number" translate="entity.validation.number">
                                                    This field should be a number.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" translate="polsoftApp.threshold.warningDelay" for="field_warningDelay">Warning Delay</label>
                                            <input type="number" class="form-control" name="warningDelay" id="field_warningDelay"
                                            ng-model="vm.threshold.warningDelay"
                                            />
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                                        </button>
                                        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div ng-show="alarmRadio == 'alarmScheme'">
                        <select ng-model="selectedScheme">
                        <option ng-repeat="x in thresholds" value="{{x}}">{{x.thresholdName}}
                        </option>
                        </select>
                            <div ng-repeat="threshold in thresholds">
                                {{threshold.thresholdName}}
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <div>
                    <a ui-sref="options.channels.channel.detail({id: channel.id})">{{channel.value}}</a>
                </div>
                <!-- <button type="button" class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button> -->
                <div ng-show="selected">Selection from a modal: {{ selected }}</div>
            </div>
        </div>
        <button type="button" class="btn btn-default" ng-click="open('sm')">Details</button>
    </div>
    <div class="col-md-6">
        <ui-view></ui-view>
    </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body" id="modal-body">
    <ul>
        <li ng-repeat="item in items">
            <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
        </li>
    </ul>
    Selected: <b>{{ selected.item }}</b>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
</script>
<!-- ui-sref="channels.channel.detail({id: channel.id})" -->