<div class="row">
	<div class="col-md-2">
		<table class="table table-bordered">
			<!-- 			<thead>
					<tr>
							<th>Email</th>
					</tr>
			</thead> -->
			<tbody>
				<tr ng-repeat="option in sideoptions">
					<td><a ui-sref="options.{{option.sref}}">{{option.name}}</a></td>
				</tr>
			</tbody>
		</table>
		<!-- 		<li ng-repeat="option in sideoptions">
				<a ui-sref="options.{{option.sref}}">{{option.name}}</a>
		</li> -->
	</div>
	<div class="col-md-10">
		<ui-view></ui-view>
	</div>
</div>