<div>
    <h2 translate="polsoftApp.scheduler.home.title">Scheduled Jobs</h2>
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default">
            <uib-accordion-heading>
                    <button type="button" class="btn btn-primary" ng-click="vm.refresh()">
				<i class="fa fa-plus" aria-hidden="true"></i>
			</button>
        
            </uib-accordion-heading>
            <div class="row">
            <label translate="polsoftApp.scheduler.jobname">Job Name</label>
               <input class="form-control" name="jobName" ng-model="vm.jobName" />
            </div><br>
           <div class="row">
               <label>Job Type</label>
               <select class="form-control width-360 ng-pristine ng-valid ng-not-empty ng-touched" id="job" name="jobClass" ng-model="vm.selectedJob" ng-options="option for option in vm.jobOptions">
            	</select>	
            </div>
            <div class="row" ng-show="vm.selectedJob=='Reports'">
            <label>Report Name</label>
            <select class="form-control ng-pristine ng-valid ng-not-empty ng-touched" id="job" name="templateid" ng-model="vm.selectedTemplate">
            	<option ng-repeat="(key, value) in vm.reportTemplates" value="{{key}}">{{value}}</option>
             </select>
            	</div><br>
            <div class="row">
                <cron-selection ng-model="vm.cronExpression" config="vm.config"></cron-selection><br>
                <button type="button" class="btn btn-primary" ng-click="vm.scheduleJob()">Schedule now
				<!-- <i class="fa fa-clock-o" aria-hidden="true"></i> -->
			</button>
            </div>
        </div>
    </uib-accordion>
    
    
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()" class="ng-isolate-scope">
                <th><span class="ng-scope" translate="polsoftApp.scheduler.jobname">Job Name</span></th>
                <th><span class="ng-scope" >Job Type</span></th>
                <th><span class="ng-scope" translate="polsoftApp.scheduler.reportid">Report ID</span></th>
                <th><span class="ng-scope" translate="polsoftApp.scheduler.scheduledAt">Scheduled At</span></th>
                <th><span class="" tanslate="polsoftApp.scheduler.update">Update</span></th>
                <th><span class="" tanslate="polsoftApp.scheduler.Delete">Delete</span></th>
            </tr>
            </thead>
            <tbody>
            	<tr  data-ng-repeat="job in vm.jobs" >
            		<td ng-model="job.jobName">{{job.jobName}}</td>
            		<td ng-model="job.className">{{job.className}}</td>
            		<td ng-model="job.jobName">{{job.templateid}}</td>
            		<td><cron-selection ng-model="job.cronExpression" config="vm.config"></cron-selection></td>
            	<td> <button type="button" class="btn btn-default" ng-click="vm.updateJob(job)">
            	<i class="fa fa-clock-o" aria-hidden="true"></i></td>
            	<td><button type="button" class="btn btn-default" ng-click="vm.deleteJob(job)">
            	<i class="fa fa fa-trash-o" aria-hidden="true"></i></td>
            </tbody>
        </table>
    </div>
</div>