
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySystempreferencesLabel" translate="polsoftApp.systempreferences.home.createOrEditLabel">Create or edit a Systempreferences</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.systempreferences.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.systempreferences.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="polsoftApp.systempreferences.data" for="field_data">Data</label>
            <input type="text" class="form-control" name="data" id="field_data"
                    ng-model="vm.systempreferences.data" readonly
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="polsoftApp.systempreferences.keyproperty" for="field_keyproperty">Keyproperty</label>
            <input type="text" class="form-control" name="keyproperty" id="field_keyproperty"
                    ng-model="vm.systempreferences.keyproperty"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
