<div>
    <h2 translate="polsoftApp.systempreferences.home.title">Systempreferences</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid col-md-7">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
            <!--  <button class="btn btn-primary" ui-sref="systempreferences.new" ng-model="$disable" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="polsoftApp.systempreferences.home.createLabel">
                        Create new Systempreferences
                    </span>
                </button>   -->  
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'polsoftApp.systempreferences.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive col-md-7">
        <form ng-submit="vm.apply(vm.systempreferences,sys_pref_form)" name="sys_pref_form" novalidate>
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <!--<th><span translate="global.field.id">ID</span></th>-->
                    <th><span translate="polsoftApp.systempreferences.data">Data</span></th>
                    <th><span translate="polsoftApp.systempreferences.keyproperty">keyproperty</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="systempreferences in vm.systempreferences track by systempreferences.id">
                    <!--<td><a ui-sref="systempreferences-detail({id:systempreferences.id})">{{systempreferences.id}}</a></td>-->
                    <td style="width:40%">{{systempreferences.keyproperty}}</td>
                    <td style="width:45%">
                       <input type="text" class="form-control" name="data" id="field_data"
                    ng-model="systempreferences.data" ui-sref-active="active" show-password="systempreferences.keyproperty!='Email Password'" 
				 has-permission='{"level":"EDIT","resource":"systempreferences", "authority":"Administrator", "disableForPermission":true}' required/>
                    </td>
                    <!--<td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="systempreferences-detail({id:systempreferences.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="systempreferences.edit({id:systempreferences.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                           <!--   <button type="submit"
                                    ui-sref="systempreferences.delete({id:systempreferences.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button> -->
                        </div>
                    </td>
                </tr>
                
            </tbody>
        </table>
         <button type="submit" style="float: right;    margin-right: 16%;"  
                                    class="btn btn-primary" ui-sref-active="active"
				 has-permission='{"level":"EDIT","resource":"systempreferences", "authority":"Administrator", "disableForPermission":true}'>
                                <span class="glyphicon glyphicon-apply"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.apply"></span>
                            </button>
        </form>
    </div>
</div>
