
<div>
    <h2><span translate="polsoftApp.systempreferences.detail.title">Systempreferences</span> {{vm.systempreferences.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="polsoftApp.systempreferences.data">Data</span></dt>
        <dd>
            <span>{{vm.systempreferences.data}}</span>
        </dd>
        <dt><span translate="polsoftApp.systempreferences.keyproperty">keyproperty</span></dt>
        <dd>
            <span>{{vm.systempreferences.keyproperty}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="systempreferences-detail.edit({id:vm.systempreferences.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
