<!-- <div class="tab-pane fade in margin-30">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-bell"></span> <Label> Alarm Details</Label>
			</div>
			<div class="row">
	        <div class="col-sm-3"></div>
	        <div class="col-sm-2"><b>A-Shift</b></div>
	        <div class="col-sm-2"><b>B-Shift</b></div>
	        <div class="col-sm-2"><b>C-Shift</b></div>
	    </div>
		
		<div class="row">
	        <div class="col-sm-2">Start Hours</div>
	        <div class="col-sm-2">	<input type="text" class="form-control width-150" name="dp" id="dp"
							ng-model="vm.device.settings.alarm.shifta.starthours" /></div>
	        <div class="col-sm-2">	<input type="text" class="form-control  width-150" name="dp" id="dp"
							ng-model="vm.device.settings.alarm.shiftb.starthours" /></div>
			<div class="col-sm-2">	<input type="text" class="form-control  width-150" name="dp" id="dp"
							ng-model="vm.device.settings.alarm.shiftc.starthours" /></div>
	    </div>
	    <div class="row">
	        <div class="col-sm-2">Start Minutes</div>
	        <div class="col-sm-2">	<input type="text" class="form-control width-150" name="dp" id="dp"
							ng-model="vm.device.settings.alarm.shifta.startmins" /></div>
	        <div class="col-sm-2">	<input type="text" class="form-control  width-150" name="dp" id="dp"
							ng-model="vm.device.settings.alarm.shiftb.startmins" /></div>
			<div class="col-sm-2">	<input type="text" class="form-control  width-150" name="dp" id="dp"
							ng-model="vm.device.settings.alarm.shiftc.startmins" /></div>
	    </div>
	    
	    <div class="row">
	        <div class="col-sm-2">End Hours</div>
	        <div class="col-sm-2">	<input type="text" class="form-control width-150" name="dp" id="dp"
							ng-model="vm.device.settings.alarm.shifta.endhours" /></div>
	        <div class="col-sm-2">	<input type="text" class="form-control  width-150" name="dp" id="dp"
							ng-model="vm.device.settings.alarm.shiftb.endhours" /></div>
			<div class="col-sm-2">	<input type="text" class="form-control  width-150" name="dp" id="dp"
							ng-model="vm.device.settings.alarm.shiftc.endhours" /></div>
	    </div>
	    
	    <div class="row">
	        <div class="col-sm-2">End Minutes</div>
	        <div class="col-sm-2">	<input type="text" class="form-control width-150" name="dp" id="dp"
							ng-model="vm.device.settings.alarm.shifta.endmins" /></div>
	        <div class="col-sm-2">	<input type="text" class="form-control  width-150" name="dp" id="dp"
							ng-model="vm.device.settings.alarm.shiftb.endmins" /></div>
			<div class="col-sm-2">	<input type="text" class="form-control  width-150" name="dp" id="dp"
							ng-model="vm.device.settings.alarm.shiftc.endmins" /></div>
	    </div>			
		
		</div> -->