<div class="tab-pane fade in margin-30">
	<p></p>
	<br>
	<div class="row">
		<label class="control-label col-sm-3" translate="polsoftApp.device.name"
		for="field_name">Name</label>
		<div class="col-sm-9"><input type="text" name="name"
			id="field_name" ng-model="vm.device.name" class="form-control width-360"/></div>
		</div>

		<div class="row" >
			<label class="control-label col-sm-3" translate="polsoftApp.device.type"
			for="field_type">Type</label>
			<div class="col-sm-9">
				<select class="form-control width-360"
				ng-model="vm.device.type" name="type" id="field_type">
				<option>DataLogger(122M)</option>
			</select>
		</div>
	</div>

	<div class="row" >
		<label class="control-label col-sm-3" translate="polsoftApp.device.status"
		for="field_status">Status </label>
		<div class="col-sm-9">
			<toggle ng-model="vm.device.status" ng-change="changed()"
			on="Enabled" off="Disabled" onstyle="btn-success"
			offstyle="btn-warning"></toggle>
		</div>
	</div>

	<div class="row" >
		<label class="control-label col-sm-3" translate="polsoftApp.device.serial"
		for="field_serial">Serial</label>
		<div class="col-sm-9">
			<input type="text"
			class="form-control  width-360" name="serial" id="field_serial"
			ng-model="vm.device.serial" />			
		</div>			
		
	</div>
	
	<div class="row" >
		<label class="control-label col-sm-3" 
		for="field_serial">IP Address</label>
		<div class="col-sm-9">
		<input type="text"
			class="form-control  width-360" name="serial" id="field_serial"
			ng-model="vm.device.ipAddress" />			
		</div>			
		
	</div>
	
	
	<!-- <div class="row" >
		<label  class="control-label  col-sm-3" translate="polsoftApp.device.block" for="field_block">Block</label>
		<div class="col-sm-9">
			<select class="form-control width-360" id="field_block" name="block"
			ng-model="vm.device.blockId"
			ng-options="block.id as block.id for block in vm.blocks">
			<option value=""></option>
		</select>
	</div>
</div>
 -->

<!-- <div class="row" >
	<label class="control-label  col-sm-3"
	translate="polsoftApp.device.lastRefresh" for="field_lastRefresh">Last
	Refresh</label>
	<span class="col-sm-3">
		<input id="field_lastRefresh" type="text" class="form-control" name="lastRefresh" datetime-picker="{{dateformat}}" ng-model="vm.device.lastRefresh" is-open="vm.datePickerOpenStatus.lastRefresh"/>
	</span>
	<span
	class="input-group-btn">
	<button type="button" class="btn btn-default"
	ng-click="vm.openCalendar('lastRefresh')">
	<i class="glyphicon glyphicon-calendar"></i>
</button>
</div> -->

</div>
</div>
