<div class="tab-pane fade active in margin-30">
 	<p><div class="form-group  col-md-12">
				<label class="control-label  col-md-12">Channel</label>
				<div class="row">
					<div class="col-xs-6">
						<!-- <select class="form-control"
							ng-model="vm.selectedChannel" name="type" ng-init="vm.selectedChannel = vm.device.card1Channels[0]"
							id="field_type" ng-options="channel.name for channel in vm.device.card1Channels track by index" ng-if="vm.isSet(4)">														
						</select> -->
						<select class="form-control" ng-change="vm.setSelected(vm.selectedChannel)" ng-model="vm.selectedChannel" ng-options="channel.name for channel in vm.device.card1Channels" ng-if="vm.isSet(4)">
								</select>
						<select class="form-control"
							ng-model="vm.selectedChannel" name="type"
							id="field_type" ng-options="channel.name for channel in vm.device.card2Channels track by index" ng-if="vm.isSet(5)">														
						</select>
						<select class="form-control"
							ng-model="vm.selectedChannel" name="type"
							id="field_type" ng-options="channel.name for channel in vm.device.card3Channels track by index" ng-if="vm.isSet(6)">														
						</select>
						<select class="form-control"
							ng-model="vm.selectedChannel" name="type"
							id="field_type" ng-options="channel.name for channel in vm.device.card4Channels track by index" ng-if="vm.isSet(7)">														
						</select>
					</div>
					<div class="col-md-6" ng-if="!vm.selectedChannel.id">
						<label class="control-label  col-md-4">Apply All</label>					
						<toggle ng-model="yes" ng-change="changed()" on="Yes" off="No" onstyle="btn-success" offstyle="btn-warning"></toggle>
					</div> 
				</div>
			</div>
		</p>
	<br><hr>
	<div class="col-md-6">
	Configure A2 Parameters of {{vm.device.card1Channels[vm.selectedChannel.index].name}} --
	{{vm.device.card1Channels[vm.selectedChannel.index].channeldata.dp}}
	</div>
		<div class="form-group  col-md-6" >
				<label class="control-label  col-md-4">Log CH</label>
				<div class="row">
					<div class="col-sm-2">
						<toggle dynamic-model="vm.device.card1Channels[vm.selectedChannel.index].channeldata.logch"
							ng-change="changed()" on="Yes" off="No" onstyle="btn-success"
							offstyle="btn-warning"></toggle>
					</div>
				</div>
			</div>
			<div class="form-group  col-md-6">
				<label class="control-label  col-md-4">DP</label>
				<div class="row">
					<div class="col-xs-6">
						<input type="text" class="form-control" name="dp" id="dp"
							dynamic-model="vm.device.card1Channels[vm.selectedChannel.index].channeldata.dp" />
					</div>
				</div>
			</div>
			<div class="form-group  col-md-6">
				<label class="control-label  col-md-4">Device Address Array</label>
				<div class="row">
					<div class="col-xs-6">
							<input type="text" class="form-control" name="dp" id="dp"
							ng-model="vm.device.card1Channels[vm.selectedChannel.index].channeldata.address" />
							</div>
				</div>
			</div>
			<div class="form-group  col-md-6">
				<label class="control-label  col-md-4">Sensor Offset</label>
				<div class="row">
					<div class="col-sm-2">
						<input type="text" class="form-control" name="dp" id="dp"
							ng-model="vm.device.card1Channels[vm.selectedChannel.index].channeldata.sensor.offset" />
					</div>
				</div>
			</div>
			<div class="form-group  col-md-6">
				<label class="control-label  col-md-4">Sensor Mulfactor</label>
				<div class="row">
					<div class="col-sm-2">
						<input type="text" class="form-control" name="dp" id="dp"
							ng-model="vm.device.card1Channels[vm.selectedChannel.index].channeldata.sensor.mulfactor" />
					</div>
				</div>
			</div>
			<div class="form-group  col-md-6">
				<label class="control-label  col-md-4">Alarm Low</label>
				<div class="row">
					<div class="col-xs-6">
						<input type="text" class="form-control" name="dp" id="dp"
							ng-model="vm.device.card1Channels[vm.selectedChannel.index].channeldata.alarmLow" />
					</div>
				</div>
			</div>
			<div class="form-group  col-md-6">
				<label class="control-label  col-md-4">Alarm High</label>
				<div class="row">
					<div class="col-xs-6">
						<input type="text" class="form-control" name="dp" id="dp"
							ng-model="vm.device.card1Channels[vm.selectedChannel.index].channeldata.alarmHigh" />
					</div>
				</div>
			</div><br>
			<div class="form-group  col-md-6">
				<label class="control-label  col-md-4">Prg Input</label>
				<div class="row">
					<div class="col-xs-6">
					<select class="form-control"
					ng-model="vm.device.card1Channels[vm.selectedChannel.index].channeldata.prginput" name="dp" id="field_type">
					<option>1-0-20mA</option>
					<option>2-4-20mA</option>					
					</select>			
					</div>
				</div>
				</div>
			<div class="form-group  col-md-6">
				<label class="control-label  col-md-4">Prg SubInput</label>
				<div class="row">
					<div class="col-xs-6">
					<select class="form-control"
					ng-model="vm.device.card1Channels[vm.selectedChannel.index].channeldata.prgsubinput" name="dp" id="field_type">
					<option>1-Pt-50</option>
					<option>2-Pt-100</option>
					<option>3-Pt-1000</option>
					</select>
					</div>
				</div>
			</div>
			<div class="form-group  col-md-6">
				<label class="control-label  col-md-4">mA High</label>
				<div class="row">
					<div class="col-xs-6">
						<select class="form-control"
						ng-model="vm.device.card1Channels[vm.selectedChannel.index].channeldata.maHigh" name="dp" id="field_type">
						<option>1-4-20mA</option>
						</select>
					</div>
				</div>
			</div>
			<div class="form-group  col-md-6">
				<label class="control-label  col-md-4">mV High</label>
				<div class="row">
					<div class="col-xs-6">
						<select class="form-control" 
							ng-model="vm.device.card1Channels[vm.selectedChannel.index].channeldata.mvHigh" name="dp" id="field_type">
						<option>1-0-10V</option>
						<option>2-1-5V</option>
						</select>
					</div>
				</div>
			</div>
			<div class="form-group  col-md-6">
				<label class="control-label  col-md-4">mA Low</label>
				<div class="row">
					<div class="col-xs-6">
					<select class="form-control"
						ng-model="vm.device.card1Channels[vm.selectedChannel.index].channeldata.maLow" name="dp" id="field_type">
					<option>1-0-20mA</option>
					</select>
					</div>
				</div>
			</div>
			<div class="form-group  col-md-6">
				<label class="control-label  col-md-4">mV Low</label>
				<div class="row">
					<div class="col-xs-6">
						<select class="form-control"
							ng-model="vm.device.card1Channels[vm.selectedChannel.index].channeldata.mVLow" name="dp" id="field_type">
						<option>1-0-1V</option>
						<option>2-0-5V</option>
						</select>
					</div>
				</div>
			</div>
			<div class="form-group  col-md-6">
				<label class="control-label  col-md-4">Units</label>
				<div class="row">
					<div class="col-xs-6">
						<select class="form-control"
							ng-model="vm.device.card1Channels[vm.selectedChannel.index].unit" name="dp"
							id="field_type">
							<option>Pressure</option>
							<option>Temperature</option>
							<option>Humidity</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
	        <div class="col-md-4">144 Channel Alarm Enabled</div>
	        <div class="col-md-4">	<toggle ng-model="vm.device.settings.rtc.alarmenabled144"
							ng-change="changed()" on="Yes" off="No" onstyle="btn-success"
							offstyle="btn-warning"></toggle></div>
	    </div>
</div>