<div class="tab-pane fade active in margin-30">
	<p></p>
	<br>
  <div class="row">
	<div class="form-group  col-md-6">
    <label class="control-label  col-md-4">Scanrate</label>

      <div class="col-xs-6">
        <h-number value="vm.device.settings.a1params.scanrate" min="1"
          max="30" step="1" change="onChanged()"></h-number>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="form-group  col-md-6">
    <label class="control-label  col-md-4">Max cards</label>

      <div class="col-xs-6">
        <h-number value="vm.device.settings.a1params.maxcards" min="1"
          max="3" step="1" change="onChanged()"></h-number>
      </div>
    </div>
  </div>
    <div class="row">
  <div class="form-group  col-md-6">
    <label class="control-label  col-md-4">Password</label>
      <div class="col-xs-6">
        <input type="text" class="form-control" name="password"
          id="field_password"
          ng-model="vm.device.settings.a1params.password" />
      </div>
    </div>
  </div>
  <div class="row">
  <div class="form-group  col-md-6">
    <label class="control-label  col-md-4">Lograte</label>    
      <div class="col-xs-6">
        <h-number value="vm.device.settings.a1params.lograte" min="1"
          max="30" step="1" change="onChanged()"></h-number>
      </div>
    </div>
  </div>
    <div class="row">
	        <div class="col-sm-1"></div>
	        <div class="col-sm-3">Address</div>
	        <div class="col-sm-2">Type</div>
	        <div class="col-sm-3">SubAddress</div>
	    </div>
	    <div class="row">
	        <div class="col-sm-1">Card 1</div>
	        <div class="col-sm-3">	<input type="text" class="form-control width-360" name="dp" id="dp"
							ng-model="vm.device.settings.a1params.card1address" /></div>
			<div class="col-sm-2">
				<select class="form-control width-360"
				ng-model="vm.device.settings.a1params.card1type" name="type" id="field_type">
				<option>None</option>
				<option>Analog Card</option>
				<option>Serial Card</option>
				</select>
			</div>
			<div class="col-sm-2">
				<select class="form-control width-360"
				ng-model="vm.device.settings.a1params.card1subaddress" name="subaddress" id="field_type">
				<option>None</option>
				<option>Temperature</option>
				<option>DP</option>
				<option>RH</option>
				</select>
			</div>
	     	<div class="col-sm-1">Card1 Enable</div>
	        <div class="col-sm-2">	<toggle ng-model="vm.device.settings.a1params.card1enabled"
							ng-change="changed()" on="Yes" off="No" onstyle="btn-success"
							offstyle="btn-warning"></toggle></div>
		</div>
			<div class="row">
	        <div class="col-sm-1">Card 2</div>
	        <div class="col-sm-3">	<input type="text" class="form-control  width-360" name="dp" id="dp"
							ng-model="vm.device.settings.a1params.card2address" /></div>
	        <div class="col-sm-2">
				<select class="form-control width-360"
				ng-model="vm.device.settings.a1params.card2type" name="type" id="field_type">
				<option>None</option>
				<option>Analog Card</option>
				<option>Serial Card</option>
				</select>
			</div>
			<div class="col-sm-2">
				<select class="form-control width-360"
				ng-model="vm.device.settings.a1params.card2subaddress" name="subaddress" id="field_type">
				<option>None</option>
				<option>Temperature</option>
				<option>DP</option>
				<option>RH</option>
				</select>
			</div>
			<div class="col-sm-1">Card2 Enable</div>
	        <div class="col-sm-2">	<toggle ng-model="vm.device.settings.a1params.card2enabled"
							ng-change="changed()" on="Yes" off="No" onstyle="btn-success"
							offstyle="btn-warning"></toggle></div>
	    </div>
			<div class="row">
	        <div class="col-sm-1">Card 3</div>
	        <div class="col-sm-3">	<input type="text" class="form-control  width-360" name="dp" id="dp"
							ng-model="vm.device.settings.a1params.card3address" /></div>
	        <div class="col-sm-2">
				<select class="form-control width-360"
				ng-model="vm.device.settings.a1params.card3type" name="type" id="field_type">
				<option>None</option>
				<option>Analog Card</option>
				<option>Serial Card</option>
				</select>
			</div>
			<div class="col-sm-2">
				<select class="form-control width-360"
				ng-model="vm.device.settings.a1params.card3subaddress" name="subaddress" id="field_type">
				<option>None</option>
				<option>Temperature</option>
				<option>DP</option>
				<option>RH</option>
				</select>
			</div>
			<div class="col-sm-1">Card3 Enable</div>
	        <div class="col-sm-2">	<toggle ng-model="vm.device.settings.a1params.card3enabled"
							ng-change="changed()" on="Yes" off="No" onstyle="btn-success"
							offstyle="btn-warning"></toggle></div>
	    </div>
	    <div class="col-sm-2">Card4 Enabled</div>
	        <div class="col-sm-2">	<toggle ng-model="vm.device.settings.a1params.card4enabled"
							ng-change="changed()" on="Yes" off="No" onstyle="btn-success"
							offstyle="btn-warning"></toggle></div>
							 <div class="row">
	        <div class="col-sm-2">AA162 Card Enabled</div>
	        <div class="col-sm-2">	<toggle ng-model="vm.device.settings.a1params.aa162enabled"
							ng-change="changed()" on="Yes" off="No" onstyle="btn-success"
							offstyle="btn-warning"></toggle></div>
	    </div>
</div>
