<div class="tab-pane fade active in margin-30">
	<p>
	<div class="form-group  col-md-12">
		<label class="control-label  col-md-12">Channel</label>
		<div class="row">

			<div class="col-xs-6">
				<select class="form-control"
					ng-change="vm.setSelected(vm.selectedChannel2,2)"
					ng-model="vm.selectedChannel2"
					ng-options="channel.name for channel in vm.device.card2Channels">
				</select>
			</div>
		</div>
	</div>
	</p>
	<br>
	<hr>
	<div class="col-md-6">Configure A2 Parameters of
		{{vm.device.card2Channels[vm.selectedChannel2.index].name}}</div>
	<div class="form-group  col-md-6">
		<label class="control-label  col-md-4">Sensor Offset</label>
		<div class="row">
			<div class="col-sm-2">
				<input type="text" class="form-control" name="dp" id="dp"
					ng-model="vm.device.card2Channels[vm.selectedChannel2.index].channeldata.sensor.offset" />
			</div>
		</div>
	</div>
	<div class="form-group  col-md-6">
		<label class="control-label  col-md-4">Sensor Mulfactor</label>
		<div class="row">
			<div class="col-sm-2">
				<input type="text" class="form-control" name="dp" id="dp"
					ng-model="vm.device.card2Channels[vm.selectedChannel2.index].channeldata.sensor.mulfactor" />
			</div>
		</div>
	</div>
	<div class="form-group  col-md-6">
		<label class="control-label  col-md-4">Prg Input</label>
		<div class="row">
			<div class="col-xs-6">
				<select class="form-control"
					ng-model="vm.device.card2Channels[vm.selectedChannel2.index].channeldata.prginput"
					name="dp" id="program"
					ng-options="x.id as x.program for x in vm.getProgramInput()">
				</select>
			</div>
		</div>
	</div>

	<div class="form-group  col-md-6">
		<label class="control-label  col-md-4">Prg SubInput</label>
		<div class="row">
			<div class="col-xs-6">
				<select class="form-control"
					ng-model="vm.device.card2Channels[vm.selectedChannel2.index].channeldata.prgsubinput"
					name="dp" id="field_type"
					ng-options="x.id as x.input for x in vm.updateSubInput()">
					<option value=1 ng-show="vm.isRTD()">Pt-50</option>
					<option value=2 ng-show="vm.isRTD()">Pt-100</option>
					<option value=3 ng-show="vm.isTC()">Pt-1000</option>
				</select>
			</div>
		</div>
	</div>
	<div class="form-group  col-md-6">
		<label class="control-label  col-md-4">mA Low</label>
		<div class="row">
			<div class="col-xs-6">
				<input type="number" class="form-control" name="dp" id="dp" 
					ng-model="vm.device.card2Channels[vm.selectedChannel2.index].channeldata.maLow" />
			</div>
		</div>
	</div>
	<div class="form-group  col-md-6">
		<label class="control-label  col-md-4">mA High</label>
		<div class="row">
			<div class="col-xs-6">
				<input type="number" class="form-control" name="dp" id="dp" 
					ng-model="vm.device.card2Channels[vm.selectedChannel2.index].channeldata.maHigh" />
			</div>
		</div>
	</div>
	<div class="form-group  col-md-6">
		<label class="control-label  col-md-4">mV Low</label>
		<div class="row">
			<div class="col-xs-6">
				<input type="number" class="form-control" name="dp" id="dp" 
					ng-model="vm.device.card2Channels[vm.selectedChannel2.index].channeldata.mVLow" />
			</div>
		</div>
	</div>
	<div class="form-group  col-md-6">
		<label class="control-label  col-md-4">mV High</label>
		<div class="row">
			<div class="col-xs-6">
				<input type="number" class="form-control" name="dp" id="dp" 
					ng-model="vm.device.card2Channels[vm.selectedChannel2.index].channeldata.mvHigh" />
			</div>
		</div>
	</div>
</div>
