<!-- <div class="tab-pane fade in margin-30">
	<p></p>
	<br>
			<Label>RTC Parameters</label>
	    <div class="row">
	        <div class="col-sm-1">Seconds</div>
	        <div class="col-sm-3"><input type="text" class="form-control  width-120" name="dp" id="dp"
							ng-model="vm.device.settings.rtc.seconds" /></div>
	        <div class="col-sm-1">Date</div>
	        <div class="col-sm-3"><input type="text" class="form-control  width-120" name="dp" id="dp"
							ng-model="vm.device.settings.rtc.date" /></div>
	    </div>
	    <div class="row">
	        <div class="col-sm-1">Minutes</div>
	        <div class="col-sm-3"><input type="text" class="form-control  width-120" name="dp" id="dp"
							ng-model="vm.device.settings.rtc.minutes" /></div>
	        <div class="col-sm-1">Month</div>
	        <div class="col-sm-3"><input type="text" class="form-control  width-120" name="dp" id="dp"
							ng-model="vm.device.settings.rtc.month" /></div>
	    </div>
	    <div class="row">
	        <div class="col-sm-1">Hours</div>
	        <div class="col-sm-3"><input type="text" class="form-control  width-120" name="dp" id="dp"
							ng-model="vm.device.settings.rtc.hours" /></div>
	        <div class="col-sm-1">Year</div>
	        <div class="col-sm-3"><input type="text" class="form-control  width-120" name="dp" id="dp"
							ng-model="vm.device.settings.rtc.year" /></div>
	    </div>
	    <div class="row">
	        <div class="col-sm-1">Century</div>
	        <div class="col-sm-3"><input type="text" class="form-control  width-120" name="dp" id="dp"
							ng-model="vm.device.settings.rtc.century" /></div>
	    </div>
</div>
 -->