<div class="tab-pane fade in margin-30">
	<p></p>
	<br>
	<div class="form-group  col-md-12">
		<div class="row">
			<label class="control-label col-sm-3">Device Channel Array</label>
			<div class="col-sm-9"><input
				type="text" class="form-control width-360" name="serialCardParams"
				id="field_serialCardParams"
				ng-model="vm.device.settings.serialCardParams.deviceMchArray" />
			</div>
		</div>
	</div>


	<div class="form-group  col-md-12">
		<div class="row">
			<label class="control-label col-sm-3">Maxdevice Array</label>
			<div class="col-sm-9"><input
				type="text" class="form-control width-360" name="serialCardParams"
				id="field_serialCardParams"
				ng-model="vm.device.settings.serialCardParams.maxcDeviceArray" />
			</div>
		</div>
	</div>

	<div class="form-group  col-md-12">
		<div class="row">
			<label class="control-label col-sm-3">Device Enable Array</label>
			<div class="col-sm-9"><toggle
				ng-change="changed()" on="Yes" off="No" onstyle="btn-success"
				offstyle="btn-warning"	ng-model="vm.device.settings.serialCardParams.deviceEnableArray" ></toggle>
			</div>
		</div>
	</div>
