<div class="tab-pane fade active in margin-30">
	<p></p>
	<br>
	<div class="row">
			<label class="control-label col-sm-3" translate="polsoftApp.device.location"
			for="field_name">Location</label>
			<div class="col-sm-9">
				<input type="text" class="form-control width-360" name="location"
				id="field_location" ng-model="vm.device.location"/>
			</div>
		</div>
		<!-- <div class="row">
			<label class="control-label  col-sm-3" for="field_location">Interval</label>
			<div class="col-sm-9">
				<select ng-model="vm.device.settings.basics.interval" class="form-control width-360">
					<option ng-repeat="x in vm.intervals" value="{{x}}">{{x}}</option>
				</select>
			</div>
		</div> -->

		<div class="row">
				<label class="control-label  col-sm-3">Time Out(In Minutes)</label>
					<div class="col-sm-9 width-60">
						<h-number value="vm.device.settings.basics.timeout" min="1" max="30"
						step="1" change="onChanged()"></h-number>
					</div>
			</div>
			<div class="row">
				<label class="control-label  col-sm-3"
				for="field_rs485address">RS485 Address</label>
					<div class="col-sm-9">
						<input type="text" class="form-control width-360" name="rs485address"
						id="field_rs485address" ng-model="vm.device.settings.basics.rs485address"/>
					</div>
			</div>

			<div class="row">
				<label class="control-label  col-sm-3"
				for="field_rs485address">User</label>
					<div class="col-sm-9">
						<input type="text" class="form-control width-360" name="rs485address"
						id="field_rs485address" ng-model="vm.device.settings.basics.user"/>
					</div>
			</div>
</div>
</div>