<div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 translate="reset.finish.title">Reset password</h1>

            <div class="alert alert-danger" translate="reset.finish.messages.keymissing" ng-show="vm.keyMissing">
                <strong>The password reset key is missing.</strong>
            </div>

            <div class="alert alert-warning" ng-hide="vm.success || vm.keyMissing">
                <p translate="reset.finish.messages.info">Choose a new password</p>
            </div>

            <div class="alert alert-danger" ng-show="vm.error">
                <p translate="reset.finish.messages.error">Your password couldn't be reset. Remember a password request is only valid for 24 hours.</p>
            </div>

            <div class="alert alert-danger" ng-show="vm.oldpassword"  translate="password.messages.oldpassword">
                <strong>An error has occurred!</strong> This password was used by you recently.
            </div>
			<div class="alert alert-success" ng-show="vm.success">Password changed!</div>
           <!-- <div class="alert alert-success" ng-show="vm.success">
                <p translate="reset.finish.messages.success" translate-compile><strong>Your password has been reset.</strong> 
                Please <a class="alert-link" href="" ng-click="vm.gotoLogin()">sign in</a>. </p>
            </div> -->
			 
            <div class="alert alert-danger" ng-show="vm.doNotMatch" translate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>

            <div ng-hide="vm.keyMissing">
                <form ng-show="!vm.success"  autocomplete="off" name="form" role="form" novalidate ng-submit="vm.finishReset()" show-validation>
                    <div class="form-group">
                        <label class="control-label" for="password" translate="global.form.newpassword">New password</label>
                        <input type="password" style="-webkit-text-security: disc;" class="form-control password_hide" id="password" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                               ng-model="vm.resetAccount.password" ng-pattern="vm.passwordPattern" ng-minlength={{vm.Passwordlength}} ng-maxlength=50 required 
                               onfocus="this.removeAttribute('readonly');"/>
                        <div ng-show="form.password.$dirty && form.password.$invalid">
                            <p class="help-block"
                               ng-show="form.password.$error.required" translate="global.messages.validate.newpassword.required">
                                Your password is required.
                            </p>
                            <p class="help-block"
                               ng-show="form.password.$error.minlength"> </p>
                               Password should have uppercase, lowercase, special character, a number with a minimum length of {{vm.Passwordlength}}
                            <p class="help-block"
                               ng-show="form.password.$error.maxlength" translate="global.messages.validate.newpassword.maxlength">
                                Your password cannot be longer than 50 characters.
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="confirmPassword" translate="global.form.confirmpassword">New password confirmation</label>
                        <input type="password"  style="-webkit-text-security: disc;" class="form-control password_hide" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                               ng-model="vm.confirmPassword" ng-pattern="vm.passwordPattern" ng-minlength={{vm.Passwordlength}} ng-maxlength=50 required 
                               onfocus="this.removeAttribute('readonly');" />
                        <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.required" translate="global.messages.validate.confirmpassword.required">
                                Your password confirmation is required.
                            </p>
                            <p class="help-block" ng-show="form.confirmPassword.$error.minlength">  
                            </p>
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.maxlength" translate="global.messages.validate.confirmpassword.maxlength">
                                Your password confirmation cannot be longer than 50 characters.
                            </p>
                        </div>
                    </div>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate="reset.finish.form.button">Reset Password</button>
                </form>
            </div>

        </div>
    </div>
</div>
