	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" ng-click="vm.clear()">&times;</button>
		<h4 class="modal-title" id="myUserLabel">	Changing password for <label class="control-label">{{vm.user.login}}</label> </h4>
	</div>
	<div class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		<div class="alert alert-danger" ng-show="vm.doNotMatch" translate="global.messages.error.dontmatch">
				The password and its confirmation do not match!
		</div>		
		 <form name="form" role="form" ng-submit="vm.changePassword()" show-validation autocomplete="off">
                <div class="form-group">
                    <label class="control-label" for="password" translate="global.form.newpassword">New password</label>
                    <input type="password" style="-webkit-text-security: disc;" class="form-control password_hide" id="password" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                           ng-model="vm.user.password" ng-pattern="vm.passwordPattern" ng-minlength={{vm.Passwordlength}} ng-maxlength=50 required 
                           onfocus="this.removeAttribute('readonly');" />
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required" translate="global.messages.validate.newpassword.required">
                            Your password is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength">
                        </p>
                        Password should have uppercase, lowercase, special character, a number with a minimum length of {{vm.Passwordlength}}
                        <p class="help-block"
                           ng-show="form.password.$error.maxlength" translate="global.messages.validate.newpassword.maxlength">
                            Your password cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword" translate="global.form.confirmpassword">New password confirmation</label>
                    <input type="password" style="-webkit-text-security: disc;" class="form-control password_hide" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                           ng-model="vm.confirmPassword" ng-pattern="vm.passwordPattern" ng-minlength={{vm.Passwordlength}} ng-maxlength=50 required 
                           onfocus="this.removeAttribute('readonly');" />
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required" translate="global.messages.validate.confirmpassword.required">
                            Your confirmation password is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength">
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength" translate="global.messages.validate.confirmpassword.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate="entity.action.save">Save</button>
            </form>
	</div>