<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRoleLabel" translate="userManagement.permission.home.createOrEditLabel">Create or edit User Permissions</h4>
        <h4> {{vm.user.login}}</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div>
            <ul class="list-group">
                <li class="list-group-item active" translate="userManagement.resource">Resource <span></span></li>
                <li class="list-group-item role-checkbox" ng-repeat="res in vm.resources">
                    <span>{{ res.name }}</span>
                    <div class="btn-group pull-right">
                        <label class="btn btn-default" ng-disabled="0 < res.epermission" ng-class="{'label-info': 0 == res.epermission}" ng-model="res.permission" uib-btn-radio="0">none</label>
                        <label class="btn btn-default" ng-disabled="1 < res.epermission" ng-class="{'label-info': 1== res.epermission}"  ng-model="res.permission" uib-btn-radio="1">view</label>
                        <label class="btn btn-default" ng-disabled="2 < res.epermission" ng-class="{'label-info': 2 == res.epermission}"  ng-model="res.permission" uib-btn-radio="2">create</label>
                        <label class="btn btn-default" ng-disabled="3 < res.epermission"  ng-class="{'label-info': 3 == res.epermission}"  ng-model="res.permission" uib-btn-radio="3">edit</label>
                        <label class="btn btn-default" ng-disabled="4 < res.epermission" ng-class="{'label-info': 4 == res.epermission}"  ng-model="res.permission" uib-btn-radio="4">delete</label>
                    </div>
                </li>
            </ul>
        </div>
		<h5> permissions indicated in blue are from the role of the user, nothing below that can be selected </h5>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
