<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation autocomplete="off">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserLabel" translate="userManagement.home.createOrEditLabel">
            Create or edit a User</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
     <!--   <div class="form-group">-->
            <!--<label translate="global.field.id">ID</label>-->
            <!--<input type="text" class="form-control" name="id"-->
                   <!--ng-model="vm.user.id" readonly>-->
        <!--</div>-->

        <div class="form-group">
            <label class="control-label" translate="userManagement.login">Login</label>
            <input type="text" class="form-control" name="login"
                   ng-model="vm.user.login" ng-required="vm.user.id == null" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[_'.@A-Za-z0-9-]*$/" ng-disabled="vm.user.id!=null">

            <div ng-show="editForm.login.$invalid">
                <p class="help-block"
                   ng-show="editForm.login.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>

                <p class="help-block"
                   ng-show="editForm.login.$error.maxlength" translate="entity.validation.maxlength"
                   translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="userManagement.firstName">First Name</label>
            <input type="text" class="form-control" name="firstName"
                   ng-model="vm.user.firstName" ng-maxlength="50" required ng-disabled="vm.user.id!=null">

            <div ng-show="editForm.firstName.$invalid">
            <p class="help-block"
                   ng-show="editForm.firstName.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                
                <p class="help-block"
                   ng-show="editForm.firstName.$error.maxlength" translate="entity.validation.maxlength"
                   translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="userManagement.lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName"
                   ng-model="vm.user.lastName" ng-maxlength="50" required ng-disabled="vm.user.id!=null">

            <div ng-show="editForm.lastName.$invalid">
            <p class="help-block"
                   ng-show="editForm.lastName.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                
                <p class="help-block"
                   ng-show="editForm.lastName.$error.maxlength" translate="entity.validation.maxlength"
                   translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="userManagement.email">Email</label>
            <input type="email" class="form-control" name="email"
                   ng-model="vm.user.email" ng-maxlength="100" autocomplete="off">

            <div ng-show="editForm.email.$invalid">
                <p class="help-block"
                   ng-show="editForm.email.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>

                <p class="help-block"
                   ng-show="editForm.email.$error.maxlength" translate="entity.validation.maxlength"
                   translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
				<p class="help-block"
                   ng-show="editForm.email.$error.email" translate="global.messages.validate.email.invalid">
                    Your e-mail is invalid.
                 </p>
            </div>
        </div>
            <div ng-if="vm.user.id === null" class="form-group">
                <label translate="userManagement.password">Password</label>
                <input type="password" autocomplete="off" class="form-control password_hide" id="password" name="password" autocomplete="off"
                       required=true ng-model="vm.user.password" style="-webkit-text-security: disc;" ng-pattern="vm.passwordPattern" 
                       ng-minlength={{vm.Passwordlength}} onfocus="this.removeAttribute('readonly');" />
                <div ng-show="editForm.password.$invalid">
                    <p class="help-block"
                       ng-show="editForm.password.$error.pattern" translate="entity.validation.passwordPattern">
                        Password should have uppercase, lowercase, special character, a number with a minimum length {{vm.Passwordlength}}
                    </p>
                </div>
            </div>        
           <div class="form-group">
            <label class="control-label"> IP Address</label>
            <input type="ipAddress" class="form-control" name="ipAddress"
                   ng-model="vm.user.ipaddresses" required  ng-pattern='/\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}/'>

            <div ng-show="editForm.ipaddresses.$invalid">
                <p class="help-block"
                   ng-show="editForm.ipaddresses.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
				<p class="help-block"
                   ng-show="editForm.ipAddress.$error.ipAddress" translate="global.messages.validate.ipAddress.invalid">
                    Your ipAddress is invalid.
                 </p>
            </div>
        </div> 
            
            <div class="form-group">
            <label class="control-label" translate="userManagement.expiryDate" for="field_expiryDate">Event Time</label>
                <div class="input-group">
                    <input id="field_expiryDate" type="text" class="form-control" name="expiryDate" ng-model="vm.expiryDate" datepicker-options="vm.options"  uib-datepicker-popup="yyyy-MM-dd"  is-open="vm.datePickerOpenStatus.expiryDate" required> 
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('expiryDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label for="activated">
                <input ng-disabled="vm.user.id === null" type="checkbox" id="activated"  name="activated"  ng-model="vm.user.activated">
                <span translate="userManagement.activated">Activated</span>
            </label>
        </div>
        
        <!--<div class="form-group">-->
            <!--<label translate="userManagement.langKey">Lang Key</label>-->
            <!--<select class="form-control" name="langKey" ng-model="vm.user.langKey"-->
                    <!--ng-options="language as language for language in vm.languages track by language">-->
            <!--</select>-->
        <!--</div>-->

        <div class="form-group">
            <label translate="userManagement.profiles">Profiles</label>
            <select multiple class="form-control" name="authority" ng-model="vm.user.authorities"
                    ng-options="authority for authority in vm.authorities">
            </select>
        </div>
        
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>