
<div>
    <h2><span translate="polsoftApp.role.detail.title">Role</span> {{vm.role.name}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="polsoftApp.role.name">Name</span></dt>
        <dd>
            <span>{{vm.role.name}}</span>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
