@body-bg:  'white';
 @navbar-border-radius: 0px;
@icon-font-path:          "../../content/css/fonts/";
@fa-font-path:  "/bower_components/components-font-awesome/fonts";
.width-32 {width:32px};
.width-60 {width:60px};
.width-360 {width:360px};

.margin-30 {
  margin: 30px;
}


