
<div>
    <h2><span translate="polsoftApp.resource.detail.title">Resource</span> {{vm.resource.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="polsoftApp.resource.name">Name</span></dt>
        <dd>
            <span>{{vm.resource.name}}</span>
        </dd>
        <dt><span translate="polsoftApp.resource.permission">Permission</span></dt>
        <dd>
            <span>{{vm.resource.permission}}</span>
        </dd>
        <dt><span translate="polsoftApp.resource.authority">Authority</span></dt>
        <dd>
            <a ui-sref="authority-detail({id:vm.resource.authorityId})">{{vm.resource.authorityId}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="resource-detail.edit({id:vm.resource.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
