<div>
    <div class="row" id="nonPrintDiv">

        <div class="col-md-8">
            <div class="row">
                <div class="col-md-8">
                    <h5 translate="audits.filter.title">Filter by date</h5>
                </div>
                <div class="col-md-4" id="printName">
                    <h5>Printed By: {{vm.account.login}}</h5>
                </div>
            </div>
            <jhi-alert></jhi-alert>
            <p class="input-group">
                <span class="input-group-addon" translate="audits.filter.from">from</span>
                <datetimepicker hour-step="hourStep" minute-step="minuteStep" ng-model="vm.fromDate" show-meridian="showMeridian" date-format="{{format}}"
                    date-options="dateOptions" date-disabled="disabled(date, mode)" datepicker-append-to-body="false" readonly-date="false"
                    disabled-date="false" hidden-time="true" hidden-date="false" name="datetimepicker1" show-spinners="true"
                    readonly-time="false" date-opened="datepickers.dtFrom" show-button-bar="false" min-date="minDate" max-date="maxDate"
                    date-ng-click="toggleOpenDatePicker($event,'dtFrom')" ng-change="vm.onChangeDate()" />

                <!--<input type="date" class="input-sm form-control" name="start" ng-model="vm.fromDate" ng-change="vm.onChangeDate()" required/>-->
                <span class="input-group-addon" translate="audits.filter.to">to</span>
                <!--<input type="date" class="input-sm form-control" name="end" ng-model="vm.toDate" ng-change="vm.onChangeDate()" required/>
                                                              -->
                <datetimepicker hour-step="hourStep" minute-step="minuteStep" ng-model="vm.toDate" show-meridian="showMeridian" date-format="{{format}}"
                    date-options="dateOptions" date-disabled="disabled(date, mode)" datepicker-append-to-body="false" readonly-date="false"
                    disabled-date="false" hidden-time="true" hidden-date="false" name="datetimepicker2" show-spinners="true"
                    readonly-time="false" date-opened="datepickers.dtTo" show-button-bar="false" min-date="minDate" max-date="maxDate"
                    date-ng-click="toggleOpenDatePicker($event,'dtTo')" ng-change="vm.onChangeDate()" />

            </p>
            <p class="col-md-6" style="padding-left: 0px;">

                <span>
                <select id="auditType" name="auditType" class="form-control ng-pristine ng-valid ng-scope ng-not-empty ng-touched" 
               ng-model=vm.selectedAuditType ng-options="code for code in vm.auditTypes" aria-invalid="false"  ng-change="vm.onChangeDate()" ></select></span>
            </p>


        </div>
        <div class="col-md-4" style="text-align: right; margin-top: 30px;" id="printIcon">
            <button ng-click="vm.print()" class="btn btn-primary"><i class="fa fa-print" aria-hidden="true"></i></button>
        </div>
        <div class="col-md-4" style="text-align: right; margin-top: 30px;" id="reviewIcon">
            <button type="button" ng-click="vm.signOn(audit)" uib-tooltip="{{ 'Review All' | translate }}" uib-tooltip-placement="auto"
                class="btn btn-info btn-xs">
            	<i class="fa fa-thumbs-o-up"> </i> 
            </button>
        </div>
    </div>

    <div id="auditTable">
        <table class="table table-condensed table-striped table-bordered table-responsive">
            <thead>
                <tr>
                    <th><span>Audit ID</span></th>
                    <th ng-click="vm.predicate = 'auditEventDate'; vm.reverse=!vm.reverse;vm.onChangeDate()"><span translate="audits.table.header.date">Date</span></th>
                    <th ng-click="vm.predicate = 'principal'; vm.reverse=!vm.reverse;vm.onChangeDate()"><span translate="audits.table.header.principal">User</span></th>
                    <th ng-click="vm.predicate = 'auditEventType'; vm.reverse=!vm.reverse;vm.onChangeDate()"><span>Audit Event</span></th>
                    <th><span>User Action</span></th>
                    <!--  <th><span>Entity ID</span></th> -->
                    <th><span>Reviewed By</span></th>
                    <th><span>Description</span></th>

                </tr>
            </thead>

            <tr ng-repeat="audit in vm.audits | filter:filter | orderBy:predicate:reverse" ng-hide="audit.filtered">
                <td><span>{{audit.id}}</span></td>
                <td><span>{{audit.timestamp| date:'medium'}}</span></td>
                <td><small>{{audit.principal}}</small></td>
                <td>{{audit.type}}</td>
                <td>{{audit.auditEventSource}}</td>
                <!-- <td>{{audit.entityId}}</td> -->
                <td>{{audit.reviewedBy}}</td>
                <td>
                    <span ng-show="audit.data.message">{{audit.data.message}}</span>
                    <span ng-show="audit.data.user">User: {{audit.data.user}}</span>
                    <span ng-show="audit.data.alarmId">Alarm {{audit.data.alarmId}}
                    <span ng-show="audit.data.user1"> is Acknowledged by: {{audit.data.user1}}</span></span>
                    <span ng-show="audit.data.scheduled_reports">Report name: {{audit.data.scheduled_reports}}</span>
                    <span ng-show="audit.data.name">Report name: {{audit.data.name}}</span>
                    <span ng-show="audit.data.entity">Entity changed: {{audit.data.entity}}</span>
                    <span ng-show="audit.data.userdeactivated">User: {{audit.data.userdeactivated}}</span>
                    <span ng-show="audit.data.remoteAddress"><span >Log in IP :</span> {{audit.data.remoteAddress}}</span>
                    <span ng-show="audit.data.logout"><span >User :</span> {{audit.data.logout}}</span>
                    <span ng-show="audit.data.entityData"><pre class="audit-obj ng-binding"><span>Event Data</span> {{audit.data.entityData}}</pre>
                    </span>

                    <span ng-show="{{audit.type=='Alarms'}}">
                Created by : {{audit.entityValue.createdBy}}</span>
                    <span ng-show="{{audit.type=='Device'}}">
                Device name : {{audit.entityValue.name}}</span>
                    <span ng-show="{{audit.type=='Location'}}">
                Location name : {{audit.entityValue.name}}</span>
            </td>
        </tr>
         
    </table>
    <div class="text-center">
        <ul uib-pagination total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.loadPage(vm.page)"></ul>
    </div>
</div>
<div id="auditTablePrint" style="display:none" class="audit_print_page">
        <table class="table table-condensed table-striped table-bordered" width="100%">
        <thead>
                <tr>
                <td colspan="7" width="100%">
                <!--  <img th:src="${companyLogo}"
						style="width: 200px; height:90px; float: right;" /> -->
                  <img src="content/images/Natco.png" style="width: 200px; height:90px; float: right;" />
                    <p style="text-align: center;">
                        <span style="font-size: 15px;"> <strong> M/s NATCO PHARMA LIMITED</strong></span><br/>
                    <span style="font-size:12px; padding-left:2.5em;"> <strong>NAGARJUNA SAGAR </strong></span><br/>
                    <span style="font-size: 15px;"><strong>AUDIT RECORD SHEET</strong></span></p>
                </td>
                </tr>
                <tr>
                    <td colspan="7" width="100%">
                        <b><span style="font-size: 12px; padding-left:10px">Printed By </span> <span style="padding-left:2px;">:</span>
                                    <span class="data" style="font-size:14px;">{{vm.account.login}}</span>
                                    <span style="font-size:12px ;padding-left:38em;">Date &amp; Time From </span><span style="padding-left:2px;">: </span>
                                    <span  style="font-size:14px;">{{vm.fromDate | date:'medium'}}</span><br />
                                     <span style="font-size: 12px; padding-left:10px;">Report Date &amp; Time</span><span style="padding-left:2px;">:</span>
                                     <span style="font-size:14px;">{{vm.CurrentDateTime | date:'medium'}}</span>
                                     
                                    <!-- <span style="font-size:12px;">Temperature</span> -->
                                    <!-- <span style="font-size: 12px; padding-left:10px;">Department</span><span style="padding-left:15.5px">:</span> -->
                                    <span style="font-size: 12px; padding-left:38em;">To</span><span style="padding-left:3px;">: </span>
                                    <span  style="font-size:14px;">{{vm.toDate | date:'medium'}}</span><br />
                                    <!-- <span style="font-size: 12px; padding-left:10px;"> UserName </span><span style="padding-left:20.5px;">:</span>
                                     <span th:text="${userName}" style="font-size:13px;"></span><br /> -->
                                    <!-- <span style="font-size:12px; padding-left:44.6em;">Report Date &amp; Time </span><span style="padding-left:3px;">:</span>
                                    <span th:text="{{vm.fromDate}}" style="font-size:14px;"></span><br/> -->
                                     
                                </b>
                    </td>
                </tr>


                <tr>
                 	<th width="4%"><span>Audit Id</span></th>
                    <th width="20%"><span translate="audits.table.header.date">Date</span></th>
                    <th width="7%"><span translate="audits.table.header.principal">User</span></th>
                    <th width="15%"><span>Audit Event</span></th>
                    <th width="12%"><span>User Action</span></th>
                    <!--  <th><span>Entity ID</span></th> -->
                    <th width="15%"><span>Reviewed By</span></th>
                    <th width="20%"><span>Description</span></th>

                </tr>
                </thead>
                <tbody>
                        <tr ng-repeat="audit in vm.auditTemp" ng-hide="audit.filtered">
                        		<td><span>{{audit.id}}</span></td>
                                <td><span>{{audit.timestamp| date:'medium'}}</span></td>
                                <td><small>{{audit.principal}}</small></td>
                                <td>{{audit.type}}</td>
                                <td>{{audit.auditEventSource}}</td>
                                <!-- <td>{{audit.entityId}}</td> -->
                                <td>{{audit.reviewedBy}}</td>
                                <td>
				                    <span ng-show="audit.data.message">{{audit.data.message}}</span>
				                    <span ng-show="audit.data.user">User: {{audit.data.user}}</span>
				                    <span ng-show="audit.data.alarmId">Alarm {{audit.data.alarmId}}
				                    <span ng-show="audit.data.user1"> is Acknowledged by: {{audit.data.user1}}</span></span>
				                    <span ng-show="audit.data.scheduled_reports">Report name: {{audit.data.scheduled_reports}}</span>
				                    <span ng-show="audit.data.name">Report name: {{audit.data.name}}</span>
				                    <span ng-show="audit.data.entity">Entity changed: {{audit.data.entity}}</span>
				                    <span ng-show="audit.data.userdeactivated">User: {{audit.data.userdeactivated}}</span>
				                    <span ng-show="audit.data.remoteAddress"><span >Log in IP :</span> {{audit.data.remoteAddress}}</span>
				                     <span ng-show="audit.data.logout"><span >User :</span> {{audit.data.logout}}</span>
				                    <span ng-show="audit.data.entityData"><pre class="audit-obj ng-binding"><span>Event Data</span> {{audit.data.entityData}}</pre>
				                    </span>

                    			 <span ng-show="{{audit.type=='Alarms'}}">
                                	Created by : {{getName(audit.entityValue,true)}}</span>
                                 <span ng-show="{{audit.type=='Device'}}">
                                	Device name :{{getName(audit.entityValue)}}</span>
                                 <span ng-show="{{audit.type=='Location'}}">
                                	Location name : {{getName(audit.entityValue)}}</span>
				            </td>
                        </tr>
                   
                </tbody>
                <tfoot class="footer">
                    <tr>
                        <td colspan="11"><span style="padding-left: 10px; font-size:12px;">Remarks :</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="11">
                            <b><span style="padding-left:5px; font-size:12px;">Verified By : </span>
                                        <span style="padding-left: 58em; font-size:12px;">Reviewed By : </span><br /> 
                                        <span style="padding-left: 3.3em; font-size:12px;">Date : </span>
                                        <span style="padding-left: 61.5em; font-size:12px;">Date : </span>
                                        <span style="padding-left: 58.5em;"></span>
                                    </b>
                        </td>
                    </tr>
                </tfoot>
        </table>
        <div class="row footer" id="content1">
            <div id="pageFooter1"> </div>
        </div>

    </div>
</div>