<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

    <div ng-repeat="option in sideOptions">
        
        <div ng-click="setSideOptions(option)" ng-class="{'selectedSideOption' : isSelected(option)}">
          
          <div class="panel panel-default">
            <div class="panel-body">
              {{option.name}}
            </div>
          </div>
            
        </div>
        
    </div>

  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

    <div ng-show="showChannels">

      <div class="panel panel-default">
        <div class="panel-body">
          <abn-tree tree-data="my_data" tree-control="my_tree" on-select="my_tree_handler(branch)" expand-level="2"></abn-tree>
        </div>
      </div>
    
    </div>

  </div>

  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

    <div ng-show="showChannels">
      
      <div ng-repeat="channel in selectedNodes">
        
        <div ng-click="setChannels(channel)">

          <div class="panel panel-default">
            <div class="panel-body">
              {{channel}}
            </div>
          </div>
        </div>

      </div>
      
    </div>

  </div>

  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">

    <div ng-show="selectedChannel != '' && showChannels">

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            
            <div class="col-md-3">
            Id
            </div>

            <div class="col-md-7">
              1
            </div>

          </div>

          <div class="row">
            
            <div class="col-md-3">
              Type
            </div>

            <div class="col-md-9">
              Switch Input Corner
            </div>

          </div>

          <div class="row">
            
            <div class="col-md-3">
              Status
            </div>

            <div class="col-md-9">
              Enabled
            </div>

          </div>
          <div class="row">
            
            <div class="col-md-3">
              Alarm
            </div>

            <div class="col-md-9">

              {{selectedChannel}}
            </div>

          </div>
          <div class="row">
            
            <div class="col-md-3">
              Alarm Mode
            </div>

            <div class="col-md-9">

              <form>
                <label for="off">Off</label>
                <input id="off" type="radio" name="content" ng-model="content" value="first">
                <br />
                <label for="showInlineScheme">Inline Scheme</label>
                <input id="showInlineScheme" type="radio" name="content" ng-model="content" value="second">
                <br />
                <label for="alarmTemplate">Alarm Scheme</label>
                <input id="alarmTemplate" type="radio" name="content" ng-model="content" value="third">
              </form>

              <div class="wrapper">
                <h2 ng-show="content == 'first'">Off</h2>
                <div ng-show="content == 'second'">

                  <jhi-alert-error></jhi-alert-error>
                  <div class="form-group" ng-show="vm.template.id">
                      <label for="id" translate="global.field.id">ID</label>
                      <input type="text" class="form-control" id="id" name="id"
                              ng-model="vm.template.id" readonly />
                  </div>
                  <div class="form-group">
                      <label class="control-label" for="field_templateName">Template Name</label>
                      <input type="text" class="form-control" name="templateName" id="field_templateName"
                              ng-model="vm.template.templateName"
                              required />
                      <div ng-show="editForm.templateName.$invalid">
                          <p class="help-block"
                              ng-show="editForm.templateName.$error.required" translate="entity.validation.required">
                              This field is required.
                          </p>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label" for="field_thresholds">Thresholds</label>
                  </div>
                  <multiselect ng-model="vm.template.thresholds" id="field_thresholds" options="vm.getThresholds" id-prop="id" display-prop="thresholdName">
                  </multiselect>

                </div>
                <div ng-show="content == 'third'">Scheme Used : 
                <!-- {{vm.templates}} -->
                <div class="row">
                  <select ng-model="selectedScheme" ng-options="x.templateName for x in vm.templates">
                  </select>
                  <div ng-click="moreDetails()" ui-sref="my-alarm.detail({id:x.id})">Details</div>
                  </div>  
                </div>
                
              </div>
            </div>

          </div>

        </div>
      </div>
  
    </div>
    
  </div>

</div>