<div>
    <h2 data-translate="polsoftApp.entityConfig.home.title">Entity Configs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'polsoftApp.entityConfig.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="entityName"><span data-translate="polsoftApp.entityConfig.entityName">Entity Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span data-translate="polsoftApp.entityConfig.enableAudit">Enable Audit</span> </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entityConfig in vm.entityConfigs track by entityConfig.id">
                    <td>{{entityConfig.id}}</td>
                    <td>{{entityConfig.entityName}}</td>
                    <td><input type="checkbox" ng-model="entityConfig.enableAudit" ng-change="vm.save(entityConfig)"/></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
