<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.cancel()">&times;</button>
    <h1 class="modal-title" translate="login.title">Sign in</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-danger" ng-show="vm.authenticationError" translate="login.messages.error.authentication">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
            <div class="alert alert-danger" ng-show="vm.userDeactivated" translate="login.messages.error.deactivated">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
            <div class="alert alert-danger" ng-show="vm.userSessionExists" translate="login.messages.error.maxactivesessionsreached">
                <strong>Failed to sign in!</strong>, max sessions reached.
            </div>
            <div class="alert alert-danger" ng-show="vm.userSessionExceeded">
                <strong>Failed to sign in!</strong>, max sessions reached.
            </div>
            <div class="alert alert-danger" ng-show="vm.additionaMessage">
              <strong>Failed to sign in!</strong> {{vm.additionaMessage}}
            </div>
        </div>
        <table class="col-md-8 col-md-offset-2">
			<tr>
				<td>
        			<div class="col-md-8 col-md-offset-2">
            		<form class="form" role="form" ng-submit="vm.login($event)">
                	<div class="form-group">
                    <label for="username" translate="global.form.username">Login</label>
                    <input required type="text" class="form-control" id="username" placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="vm.username">
                </div>
                <div class="form-group">
                <div ng-show="vm.isChrome">
                    <label for="password" translate="login.form.password">Password</label>
                    <input required type="password" class="form-control password_hide" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                           ng-model="vm.password" readonly autocomplete="off" style="-webkit-text-security: disc;" onfocus="this.removeAttribute('readonly');"/>
                </div>
                </form>
                </div>
                </td>
			</tr>

			<tr>
				<td align="middle">
                <button type="submit" class="btn btn-primary" translate="login.form.button">Sign in</button>
                </td>
                </tr>
        </div>
    </div>
</div>
