
<div>
    <h2><span translate="polsoftApp.dchannel.detail.title">Dchannel</span> {{vm.dchannel.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="polsoftApp.dchannel.name">Name</span></dt>
        <dd>
            <span>{{vm.dchannel.name}}</span>
        </dd>
        <dt><span translate="polsoftApp.dchannel.unit">Unit</span></dt>
        <dd>
            <span>{{vm.dchannel.unit}}</span>
        </dd>
        <dt><span translate="polsoftApp.dchannel.channeldata">Channeldata</span></dt>
        <dd>
            <span>{{vm.dchannel.channeldata}}</span>
        </dd>
        <dt><span translate="polsoftApp.dchannel.device">Device</span></dt>
        <dd>
            <a ui-sref="device-detail({id:vm.dchannel.deviceId})">{{vm.dchannel.deviceId}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="dchannel-detail.edit({id:vm.dchannel.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
