
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDchannelLabel" translate="polsoftApp.dchannel.home.createOrEditLabel">Create or edit a Dchannel</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.dchannel.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.dchannel.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="polsoftApp.dchannel.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.dchannel.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="polsoftApp.dchannel.unit" for="field_unit">Unit</label>
            <input type="text" class="form-control" name="unit" id="field_unit"
                    ng-model="vm.dchannel.unit"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="polsoftApp.dchannel.channeldata" for="field_channeldata">Channeldata</label>
            <input type="text" class="form-control" name="channeldata" id="field_channeldata"
                    ng-model="vm.dchannel.channeldata"
                     />
        </div>

        <div class="form-group">
            <label translate="polsoftApp.dchannel.device" for="field_device">Device</label>
            <select class="form-control" id="field_device" name="device" ng-model="vm.dchannel.deviceId" ng-options="device.id as device.id for device in vm.devices"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
