<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
            <a class="navbar-brand logo animated rubberBand hover" href="#/" ng-click="vm.collapseNavbar()"> <span><h4>Polsoft
						V2.0</h4></span>
            </a>
            <p class="navbar-brand hover" ng-show="vm.isRestore.length"> <span>Backup FolderName:{{vm.verifyFileName}}</span></p>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
           
            <ul class="nav navbar-nav navbar-right">

                <li style="color:white">
                    <a class="dropdown-toggle" href="#/alarms"> {{alarms}} Alarms</a>
                </li>
                 <li style="color:white">
                    <a class="dropdown-toggle" href="#/alarms"> {{warnings}} Warnings</a>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}" ng-switch-when="true" has-permission='{"level":"VIEW","resource":"ADMIN_RESOURCE", "authority":"Administrator"}' uib-dropdown dropdown>
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu"> <span> <span
							class="glyphicon glyphicon-tower"></span> <span class="hidden-sm" translate="global.menu.admin.main">Administration</span> <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-hide="vm.isRestore.length">
                            <a ui-sref="jhi-tracker" ng-click="vm.collapseNavbar()"> <span class="glyphicon glyphicon-eye-open"></span>&nbsp; <span translate="global.menu.admin.tracker">User tracker</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-hide="vm.isRestore.length">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()"> <span class="glyphicon glyphicon-dashboard"></span>&nbsp; <span translate="global.menu.admin.metrics">Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-hide="vm.isRestore.length">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()"> <span class="glyphicon glyphicon-heart"></span>&nbsp; <span translate="global.menu.admin.health">Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-hide="vm.isRestore.length">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()"> <span class="glyphicon glyphicon-list-alt"></span>&nbsp; <span translate="global.menu.admin.configuration">Configuration</span>
                            </a>
                        </li>

                        <li ui-sref-active="active" ng-hide="vm.isRestore.length">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()"> <span class="glyphicon glyphicon-tasks"></span>&nbsp; <span translate="global.menu.admin.logs">Logs</span>
                            </a>
                        </li>
                        <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()"> <span class="glyphicon glyphicon-book"></span>&nbsp; <span translate="global.menu.admin.apidocs">API</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-hide="vm.isRestore.length">
                            <a ui-sref="scheduler" ng-click="vm.collapseNavbar()" ng-hide="vm.isRestore.length"> <i class="fa fa-clock-o" aria-hidden="true"></i> <span>Scheduler</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="backup" ng-click="vm.collapseNavbar()"> <i class="fa fa-hdd-o" aria-hidden="true"></i> <span>Backup</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown dropdown>
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu"> <span> <span
							class="glyphicon glyphicon-user"></span> {{vm.account.login}} <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()" ng-hide="vm.isRestore.length"> <span class="glyphicon glyphicon-wrench"></span>&nbsp; <span translate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()" ng-hide="vm.isRestore.length"> <span class="glyphicon glyphicon-lock"></span>&nbsp; <span translate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="sessions" ng-click="vm.collapseNavbar()" ng-hide="vm.isRestore.length"> <span class="glyphicon glyphicon-cloud"></span>&nbsp; <span translate="global.menu.account.sessions">Sessions</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout"> <span class="glyphicon glyphicon-log-out"></span>&nbsp; <span translate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login"> <span class="glyphicon glyphicon-log-in"></span>&nbsp; <span translate="global.menu.account.login">Sign in</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false" ng-hide="vm.isRestore.length">
                            <a ui-sref="register" ng-click="vm.collapseNavbar()"> <span class="glyphicon glyphicon-plus-sign"></span>&nbsp; <span translate="global.menu.account.register">Register</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="active" uib-dropdown dropdown ng-controller="JhiLanguageController as languageVm">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1"> <span> <span
							class="glyphicon glyphicon-flag"></span> <span class="hidden-sm" translate="global.menu.language">Language</span> <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                        <li active-menu="{{language}}" ng-repeat="language in languageVm.languages"><a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language
								| findLanguageFromKey}}</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
    <div>
        <div class="col-md-4"></div>
        <div class="col-md-8" ng-if="vm.showExpiryMessage">
            <div class="alert alert-danger" role="alert">
                <a href="#" class="close" data-dismiss="alert">&times;</a> you account is about to expire <span am-time-ago="vm.account.expiryDate | amDateFormat:'MM.DD.YYYY HH:mm:ss'"></span>, please change password to reset it.
            </div>
        </div>
        <div class="col-md-8" ng-if="vm.showPasswordExpiredMessage">
            <div class="alert alert-danger" role="alert">
                <a href="#" class="close" data-dismiss="alert">&times;</a> you account expired <span am-time-ago="vm.account.expiryDate | amDateFormat:'MM.DD.YYYY HH:mm:ss'"></span>, set new password to continue.
            </div>
        </div>

    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 col-lg-2">
            <nav class="navbar navbar-inverse navbar-fixed-side" style="margin-top: 50px">
                <div class="container">
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li ui-sref-active="active">
                                <a ui-sref="home"> <span class="fa fa-globe"></span>&nbsp; <span>Locations</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="alarms" ng-click="vm.collapseNavbar()"> <span class="fa fa-bell-o"></span>&nbsp; 
                                <span>Alarms</span>  
                                </a>
                            </li>
                            <li ui-sref-active="active" ng-hide="vm.isRestore.length">
                                <a ui-sref="device" ng-click="vm.collapseNavbar()"> <span class="fa fa-hdd-o"></span>&nbsp;
                                    <span translate="global.menu.entities.device">Devices</span>
                                </a>
                            </li>
                            <li ui-sref-active="active" has-permission='{"level":"VIEW","resource":"ADMIN_RESOURCE", "authority":"Administrator"}' ng-hide="vm.isRestore.length">
                                <a ui-sref="user-management" ng-click="vm.collapseNavbar()"> <span class="fa fa-user"></span>&nbsp;
                                    <span translate="global.menu.admin.userManagement">User
										management</span>
                                </a>
                            </li>
                            <li ui-sref-active="active" has-permission='{"level":"VIEW","resource":"ADMIN_RESOURCE", "authority":"Administrator"}' ng-hide="vm.isRestore.length">
                                <a ui-sref="role-management" ng-click="vm.collapseNavbar()">
                                    <span class="fa fa-users"></span>&nbsp; <span translate="global.menu.admin.roleManagement">Role
										Management</span>
                                </a>
                            </li>

                            <li ui-sref-active="active"  has-permission='{"level":"VIEW","resource":"ADMIN_RESOURCE","authority":"Administrator"}' ng-hide="vm.isRestore.length">
                                <a ui-sref="systempreferences" ng-click="vm.collapseNavbar()">
                                    <span class="fa fa-wrench"></span>&nbsp; <span>System Preferences</span>
                                </a>
                            </li>
                            <li ui-sref-active="active" ng-hide="vm.isRestore.length">
                                <a ui-sref="report-template" ng-click="vm.collapseNavbar()"> 
                                <span class="fa fa-line-chart"></span>&nbsp; <span>Reports</span>
                                </a>
                            </li>
							<li ui-sref-active="active" ng-hide="vm.isRestore.length">
							<a ui-sref="location" ng-click="vm.collapseNavbar()"> <span
									class="glyphicon glyphicon-asterisk"></span>&nbsp; <span
									translate="global.menu.entities.location">Location</span>
							</a></li>
							<li ui-sref-active="active"  has-permission='{"level":"VIEW","resource":"ADMIN_RESOURCE","authority":"Administrator"}'>
                                <a ui-sref="audits" ng-click="vm.collapseNavbar()"> <span class="fa fa-list-ol"></span>&nbsp;
                                    <span translate="global.menu.admin.audits">Audits</span>
                                </a>
                            </li>
                            <li ui-sref-active="active"  has-permission='{"level":"VIEW","resource":"ADMIN_RESOURCE","authority":"Administrator"}' ng-hide="vm.isRestore.length">
                                <a ui-sref="entity-config" ng-click="vm.collapseNavbar()"> <span class="fa fa-list-ol"></span>&nbsp;
                                    <span>Audit Configuration</span>
                                </a>
                            </li>
                            <li ui-sref-active="active" ng-hide="vm.isRestore.length">
                                <a ui-sref="locationmanager" ng-click="vm.collapseNavbar()"> <span class="fa fa-compass"></span>&nbsp;
                                    <span>Locations Manager</span>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>