<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">

            <div class="alert alert-danger" translate="error.403">You are not authorized to access the page.
            </div>
        </div>
    </div>
</div>
