
<div>
    <h2><span translate="polsoftApp.user_account.detail.title">User Account</span> {{vm.user_account.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="polsoftApp.user_account.password">Password</span></dt>
        <dd>
            <span>{{vm.user_account.password}}</span>
        </dd>
        <dt><span translate="polsoftApp.user_account.createdDate">Created Date</span></dt>
        <dd>
            <span>{{vm.user_account.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span translate="polsoftApp.user_account.user">User</span></dt>
        <dd>
            {{vm.user_account.userId}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="user-account-detail.edit({id:vm.user_account.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
