<div class="row" style="margin-top:20px;">


    <div ng-if="vm.isAuthenticated()">
        <div class="col-md-4">
            <div class="panel panel-default treeHeightFix">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-long-arrow-right fa-fw"></i> Locations
                    </h3>
                </div>
                <div class="panel-body">
                    <div>
                        <div id="tree">
                            <label>NATCO PHARMA LTD</label>
                            <abn-tree tree-data="my_data" tree-control="my_tree" expand-level="4" on-select="my_tree_handler(branch,isDeselect,isOverView)"
                                icon-expand="fa fa-chevron-right" icon-collapse="fa fa-chevron-down" selected-locations-count="arrayOfSelectedLocations.length">
                        </div>

                    </div>

                </div>
            </div>
            <div ng-show="selectedLocation">
                <div id="datesDiv">
                    <span>From Date</span>
                    <p class="input-group" style="width:350px">
                        <datetimepicker hour-step="hourStep" minute-step="minuteStep" ng-model="fromAndToDates.fromDate" show-meridian="showMeridian"
                            date-format="{{format}}" date-options="dateOptions" date-disabled="disabled(date, mode)" datepicker-append-to-body="false"
                            readonly-date="false" disabled-date="false" hidden-time="false" hidden-date="false" name="datetimepicker1"
                            show-spinners="true" readonly-time="false" date-opened="datepickers.dtFrom" show-button-bar="false"
                            min-date="minDate" max-date="maxDate" date-ng-click="toggleOpenDatePicker($event,'dtFrom')" />
                    </p>
                    <span>To Date</span>
                    <p class="input-group" style="width:350px">

                        <datetimepicker hour-step="hourStep" minute-step="minuteStep" ng-model="fromAndToDates.toDate" show-meridian="showMeridian"
                            date-format="{{format}}" date-options="dateOptions" date-disabled="disabled(date, mode)" datepicker-append-to-body="false"
                            readonly-date="false" disabled-date="false" hidden-time="false" hidden-date="false" name="datetimepicker2"
                            show-spinners="true" readonly-time="false" date-opened="datepickers.dtTo" show-button-bar="false"
                            min-date="minDate" max-date="maxDate" date-ng-click="toggleOpenDatePicker($event,'dtTo')" />
                    </p>
                </div>


                <div class="btn-group" data-toggle="buttons-checkbox">
                    <button type="button" class="btn" ng-class="{seletedBtn:isLiveView}" ng-click="enableLiveView()" ng-model="isLiveView" btn-checkbox>Live View</button>
                </div>

            </div>
        </div>

        <div class="col-md-8" ng-if="selectedLocation">


            <ul class="nav nav-tabs">
                <li role="presentation" ng-class="{active: !showTable }"><a href ng-click="changeToTable(false,false)">Chart</a></li>
                <li role="presentation" ng-class="{ active: showTable && !isOverView }"><a href ng-click="changeToTable(true,false)">Table
                    </a></li>
                <li role="presentation" ng-class="{active: isOverView }"><a href ng-click="changeToTable(true,true)">Overview
                        </a></li>
            </ul>

            <div class="divGraph_table">
                <div ng-show="!showTable" class="row">
                    <div class="row" ng-if="GraphDataTempC.length">
                        <nvd3 options="options" data="GraphDataTempC" class="with-3d-shadow with-transitions" config="{refreshDataOnly: true}"></nvd3>
                    </div>
                    <div class="row" ng-if="GraphDataTempF.length">
                        <nvd3 options="options2" data="GraphDataTempF" class="with-3d-shadow with-transitions" config="{refreshDataOnly: true}"></nvd3>
                    </div>
                    <div class="row" ng-if="GraphDataHum.length">
                        <nvd3 options="options3" data="GraphDataHum" class="with-3d-shadow with-transitions" config="{refreshDataOnly: true}"></nvd3>
                    </div>

                    <!-- <div class="row">
                        <nvd3 ng-if="!noDataAvailble" options="options1" data="data" class="with-3d-shadow with-transitions" config="{refreshDataOnly: true}"></nvd3>
                    </div> -->
                    <p ng-if="noDataAvailble" style="margin: 30px;">No Data Available for this location on selected dates</p>
                </div>
                <div ng-show="showTable && !isOverView">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="text-transform: capitalize;min-width:150px">Date</th>
                                <th style="text-transform: capitalize;" ng-repeat="(key,value) in arrayOfSelectedLocationNames">{{value}}</th>
                                <!--<th  style="text-transform: capitalize;">Value(Temp)</th>-->


                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, data) in tbData">
                                <td>{{key | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td ng-repeat="(keyy, datay) in arrayOfSelectedLocationNames">
                                    {{getFormatedValue(data[keyy])}}
                                </td>
                            </tr>

                        </tbody>

                    </table>
                    <p ng-if="noDataAvailble">No Data Available for this location on selected dates</p>

                </div>

                <div ng-show="isOverView && showTable">
                    <style type="text/css">
                        .alarm {
                            color: red;
                        }

                        .warning {
                            color: orange;
                            background-color: transparent !important;
                        }
                    </style>
                    <table class="table table-hover" style="width:60%">
                        <thead>
                            <tr>
                                <p style="margin: 22px; margin-left: 5px;font-weight: bold;">Date&Time {{getFirstObject() | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                            </tr>
                            <tr>
                                <th style="text-transform: capitalize;width:160px">Location</th>
                                <th style="text-transform: capitalize;width:100px">Value</th>
                                <th style="text-transform: capitalize;width:100px">Min</th>
                                <th style="text-transform: capitalize;width:100px">Max</th>
                                
                                <!--<th  style="text-transform: capitalize;">Value(Temp)</th>-->


                            </tr>
                        </thead>
                        <tbody>


                            <tr ng-repeat="(key,value) in arrayOfSelectedLocationNames">
                                <td>{{value}}</td>
                                <!--  <td><span th:class="${{alarmData[getFirstObjectOfAlarm()][key]}}"> -->
                                <td class="{{alarmData[getFirstObjectOfAlarm()][key]}}">
                                    {{getFormatedValue(tbData[getFirstObject()][key])}}
                                </td>
                                <td>
                                    {{getFormatedValue(tbData[getFirstObject()]['min'])}}
                                </td>
                                <td>
                                    {{getFormatedValue(tbData[getFirstObject()]['max'])}}
                                </td>
                            </tr>

                        </tbody>

                    </table>
                    <!-- <p ng-if="noDataAvailble">No Data Available for this location on selected dates</p> -->

                </div>

            </div>
        </div>
    </div>
</div>

<div id="mydiv" class="mydiv_loader">
    <img src="app/home/ajax-loader.gif" class="ajax-loader" />
</div>