body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.audit_print_page table, th, td {
       
        table-layout: fixed;
        word-wrap: break-word;
        word-break: break-all;
        padding: none;
}

/* .audit_print_page th,td
{
    border: 1px solid grey;
    border-collapse: collapse;
} */

.audit_print_page thead {
	display: table-header-group;
}

.audit_print_page tfoot {
	display: table-footer-group;
}

 .audit_print_page #content1 {
	display: table;
	position: fixed;
	bottom: 0;
	right: 0;
	font-weight: normal;
	font-family: "Times New Roman", Times, serif;
}


.audit_print_page #pageFooter1 {
	display: table-footer-group;
}

.audit_print_page >*:last-child {
	page-break-after: auto
}

/* .audit_print_page #pageFooter1:after {
	counter-increment: page;
	content: "Page " counter(page) " of " counter(pages);
	white-space: nowrap;
} */

 /* .audit_print_page table, tr, td, th, tbody, thead, tfoot {
	page-break-inside: avoid !important;
} */

@page land {
	size: landscape;
}

@page port {
	size: portrait;
}

@media print {
	@page {
		size: portrait
	}
}

@page {
    margin: 5%;
    padding: 0 0 10%;
    @bottom-right {
     content: counter(page) " of " counter(pages);
    }
 }

.password_hide
{
    text-security:disc;
    -webkit-text-security:disc;
    -mox-text-security:disc;
}

.myNewModal-modal-window .modal-lg {
background: white !important;
height: 90% !important;
    border-radius: 7px;
}

.treeHeightFix
{
    max-height: calc(100vh - 410px);
    overflow: auto;
}
.divGraph_table{
    height:auto;
    max-height:calc(100vh - 110px);
    overflow:auto;   
}

.treeHeightFixLM
{
    max-height: calc(100vh - 200px);
    overflow: auto;
}
.divDevicesFix
{
    max-height: calc(100vh - 310px);
    overflow: auto;
}
.modal-locations{
    top: 21px;
    left: -6px;
}

.input_alram_template
{
    margin-left:120px !important;;
    width: 200px !important;
}
.mobileNo
{
    margin-left:126px !important;;
    
}
.seletedBtn
{
    background-color:green;
}
    .mydiv_loader {  
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:grey;
    opacity: .8;
 }

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;     
}

.reports_lable
{
    height: 25px;
        margin-top: 25px;
}
.reports_input
{
      height: 25px;
        margin-top: 20px;
}


.deviceTable  > tbody > tr > th 
{
       width: 12% !important;
}
.deviceTableDiv > .panel-heading {

padding:0px 15px;
}

.deviceTable
{
    margin-bottom:0px;
}
.deviceTable1
{
    margin-bottom:0px;
}
.deviceTable1Div
{
margin-top: 0px;
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* ==========================================================================
Developement Ribbon
========================================================================== */
.ribbon {
    background-color: #a00;
    box-shadow: 0 0 10px #888;
    left: -3.5em;
    moz-box-shadow: 0 0 10px #888;
    moz-transform: rotate(-45deg);
    ms-transform: rotate(-45deg);
    o-transform: rotate(-45deg);
    overflow: hidden;
    position: absolute;
    top: 40px;
    transform: rotate(-45deg);
    webkit-box-shadow: 0 0 10px #888;
    webkit-transform: rotate(-45deg);
    white-space: nowrap;
    width: 15em;
    z-index: 9999;
    pointer-events: none;
}

.ribbon a {
    border: 1px solid #faa;
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
}

/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

.navbar{
	border-radius: 0px;
}
/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
    padding: 5px 15px;
}

.logo .logo-img {
    height: 45px;
    display: inline-block;
}

/* ==========================================================================
Main page styles
========================================================================== */
.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}


    /* ==========================================================================
Login Page styles
========================================================================== */

.checkbox_permitions {
    height: 15px;
    width: 15px;
    margin-top: 6px !important;
}

.form-signin {
    max-width: 330px;

    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
}
.login-title
{
    color: #555;
    font-size: 24px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}


/* ==========================================================================
Generic styles
========================================================================== */
.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.break {
    white-space: normal;
    word-break:break-all;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.readonly {
    background-color: #eee;
    opacity: 1;
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
  cursor: pointer;
}

.hand {
    cursor: pointer;
}

/* ==========================================================================
Metrics and Health styles
========================================================================== */
#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

/* ==========================================================================
start Password strength bar style
========================================================================== */
ul#strengthBar {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert{
    text-overflow: ellipsis;
}
.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding { padding: 0 !important; }

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-a {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

.jh-table > tbody > tr > td {
    /* Align text in td verifically (top aligned by Bootstrap) */
    vertical-align: middle;
    width:auto;
}

.jh-table > thead > tr > th > .glyphicon-sort, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt {
    /* less visible sorting icons */
    opacity: 0.5;
}

.jh-table > thead > tr > th > .glyphicon-sort:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt:hover {
    /* full visible sorting icons and pointer when mouse is over them */
    opacity: 1;
    cursor: pointer;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.dl-horizontal.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .dl-horizontal.jh-entity-details > dt {
        margin-bottom: 15px;
    }

    .dl-horizontal.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup  > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup  > li > div.uib-datepicker > table:focus {
    outline: none;
}



/* ==========================================================================
Fix error field display
========================================================================== */
.form-group .help-block {
    position: static;
}

/* jhipster-needle-css-add-main JHipster will add new css style */
.container{
	width: 100%;
}

.panel.panel-primary > .panel-heading {
	background-color : #607D8B;
}
@media screen {
    #printSection {
        display: none;
    }

    div.divFooter {
    display: none;
  }
}
.print:last-child {
     page-break-after: auto;
}
@media print {
     thead {display: table-header-group;} 
   tfoot {display: table-footer-group;}
    
    /* body * {
        visibility:hidden;
    } */
    #printSection, #printSection * {
        visibility:visible;
        /* white-space: pre; */
    }
    #printSection {
        position:absolute;
        left:0;
        top:0;
         /* border: 1px solid red;  */
         white-space: pre-line; 
    }

    tr:last-child {
        white-space: nowrap; 
    }
     /* #printSection a, #printSection span, #printSection tr, #printSection td { white-space: pre-line; }  */

    
}


.navbar {
  margin-bottom: 0px;
}


/* ==========================================================================
Alarm templates display
========================================================================== */

section .buttons button{
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #666;
}
.check1, .check2, .check3{
margin-top: 14px;
}
.checkunit
{
    margin-top: 14px;
}
.checkunit select
{
    width: 154px;
    /* border-radius: 4px; */
    height: 30px;
} 
.check1 select{
      /* margin-left: 99px; */
    width: 154px;
    /* border-radius: 4px; */
    height: 30px;
}
.high input
{
    margin-left: 122px;
}
.check2 input{
  margin-left: 81px;
}
.check3 input{
   margin-left: 36px;
}
.trigger .checkbox span
{
    font-weight: bold;
}

section h4{
  background-color:rgb(221, 221, 221);
  padding: 7px;
  font-weight: bold;
  width:60%;
}
.locationManager
{
    max-height: calc(100vh - 160px);
    overflow: auto;
}
.locationManager section h4{
    padding: 7px;
    font-weight: bold;
    width:80%;
   
  }
.cond_tion{
margin: 15px 0px 12px;
}
.cond_tion span{
width: 8%;
    margin-left: 30px;
}
.cond_tion select,.cond_tion1 select{
  width: 8%;
  clear: both;
  margin-left: 30px;
  border-radius: 5px;
}
.cond_tion1 span{
width: 8%;
    margin-left: 30px;
}
.cond_tion1 select{
  width: 8%;
  clear: both;
      margin-left: 30px;
}
.active_time{
margin: 20px 0px 16px 0px;
}
.active_time .day{
  float: left;
    width: 13%;
}
.active_time span{
/*margin-left: 30px;*/
}
.active_time input.time{
  width: 6%;
    background: #ddd;
  border-radius: 15px;
    text-align: center;
    border : 1px solid gray;
}
.active_time span.from, .active_time span.to{
      margin-right: 30px;
}
.trigger .limit{
  margin: 20px 65px;
}
.trigger .limit .high{
  float: left;
    width: 12%;
}
.trigger .limit input{
margin: 0px 10px 20px 50px;
    width: 100px;
    padding: 0px 0px 0px 10px;
}
 input:focus, select:focus{
  box-shadow: none;
  outline: none;
}
.trigger .limit select{
  margin: 0px 10px 20px 50px;
    border-radius: 16px;
    border: 1px solid #ddd;
    width: 12%;
    height: 24px;
}

.left_form{
	float: left;
}
.left_form p, .right_form p{
	font-size:18px;
	margin: 10px 0px;
}
.left_form span, .right_form span{
	word-spacing: 25px;
}
.right_form{
	float: left;
	width: 400px;
	    margin-top: 20px;
}
.right_form strong{
	font-size: 18px;
}
.buttons{
	display: block;
    clear: both;
    text-align: center;
}
.buttons button{
	    background-color: #101010;
    border: 1px solid #101010;
    color: #ffffff;
    font-weight: bold;
    padding: 6px 10px;
    font-size: 20px;
    border-radius: 7px;
    margin-right: 0px;
}
.buttons button:hover{
	background-color: #ddd;
	border: 1px solid #ddd;
	color: #000000;
}
.Acknowledgement{
	width: 600px;
    margin: 0 auto;
    background: #f5f5f5;
    padding: 2px 20px 30px;
    display: block;
    overflow: hidden;
}
.Acknowledgement p{
	width: 280px;
    float: left;
    text-align: right;
    clear: both;
    font-size: 24px;
    margin: 9px 0px;
}
.Acknowledgement input{
	    height: 30px;
    padding-left: 12px;
    border-radius: 17px;
    border: 1px solid #585858;
    float: left;
    width: 200px;
  }
.Acknowledgement select{
	float: left;
border-radius: 4px;
    width: 216px;
    padding: 8px 10px;
}
.Acknowledgement textarea{
	float: left;
	width: 210px;
	border-radius: 17px;
	padding-left: 12px;
}
.Acknowledgement .buttons{
	padding-top: 20px;
}

