<div>
	<h2 translate="polsoftApp.scheduler.home.title">Scheduled Jobs</h2>
	<p></p>
	<jhi-alert></jhi-alert>
	<button class="btn btn-primary fa fa-hdd-o" aria-hidden="true" ng-click="vm.backupNow()" ng-if="!vm.isRestore"> Backup Now</button></td>
	<div class="table-responsive">
		<table class="table table-striped">		
			<thead>
				<tr jh-sort="vm.predicate" ascending="vm.reverse"
					callback="vm.transition()" class="ng-isolate-scope">
				</tr>
			</thead>
			<tbody ng-if="!vm.isRestore">
			
				<tr data-ng-repeat="backup in vm.backups">
					<td>{{backup | amParse:'YYYY-MM-DD-HH-mm-ss' | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}  
						 <button ng-if="!vm.isRestore" class="btn btn-primary fa fa-check" aria-hidden="true" ng-click="vm.restoreDB(backup)"></button>
					 </td>										 
			</tbody>
			<tbody ng-if="vm.isRestore">
			<td>{{	 vm.verifyFileName | amParse:'YYYY-MM-DD-HH-mm-ss' | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}
			<button ng-if="vm.isRestore" class="btn btn-primary fa fa-undo" aria-hidden="true" ng-click="vm.restore(vm.verifyFileName)"></button>
			</tbody>	
		</table>
	</div>
</div>