<!doctype html>
<html class="no-js">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="-1">
<title>Polsoft</title>
<meta name="description" content="">
<meta name="google" value="notranslate">
<meta name="viewport" content="width=device-width">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- build:css content/css/main.css -->
<!-- build:css content/css/vendor.css -->
<!-- <link rel="stylesheet" href="content/css/vendor.css"> -->
<!-- bower:css -->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css">
<link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css">
<link rel="stylesheet" href="bower_components/angular-ui-bootstrap-datetimepicker/datetimepicker.css">
<link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.css">
<link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.css">
<link rel="stylesheet" href="bower_components/v-tabs/dist/v-tabs.css">
<link rel="stylesheet" href="bower_components/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.min.css">
<link rel="stylesheet" href="bower_components/angular-object-diff/dist/angular-object-diff.css">
<link rel="stylesheet" href="bower_components/angular-cron-jobs/dist/angular-cron-jobs.min.css">

<!-- endinject -->
<link rel="stylesheet" href="content/css/styles.css">
<link href="bower_components/bootstrap-side-navbar/source/assets/stylesheets/navbar-fixed-side.css" rel="stylesheet" />
<link rel="stylesheet" href="content/css/main.css">


<!-- endbuild -->
<!-- endbuild -->

<style type="text/css">
.datetimepicker-wrapper {
	vertical-align: middle;
	display: inline-block;
}

.datetimepicker-wrapper>input {
	margin-bottom: 0 !important;
	width: 130px;
}

.datetimepicker-wrapper [ng-model=hours], .datetimepicker-wrapper [ng-model=minutes]
	{
	width: 46px !important;
}

/*input { -webkit-text-security: none; }
input { -webkit-text-security: circle; }
input { -webkit-text-security: square; }
input { -webkit-text-security: disc; /* Default }*/


</style>
<script>
console.log('Testing',window);
if (window.opener && window.opener !== window) {
  // you are in a popup
  console.log('In iFrame');
}
  
else {
  // not in frame
	 console.log('Not In iFrame');
	  window.location='https://'+window.location.host+'/polsoft.html';
	 //document.getElemtByClass('polsoft-app').innerHTML = "Click here to open the app";
	// window.stop();
	// 'use strict';
    // let params = `scrollbars=no,resizable=no,status=no,location=no,toolbar=no,menubar=no,
    // width=0,height=0,left=-1000,top=-1000`;
    
    // open('http://localhost:9000', 'test', params);

	// document.getElemtById('body').empty();

	setTimeout (function() {window.stop();},1000);


}


// window.onbeforeunload = function (e) {
//     e = e || window.event;

//     // For IE and Firefox prior to version 4
//     if (e) {
//         e.returnValue = 'Sure?';
//     }

//     // For Safari
//     return 'Sure?';
// };

// function DetectBrowserExit()
// {
//    alert('Execute task which do you want before exit');
// }

// window.onbeforeunload = function(){ DetectBrowserExit(); }

document.addEventListener("DOMContentLoaded", function(event) {
    console.log("DOM fully loaded and parsed");
  });
</script>
</head>
<body ng-app="polsoftApp" ng-strict-di class="polsoft-app">
	<!--[if lt IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
	<!-- page-ribbon></page-ribbon -->
	<div ui-view="navbar" ng-cloak></div>
	<div ui-view="heartbeat" ng-cloak></div>
	<!-- section data-ng-controller="HeartbeatController">
	</section -->
	<div class="container-fluid" style="margin-top:50px">
			<div class="col-sm-3 col-lg-2"></div>
			<div class="col-sm-9 col-lg-10" ui-view="content"></div>
			<!-- Angular views -->		
		<!--  div class="footer" ng-cloak>
            <p translate="footer">This is your footer</p>
        </div-->
	</div>

	<!-- Google Analytics: uncomment and change UA-XXXXX-X to be your site's ID.
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>-->

	<!-- build:js app/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/messageformat/messageformat.js"></script>
	<script src="bower_components/json3/lib/json3.js"></script>
	<script src="bower_components/sockjs-client/dist/sockjs.js"></script>
	<script src="bower_components/stomp-websocket/lib/stomp.min.js"></script>
	<script src="bower_components/highcharts-release/highcharts.js"></script>
	<script src="bower_components/arrive/src/arrive.js"></script>
	<script src="bower_components/jquery-validation/dist/jquery.validate.js"></script>
	<script src="bower_components/moment/moment.js"></script>
 	<script src="bower_components/d3/d3.js"></script>
	<script src="bower_components/nvd3/build/nv.d3.js"></script>
	<script src="bower_components/d3/d3.js"></script>
	<script src="bower_components/nvd3/build/nv.d3.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-number-picker/dist/angular-number-picker.js"></script>
	<script src="bower_components/angular-aria/angular-aria.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="bower_components/angular-cache-buster/angular-cache-buster.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
	<script src="bower_components/ngstorage/ngStorage.js"></script>
	<script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-translate/angular-translate.js"></script>
	<script src="bower_components/angular-translate-interpolation-messageformat/angular-translate-interpolation-messageformat.js"></script>
	<script src="bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
	<script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
	<script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
	<script src="bower_components/angular-ui-bootstrap-datetimepicker/datetimepicker.js"></script>
	<script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
	<script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
	<script src="bower_components/ng-idle/angular-idle.js"></script>
	<script src="bower_components/angular-moment/angular-moment.js"></script>
	<script src="bower_components/v-tabs/dist/v-tabs.js"></script>
	<script src="bower_components/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.min.js"></script>
	<script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
	<script src="bower_components/angular-object-diff/dist/angular-object-diff.js"></script>
	<script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
	<script src="bower_components/angular-object-diff/dist/angular-object-diff.js"></script>
	<script src="bower_components/angular-cron-jobs/dist/angular-cron-jobs.min.js"></script>
	<script src="bower_components/jsencrypt/bin/jsencrypt.min.js"></script>
	<!-- endinject -->
	<!-- endbuild -->
       <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/build/nv.d3.js"></script> <!-- or use another assembly -->
    <script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
	<script src="bower_components/angular-number-picker/dist/angular-number-picker.js"></script>	

	<script src="app/customscripts/ng-tags-input/ng-tags-input.js"></script>
	<script src="bower_components/angular-bootstrap-multiselect/dist/angular-bootstrap-multiselect.min.js"></script>
	<script src="app/customscripts/jsTag.min.js"></script>
	<script src="app/customscripts/abn_tree_directive.js"></script>



	<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.js"></script> -->
    <script src="//rawgit.com/iVantage/angular-ivh-treeview/master/dist/ivh-treeview.js"></script>


	<!-- build:js app/app.js  -->
	<link rel="stylesheet" href="app/customscripts/jsTag.css">
<link rel="stylesheet" href="app/customscripts/abn_tree.css">
<link rel="stylesheet" href="//rawgit.com/iVantage/angular-ivh-treeview/master/dist/ivh-treeview.css">
<link rel="stylesheet" href="//rawgit.com/iVantage/angular-ivh-treeview/master/dist/ivh-treeview-theme-basic.css">
	<!-- inject:js -->

	<script src="app/app.module.js"></script>

	<script src="app/services/user/user.service.js"></script>

	<script src="app/services/session/idlesettings.service.js"></script>

	<script src="app/services/profiles/profile.service.js"></script>

	<script src="app/services/profiles/page-ribbon.directive.js"></script>

	<script src="app/services/events/events.service.js"></script>

	<script src="app/services/channel/helper.service.js"></script>

	<script src="app/services/channel/channel.service.js"></script>

	<script src="app/services/auth/sessions.service.js"></script>

	<script src="app/services/auth/register.service.js"></script>

	<script src="app/services/auth/principal.service.js"></script>

	<script src="app/services/auth/password-reset-init.service.js"></script>

	<script src="app/services/auth/password-reset-finish.service.js"></script>

	<script src="app/services/auth/password.service.js"></script>

	<script src="app/services/auth/has-permission.directive.js"></script>

	<script src="app/services/auth/has-authority.directive.js"></script>

	<script src="app/services/auth/has-any-authority.directive.js"></script>

	<script src="app/services/auth/changepassword.service.js"></script>

	<script src="app/services/auth/auth.session.service.js"></script>

	<script src="app/services/auth/auth.service.js"></script>
	<script src="app/services/auth/encrypt.service.js"></script>

	<script src="app/services/auth/activate.service.js"></script>

	<script src="app/services/auth/account.service.js"></script>

	<script src="app/services/alarm/alarms.set.service.js"></script>

	<script src="app/my-alarms/services/my-alarms.service.js"></script>

	<script src="app/my-alarms/my-alarms.state.js"></script>

	<script src="app/my-alarms/my-alarm.template.detail.controller.js"></script>

	<script src="app/my-alarms/my-alarm.state.js"></script>

	<script src="app/my-alarms/my-alarm.controller.js"></script>

	<script src="app/my-alarms/controllers/options.controller.js"></script>

	<script src="app/my-alarms/controllers/my-alarms.channels.controller.js"></script>

	<script src="app/my-alarms/controllers/my-alarms.channel.detail.controller.js"></script>

	<script src="app/my-alarms/controllers/my-alarms.channel.controller.js"></script>

	<script src="app/locationManager/old/location.manager.state.js"></script>

	<script src="app/locationManager/old/location.manager.controller.js"></script>

	<script src="app/locationManager/old/angular-ui-tree.js"></script>

	<script src="app/locationManager/locationManager.state.js"></script>

	<script src="app/locationManager/locationManager.service.js"></script>

	<script src="app/locationManager/locationManager.linkDevice.dialog.controller.js"></script>

	<script src="app/locationManager/locationManager.controller.js"></script>

	<script src="app/locationManager/locationManager.addUser.dialog.controller.js"></script>

	<script src="app/layouts/navbar/navbar.controller.js"></script>

	<script src="app/layouts/navbar/active-menu.directive.js"></script>

	<script src="app/layouts/navbar/active-link.directive.js"></script>

	<script src="app/layouts/heartbeat/heartbeat.controller.js"></script>
	<script src="app/entities/device/device.tracker.js"></script>
	<script src="app/layouts/error/error.state.js"></script>

	<script src="app/home/home.state.js"></script>

	<script src="app/home/home.controller.js"></script>

	<script src="app/home/home.service.js"></script>

	<script src="app/events/events.state.js"></script>

	<script src="app/events/events.controller.js"></script>

	<script src="app/entities/user-permission/user-permission-dialog.controller.js"></script>

	<script src="app/entities/user-permission/user-permission-detail.controller.js"></script>

	<script src="app/entities/user-permission/user-permission-delete-dialog.controller.js"></script>

	<script src="app/entities/user-permission/user-permission.state.js"></script>

	<script src="app/entities/user-permission/user-permission.service.js"></script>

	<script src="app/entities/user-permission/user-permission.search.service.js"></script>

	<script src="app/entities/user-permission/user-permission.controller.js"></script>

	<script src="app/entities/user-password/user-password-dialog.controller.js"></script>

	<script src="app/entities/user-password/user-password-detail.controller.js"></script>

	<script src="app/entities/user-password/user-password-delete-dialog.controller.js"></script>

	<script src="app/entities/user-password/user-password.state.js"></script>

	<script src="app/entities/user-password/user-password.service.js"></script>

	<script src="app/entities/user-password/user-password.search.service.js"></script>

	<script src="app/entities/user-password/user-password.controller.js"></script>

	<script src="app/entities/user-account/user-account-dialog.controller.js"></script>

	<script src="app/entities/user-account/user-account-detail.controller.js"></script>

	<script src="app/entities/user-account/user-account-delete-dialog.controller.js"></script>

	<script src="app/entities/user-account/user-account.state.js"></script>

	<script src="app/entities/user-account/user-account.service.js"></script>

	<script src="app/entities/user-account/user-account.search.service.js"></script>

	<script src="app/entities/user-account/user-account.controller.js"></script>

	<script src="app/entities/template/template-dialog.controller.js"></script>

	<script src="app/entities/template/template-detail.controller.js"></script>

	<script src="app/entities/template/template-delete-dialog.controller.js"></script>

	<script src="app/entities/template/template.state.js"></script>

	<script src="app/entities/template/template.service.js"></script>

	<script src="app/entities/template/template.search.service.js"></script>

	<script src="app/entities/template/template.controller.js"></script>

	<script src="app/entities/systempreferences/systempreferences-dialog.controller.js"></script>

	<script src="app/entities/systempreferences/systempreferences-detail.controller.js"></script>

	<script src="app/entities/systempreferences/systempreferences-delete-dialog.controller.js"></script>

	<script src="app/entities/systempreferences/systempreferences.state.js"></script>

	<script src="app/entities/systempreferences/systempreferences.service.js"></script>

	<script src="app/entities/systempreferences/systempreferences.search.service.js"></script>

	<script src="app/entities/systempreferences/systempreferences.controller.js"></script>

	<script src="app/entities/resource/resource-dialog.controller.js"></script>

	<script src="app/entities/resource/resource-detail.controller.js"></script>

	<script src="app/entities/resource/resource-delete-dialog.controller.js"></script>

	<script src="app/entities/resource/resource.state.js"></script>

	<script src="app/entities/resource/resource.service.js"></script>

	<script src="app/entities/resource/resource.search.service.js"></script>

	<script src="app/entities/resource/resource.controller.js"></script>

	<script src="app/entities/reports/reports-dialog.controller.js"></script>

	<script src="app/entities/reports/reports.state.js"></script>

	<script src="app/entities/reports/reports.service.js"></script>

	<script src="app/entities/reports/reports.controller.js"></script>

	<script src="app/entities/report-template/report-template-dialog.controller.js"></script>

	<script src="app/entities/report-template/report-template-detail.controller.js"></script>

	<script src="app/entities/report-template/report-template-delete-dialog.controller.js"></script>

	<script src="app/entities/report-template/report-template.state.js"></script>

	<script src="app/entities/report-template/report-template.service.js"></script>

	<script src="app/entities/report-template/report-template.search.service.js"></script>

	<script src="app/entities/report-template/report-template.controller.js"></script>

	<script src="app/entities/logindata/logindata-dialog.controller.js"></script>

	<script src="app/entities/logindata/logindata-detail.controller.js"></script>

	<script src="app/entities/logindata/logindata-delete-dialog.controller.js"></script>

	<script src="app/entities/logindata/logindata.state.js"></script>

	<script src="app/entities/logindata/logindata.service.js"></script>

	<script src="app/entities/logindata/logindata.search.service.js"></script>

	<script src="app/entities/logindata/logindata.controller.js"></script>

	<script src="app/entities/location/locationtree.service.js"></script>

	<script src="app/entities/location/location-dialog.controller.js"></script>

	<script src="app/entities/location/location-detail.controller.js"></script>

	<script src="app/entities/location/location-delete-dialog.controller.js"></script>

	<script src="app/entities/location/location.tracker.service.js"></script>

	<script src="app/entities/location/location.state.js"></script>

	<script src="app/entities/location/location.service.js"></script>

	<script src="app/entities/location/location.search.service.js"></script>

	<script src="app/entities/location/location.controller.js"></script>

	<script src="app/entities/entity-config/entity-config.state.js"></script>

	<script src="app/entities/entity-config/entity-config.service.js"></script>

	<script src="app/entities/entity-config/entity-config.search.service.js"></script>

	<script src="app/entities/entity-config/entity-config.controller.js"></script>

	<script src="app/entities/entity.state.js"></script>

	<script src="app/entities/devicedata/devicedata-dialog.controller.js"></script>

	<script src="app/entities/devicedata/devicedata-detail.controller.js"></script>

	<script src="app/entities/devicedata/devicedata-delete-dialog.controller.js"></script>

	<script src="app/entities/devicedata/devicedata.state.js"></script>

	<script src="app/entities/devicedata/devicedata.service.js"></script>

	<script src="app/entities/devicedata/devicedata.search.service.js"></script>

	<script src="app/entities/devicedata/devicedata.controller.js"></script>

	<script src="app/entities/device/jquery.easyui.min.js"></script>
	<script src="app/entities/device/dynamicngmodel.directive.js"></script>

	<script src="app/entities/device/device-dialog.controller.js"></script>

	<script src="app/entities/device/device-detail.controller.js"></script>

	<script src="app/entities/device/device-delete-dialog.controller.js"></script>

	<script src="app/entities/device/device.state.js"></script>

	<script src="app/entities/device/device.service.js"></script>

	<script src="app/entities/device/device.search.service.js"></script>

	<script src="app/entities/device/device.controller.js"></script>

	<script src="app/entities/dchannel/dchannel-dialog.controller.js"></script>

	<script src="app/entities/dchannel/dchannel-detail.controller.js"></script>

	<script src="app/entities/dchannel/dchannel-delete-dialog.controller.js"></script>

	<script src="app/entities/dchannel/dchannel.state.js"></script>

	<script src="app/entities/dchannel/dchannel.service.js"></script>

	<script src="app/entities/dchannel/dchannel.search.service.js"></script>

	<script src="app/entities/dchannel/dchannel.controller.js"></script>

	<script src="app/entities/channel-alarm/channel-alarm-dialog.controller.js"></script>

	<script src="app/entities/channel-alarm/channel-alarm-detail.controller.js"></script>

	<script src="app/entities/channel-alarm/channel-alarm-delete-dialog.controller.js"></script>

	<script src="app/entities/channel-alarm/channel-alarm.state.js"></script>

	<script src="app/entities/channel-alarm/channel-alarm.service.js"></script>

	<script src="app/entities/channel-alarm/channel-alarm.search.service.js"></script>

	<script src="app/entities/channel-alarm/channel-alarm.controller.js"></script>

	<script src="app/entities/alarms/alarmtemplate.service.js"></script>

	<script src="app/entities/alarms/alarmtemplate.controller.js"></script>

	<script src="app/entities/alarms/alarms-dialog.controller.js"></script>

	<script src="app/entities/alarms/alarms-detail.controller.js"></script>

	<script src="app/entities/alarms/alarms-delete-dialog.controller.js"></script>

	<script src="app/entities/alarms/alarms.tracker.js"></script>
	<script src="app/entities/alarms/alarmduration.directive.js"></script>

	<script src="app/entities/alarms/alarms.state.js"></script>

	<script src="app/entities/alarms/alarms.service.js"></script>

	<script src="app/entities/alarms/alarms.search.service.js"></script>

	<script src="app/entities/alarms/alarms.controller.js"></script>

	<script src="app/device/device.state.js"></script>

	<script src="app/device/device.service.js"></script>

	<script src="app/device/device.controller.js"></script>

	<script src="app/device/datasocket.service.js"></script>

	<script src="app/customscripts/ng-tags-input/ng-tags-input.js"></script>

	<script src="app/customscripts/jsTag.min.js"></script>

	<script src="app/customscripts/angular.treeview.js"></script>

	<script src="app/customscripts/abn_tree_directive.js"></script>

	<script src="app/components/util/truncate-words.filter.js"></script>

	<script src="app/components/util/truncate-characters.filter.js"></script>

	<script src="app/components/util/sort-by.directive.js"></script>

	<script src="app/components/util/sort.directive.js"></script>

	<script src="app/components/util/parse-links.service.js"></script>

	<script src="app/components/util/pagination-util.service.js"></script>

	<script src="app/components/util/jhi-item-count.directive.js"></script>

	<script src="app/components/util/div-print-directive.js"></script>

	<script src="app/components/util/date-util.service.js"></script>

	<script src="app/components/util/data-util.service.js"></script>

	<script src="app/components/util/capitalize.filter.js"></script>

	<script src="app/components/util/base64.service.js"></script>

	<script src="app/components/login/loginView/loginView.state.js"></script>

	<script src="app/components/login/loginView/loginView.controller.js"></script>

	<script src="app/components/login/login.service.js"></script>

	<script src="app/components/login/login.controller.js"></script>

	<script src="app/components/language/language.service.js"></script>

	<script src="app/components/language/language.filter.js"></script>

	<script src="app/components/language/language.controller.js"></script>

	<script src="app/components/language/language.constants.js"></script>

	<script src="app/components/form/show-validation.directive.js"></script>

	<script src="app/components/form/pagination.constants.js"></script>

	<script src="app/components/form/minbytes.directive.js"></script>

	<script src="app/components/form/maxbytes.directive.js"></script>

	<script src="app/components/chart/chart.directive.js"></script>

	<script src="app/components/alert/alert-error.directive.js"></script>

	<script src="app/components/alert/alert.service.js"></script>

	<script src="app/components/alert/alert.directive.js"></script>

	<script src="app/channel/channel.state.js"></script>

	<script src="app/channel/channel.helper.service.js"></script>

	<script src="app/channel/channel.controller.js"></script>

	<script src="app/channel/alarmsoff.service.js"></script>

	<script src="app/channel/alarm.controller.js"></script>

	<script src="app/blocks/interceptor/notification.interceptor.js"></script>

	<script src="app/blocks/interceptor/errorhandler.interceptor.js"></script>

	<script src="app/blocks/interceptor/auth-expired.interceptor.js"></script>

	<script src="app/blocks/handlers/translation.handler.js"></script>

	<script src="app/blocks/handlers/state.handler.js"></script>

	<script src="app/blocks/config/uib-pagination.config.js"></script>

	<script src="app/blocks/config/uib-pager.config.js"></script>

	<script src="app/blocks/config/translation-storage.provider.js"></script>

	<script src="app/blocks/config/translation.config.js"></script>

	<script src="app/blocks/config/localstorage.config.js"></script>

	<script src="app/blocks/config/http.config.js"></script>

	<script src="app/blocks/config/compile.config.js"></script>

	<script src="app/blocks/config/alert.config.js"></script>

	<script src="app/app.state.js"></script>

	<script src="app/app.constants.js"></script>

	<script src="app/admin/user-management/user-management-permission.controller.js"></script>

	<script src="app/admin/user-management/user-management-password.controller.js"></script>

	<script src="app/admin/user-management/user-management-dialog.controller.js"></script>

	<script src="app/admin/user-management/user-management-detail.controller.js"></script>

	<script src="app/admin/user-management/user-management-delete-dialog.controller.js"></script>

	<script src="app/admin/user-management/user-management.state.js"></script>

	<script src="app/admin/user-management/user-management.controller.js"></script>

	<script src="app/admin/user-management/permission.service.js"></script>

	<script src="app/admin/user-management/effective-permission.service.js"></script>

	<script src="app/admin/user-management/bulk-permission.service.js"></script>

	<script src="app/admin/tracker/tracker.state.js"></script>

	<script src="app/admin/tracker/tracker.service.js"></script>

	<script src="app/admin/tracker/tracker.controller.js"></script>

	<script src="app/admin/scheduler/schedulerUpdate.service.js"></script>

	<script src="app/admin/scheduler/scheduler.state.js"></script>

	<script src="app/admin/scheduler/scheduler.service.js"></script>

	<script src="app/admin/scheduler/scheduler.controller.js"></script>

	<script src="app/admin/scheduler/loadJobClasses.service.js"></script>

	<script src="app/admin/scheduler/jobslist.service.js"></script>

	<script src="app/admin/role-management/role-management-dialog.controller.js"></script>

	<script src="app/admin/role-management/role-management-detail.controller.js"></script>

	<script src="app/admin/role-management/role-management-delete-dialog.controller.js"></script>

	<script src="app/admin/role-management/role-management.state.js"></script>

	<script src="app/admin/role-management/role-management.controller.js"></script>

	<script src="app/admin/role-management/role.service.js"></script>

	<script src="app/admin/role-management/role.resources.service.js"></script>

	<script src="app/admin/metrics/metrics.state.js"></script>

	<script src="app/admin/metrics/metrics.service.js"></script>

	<script src="app/admin/metrics/metrics.modal.controller.js"></script>

	<script src="app/admin/metrics/metrics.controller.js"></script>

	<script src="app/admin/logs/logs.state.js"></script>

	<script src="app/admin/logs/logs.service.js"></script>

	<script src="app/admin/logs/logs.controller.js"></script>

	<script src="app/admin/health/health.state.js"></script>

	<script src="app/admin/health/health.service.js"></script>

	<script src="app/admin/health/health.modal.controller.js"></script>

	<script src="app/admin/health/health.controller.js"></script>

	<script src="app/admin/docs/docs.state.js"></script>

	<script src="app/admin/configuration/configuration.state.js"></script>

	<script src="app/admin/configuration/configuration.service.js"></script>

	<script src="app/admin/configuration/configuration.controller.js"></script>

	<script src="app/admin/backup/backupnow.service.js"></script>

	<script src="app/admin/backup/backup.state.js"></script>

	<script src="app/admin/backup/backup.service.js"></script>

	<script src="app/admin/backup/backup.controller.js"></script>

	<script src="app/admin/audits/entity-audit.detail.controller.js"></script>

	<script src="app/admin/audits/audits.state.js"></script>

	<script src="app/admin/audits/audits.service.js"></script>

	<script src="app/admin/audits/audits.controller.js"></script>

	<script src="app/admin/audits/audit.tracker.js"></script>

	<script src="app/admin/admin.state.js"></script>

	<script src="app/account/settings/settings.state.js"></script>

	<script src="app/account/settings/settings.controller.js"></script>

	<script src="app/account/sessions/sessions.state.js"></script>

	<script src="app/account/sessions/sessions.controller.js"></script>

	<script src="app/account/reset/request/reset.request.state.js"></script>

	<script src="app/account/reset/request/reset.request.controller.js"></script>

	<script src="app/account/reset/finish/reset.finish.state.js"></script>

	<script src="app/account/reset/finish/reset.finish.controller.js"></script>

	<script src="app/account/register/register.state.js"></script>

	<script src="app/account/register/register.controller.js"></script>

	<script src="app/account/password/password-strength-bar.directive.js"></script>

	<script src="app/account/password/password.state.js"></script>

	<script src="app/account/password/password.controller.js"></script>

	<script src="app/account/activate/activate.state.js"></script>

	<script src="app/account/activate/activate.controller.js"></script>

	<script src="app/account/account.state.js"></script>

	<!-- endinject -->
	<!-- endbuild -->

</body>

</html>
