<!DOCTYPE html>
<html lang=" EN" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Polsof Ver 2.0</title>

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="bower_components/angular/angular.js"></script>
<style>
body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", sans-serif
}

.w3-bar, h1, button {
	font-family: "Montserrat", sans-serif
}

.fa-anchor, .fa-coffee {
	font-size: 200px
}
</style>
</head>

<script>
    'use strict';
    var app = angular.module("polsoftiframe", []);
    app.controller("myCtrl", function ($scope, $http) {
        $http({
            method: 'GET',
            url: '/api/getConfig'
        }).then(function successCallback(response) {
            $scope.openIframe();
            // when the response is available
        }, function errorCallback(response) {
            // called asynchronously if an error occurs
            // or server returns response with an error status.
            //alert("Error in getConfig");
            $scope.openIframe();
        });

        $scope.openIframe = function (response) {
            let params = 'scrollbars=no,resizable=no,status=no,location=no,toolbar=no,menubar=no,width=0,height=0,left=-1000,top=-1000';
            // this callback will be called asynchronously
            open(response ? response.url : 'https://'+window.location.host, 'Polsoft', params);
        }
    });

</script>

<body oncontextmenu="return false" style = "overflow:hidden;">

    <div ng-app="polsoftiframe" ng-controller="myCtrl">
        <div class="w3-top">
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-blue w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Welcome To Polsoft Ver 2.0</h1>
 <!--  <p class="w3-xlarge">Product From Polmon</p> -->
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" ng-click="openIframe()">Get Started</button>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>POLSOFT</h1>
      <h5 class="w3-padding-32"> 
      Polsoft Data Acquisition Software is a 21 CFR compliant, state of the art solution that provides a comprehensive solution to data logging requirements in regulated eviroments. Polsoft incorporates the latest in computer system validation(CSV) requirements for regulated enviroments. Polsoft along with highly advanced data loggers provide many features to ease the compliance burden on the life sciences industry. 
      Polsoft is used to display, log and report process parameters from various locations in the field
      </h5>
	  <h6>
      <h5 class="w3-text-black">
      The Data Logger collects the data from field instruments such as Temperature Sensors, Pressure Transmitters, pH loggers and sends the data over ethernet to Polsoft. In the event of communication or hard disk failure of the Server PC running Polsoft, the Data logger can store data of 144 channels for 7 days. 
      Upon resuming communication, the process data is seamlessly restored to the Server PC.    
      </h5>
      </h6>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-anchor w3-padding-64 w3-text-blue"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<!-- <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-blue w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Lorem Ipsum</h1>
      <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>

      <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div> -->

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: live life</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
 <p>Powered by <a href="http://www.polmon.com/" target="_blank">Polmon</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
    </div>
</body>

</html>