<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 channelPanelDivs">
     <div class="panel panel-primary">
        <div class="panel-heading">
           <h3 class="panel-title">Options</h3>
        </div>
        <div class="panel-body">
          <form name="userForm" role="form" novalidate ng-submit="submitForm(userForm.$valid)">
             <div class="form-group">
                 Block
                  <select class="form-control" ng-model="selectedChannel_" ng-options="d.id as d.name for d in channelList1" ng-change="">
                  </select>
             </div>
             <div class="form-group">
                 Group
                 <select class="form-control" ng-model="selectedChannel__" ng-options="d.id as d.name for d in channelList1" ng-change="">
                 </select>
             </div>
             <div class="form-group">
                 Reactor
                 <select class="form-control" ng-model="selectedChannelId" ng-options="d.id as d.name for d in channelList1" ng-change="">
                 </select>
             </div>
             <div class="form-group">
                Time Interval
                <select class="form-control" ng-model="selectedInterval" ng-options="d.name for d in Intervals" ng-change="changeIntervalValue(selectedInterval)">
                </select>
             </div>
             <div class="form-group">
                Start Date and Time
                <datetimepicker hour-step="hourStep" minute-step="minuteStep" ng-model="startDateTime" show-meridian="showMeridian" date-format="dd-MMM-yyyy" date-options="dateOptions" date-disabled="disabled(date, mode)" readonly-date="false" readonly-time="false" required>
                </datetimepicker>
             </div>
             <div class="form-group">
                End Date and Time
                <datetimepicker hour-step="hourStep" minute-step="minuteStep" ng-model="endDateTime" show-meridian="showMeridian" date-format="dd-MMM-yyyy" date-options="dateOptions" date-disabled="disabled(date, mode)" readonly-date="false" readonly-time="false" required>
                </datetimepicker>
             </div>  
                <button type="submit" class="btn btn-primary btn-block">Display Chart</button>
                <button type="button" id="downloadChart" class="btn btn-success btn-block">Download</button>
                <button type="button" id="ZoomChart" ng-click="zoomIn()" class="btn btn-primary btn-block">Zoom In</button>
                <button type="button" id="ZoomChart" ng-click="zoomOut()" class="btn btn-primary btn-block">Zoom Out</button>
           </form>
        </div>
     </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 channelPanelDivs">
     <div class="panel panel-primary">
        <div class="panel-heading">
           <h3 class="panel-title">Graph</h3>
        </div>
        <div class="panel-body">
          <highchart id="chartId" config="multipleChartConfig"> </highchart>
        </div>
     </div>
     <div ng-show="showAlert">
        <div ng-include="'/app/channel/channel-partials/alert.formCheckMinutes.html'" ng-if="minutesInvalid">
        </div>
        <div ng-include="'/app/channel/channel-partials/alert.formCheckHours.html'" ng-if="hoursInvalid">
        </div>
        <div ng-include="'/app/channel/channel-partials/alert.formZoomLimit.html'" ng-if="zoomInvalid">
        </div>
     </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 channelPanelDivs">
     <div class="panel panel-primary">
        <div class="panel-heading">
           <h3 class="panel-title">Channels</h3>
        </div>
        <div class="panel-body customPanel">
           <div class="form-group">
              <div class="col-xs-12">
                 <div>
                    <span class="glyphicon glyphicon-bell" ng-click="setAlarm(cb)"></span>
                    <input type="checkbox" ng-model="allSelected" ng-click="toggleAll()">
                    <label>
                    All
                    </label>
                 </div>
                 <br>
                 <div ng-repeat="cb in channelList">
                    <div>
                       <span class="glyphicon glyphicon-bell" ui-sref="channel.setAlarm" ng-click="setAlarm(cb)"></span>
                       <input type="checkbox" ng-model="cb.toShow" ng-click="cbChecked()">
                       <label>
                       {{cb.name}}
                       </label>
                       <br>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>

<style type="text/css">
.customPanel {
     padding: 0px; 
}
.channelPanelDivs{
    padding-right: 6px;
    padding-left: 6px;
}
</style>