
<div>
    <h2><span translate="polsoftApp.devicedata.detail.title">Devicedata</span> {{vm.devicedata.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="polsoftApp.devicedata.deviceid">Deviceid</span></dt>
        <dd>
            <span>{{vm.devicedata.deviceid}}</span>
        </dd>
        <dt><span translate="polsoftApp.devicedata.channelData">Channel Data</span></dt>
        <dd>
            <span>{{vm.devicedata.channelData}}</span>
        </dd>
        <dt><span translate="polsoftApp.devicedata.timeCollected">Time Collected</span></dt>
        <dd>
            <span>{{vm.devicedata.timeCollected | date:'medium'}}</span>
        </dd>
        <dt><span translate="polsoftApp.devicedata.device">Device</span></dt>
        <dd>
            <a ui-sref="device-detail({id:vm.devicedata.deviceId})">{{vm.devicedata.deviceId}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="devicedata-detail.edit({id:vm.devicedata.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
