
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDevicedataLabel" translate="polsoftApp.devicedata.home.createOrEditLabel">Create or edit a Devicedata</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.devicedata.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.devicedata.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="polsoftApp.devicedata.deviceid" for="field_deviceid">Deviceid</label>
            <input type="number" class="form-control" name="deviceid" id="field_deviceid"
                    ng-model="vm.devicedata.deviceid"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="polsoftApp.devicedata.channelData" for="field_channelData">Channel Data</label>
            <input type="text" class="form-control" name="channelData" id="field_channelData"
                    ng-model="vm.devicedata.channelData"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="polsoftApp.devicedata.timeCollected" for="field_timeCollected">Time Collected</label>
                <div class="input-group">
                    <input id="field_timeCollected" type="text" class="form-control" name="timeCollected" datetime-picker="{{dateformat}}" ng-model="vm.devicedata.timeCollected" is-open="vm.datePickerOpenStatus.timeCollected"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('timeCollected')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label translate="polsoftApp.devicedata.device" for="field_device">Device</label>
            <select class="form-control" id="field_device" name="device" ng-model="vm.devicedata.deviceId" ng-options="device.id as device.id for device in vm.devices"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
